Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image ghcr.io/n8n-io/n8n ( 1.115.0 ➔ 1.115.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.115.0 ➔ 1.115.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.17.2 ➔ 2.18.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.17.2 ➔ 2.18.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/autobrr/autobrr ( v1.67.0 ➔ v1.68.0 )
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.67.0 ➔ v1.68.0 )
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.12 ➔ 0.17.13 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.12 ➔ 0.17.13 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.16.11 ➔ v0.16.12 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.16.11 ➔ v0.16.12 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.13 ➔ 0.17.14 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.13 ➔ 0.17.14 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/fluent-bit ( 0.53.0 ➔ 0.54.0 )
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/fluent-bit ( 0.53.0 ➔ 0.54.0 )
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/nzbget ( 25.3.0 ➔ 25.4.0 )
  kubernetes/apps/default/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/nzbget ( 25.3.0 ➔ 25.4.0 )
  kubernetes/apps/default/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.8 ➔ 0.0.9 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.8 ➔ 0.0.9 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.14.0 ➔ 78.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.14.0 ➔ 78.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image docker.io/prompp/prompp ( 0.5.2 ➔ 0.6.0 )
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/prompp/prompp ( 0.5.2 ➔ 0.6.0 )
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/grafana ( 10.0.0 ➔ 10.1.0 ) (#365)
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/grafana ( 10.0.0 ➔ 10.1.0 ) (#365)
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.0.0 ➔ 78.1.0 ) (#366)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.0.0 ➔ 78.1.0 ) (#366)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/autobrr/qui ( v1.3.0 ➔ v1.4.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.3.0 ➔ v1.4.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.1.0 ➔ 78.2.0 ) (#368)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.1.0 ➔ 78.2.0 ) (#368)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( 1.5.2 ➔ 1.5.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( 1.5.2 ➔ 1.5.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v43.0.16 ➔ v43.0.17 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v43.0.16 ➔ v43.0.17 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/home-operations/k8s-sidecar ( 1.30.10 ➔ 1.30.11 )
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/k8s-sidecar ( 1.30.10 ➔ 1.30.11 )
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.2.0 ➔ 78.2.1 ) (#371)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.2.0 ➔ 78.2.1 ) (#371)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli
