Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(rook-ceph): disable block discards for compatibility
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/opauth.go
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/template/renderer.go
Labels: area/homeops-cli

Update helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/coredns/coredns ( 1.12.3 ➔ 1.12.4 ) (#256)
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

refactor(templates): update talos schematic extensions and remove unused code
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/common/opauth_test.go
  cmd/homeops-cli/internal/common/secrets_test.go
  cmd/homeops-cli/internal/template/renderer.go
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

refactor(templates): update talos schematic extensions and remove unused code
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/common/opauth_test.go
  cmd/homeops-cli/internal/common/secrets_test.go
  cmd/homeops-cli/internal/template/renderer.go
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

docs: update readme with new infrastructure details
  README.md
Labels: area/docs

docs: update readme with new infrastructure details
  README.md
Labels: area/docs

docs: update version badges and descriptions in README
  README.md
Labels: area/docs

docs: update version badges and descriptions in README
  README.md
Labels: area/docs

docs: update README with CLI details and hardware specs
  README.md
Labels: area/docs

docs: update README with CLI details and hardware specs
  README.md
Labels: area/docs

docs: update dns configuration details in readme
  README.md
Labels: area/docs

docs: update dns configuration details in readme
  README.md
Labels: area/docs

fix(container): update image ghcr.io/karakeep-app/karakeep ( 0.27.0 ➔ 0.27.1 ) (#257)
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes
