Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(kromgo-proxy): match shields.io for-the-badge style with logos
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): match shields.io for-the-badge style with logos
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): match shields.io for-the-badge style with logos
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): polish badges with rounded corners, gradients, and bigger logos
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): polish badges with rounded corners, gradients, and bigger logos
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): polish badges with rounded corners, gradients, and bigger logos
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

fix(kromgo-proxy): center text vertically and remove textLength distortion
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): center text vertically and remove textLength distortion
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): center text vertically and remove textLength distortion
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): unified network status panel with icons and status dots
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): unified network status panel with icons and status dots
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): unified network status panel with icons and status dots
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

fix(kromgo-proxy): compact network panel layout, remove olive tint
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): compact network panel layout, remove olive tint
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): compact network panel layout, remove olive tint
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(alerts): reduce cellular WAN alert threshold from 10m to 90s
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(alerts): reduce cellular WAN alert threshold from 10m to 90s
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(alerts): reduce cellular WAN alert threshold from 10m to 90s
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(alertmanager): reduce warning group_wait from 5m to 1m
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(alertmanager): reduce warning group_wait from 5m to 1m
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(alertmanager): reduce warning group_wait from 5m to 1m
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action astral-sh/setup-uv ( v7.3.0 ➔ v7.3.1 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.3.0 ➔ v7.3.1 )
  .github/workflows/schemas.yaml
Labels: area/github

feat(observability): add multi-protocol WAN probes (HTTP/TCP) alongside ICMP
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(observability): add multi-protocol WAN probes (HTTP/TCP) alongside ICMP
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(observability): add multi-protocol WAN probes (HTTP/TCP) alongside ICMP
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.75 ➔ 0.0.79 ) (#823)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.75 ➔ 0.0.79 ) (#823)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat(kromgo-proxy): add rate limiting and CSP security headers
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): add rate limiting and CSP security headers
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): add rate limiting and CSP security headers
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(container): update image ghcr.io/actualbudget/actual-server ( 26.2.1 ➔ 26.3.0 ) (#824)
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/actualbudget/actual-server ( 26.2.1 ➔ 26.3.0 ) (#824)
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat(kromgo-proxy): add Renovate workflow status badge via GitHub API
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): add Renovate workflow status badge via GitHub API
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): embed repo logo as static asset in worker
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
  scripts/cloudflare-worker/kromgo-proxy/src/logo.b64.txt
  scripts/cloudflare-worker/kromgo-proxy/wrangler.toml
Labels: area/docs

feat(kromgo-proxy): embed repo logo as static asset in worker
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
  scripts/cloudflare-worker/kromgo-proxy/src/logo.b64.txt
  scripts/cloudflare-worker/kromgo-proxy/wrangler.toml
Labels: area/docs

fix(kromgo-proxy): harden route ordering and GIT_PAT validation
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): harden route ordering and GIT_PAT validation
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): tighten rate limits to protect free tier
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
