Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

build: update go version to 1.25.1 and add claude settings
  .serena/memories/project_overview.md
  cmd/homeops-cli/.claude/settings.local.json
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

refactor(envoy-gateway): reorder and add connection settings in envoy config
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

refactor(envoy-gateway): reorder and add connection settings in envoy config
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

refactor(envoy-gateway): reorder and add connection settings in envoy config
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(kubernetes): correct JSON patch structure in defaults component
  kubernetes/components/defaults/helmrelease/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): correct JSON patch structure in defaults component
  kubernetes/components/defaults/helmrelease/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): correct JSON patch structure in defaults component
  kubernetes/components/defaults/helmrelease/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): consolidate helmrelease defaults into components
  .claude/settings.local.json
  kubernetes/components/defaults/helmrelease/kustomization.yaml
  kubernetes/components/defaults/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): consolidate helmrelease defaults into components
  .claude/settings.local.json
  kubernetes/components/defaults/helmrelease/kustomization.yaml
  kubernetes/components/defaults/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): consolidate helmrelease defaults into components
  .claude/settings.local.json
  kubernetes/components/defaults/helmrelease/kustomization.yaml
  kubernetes/components/defaults/kustomization.yaml
Labels: area/kubernetes

chore: add yq to allowed bash commands list
  .claude/settings.local.json
Labels: none

chore: add yq to allowed bash commands list
  .claude/settings.local.json
Labels: none

chore: add yq to allowed bash commands list
  .claude/settings.local.json
Labels: none

fix(envoy-gateway): increase buffer limit and add http timeouts
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(envoy-gateway): increase buffer limit and add http timeouts
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(envoy-gateway): increase buffer limit and add http timeouts
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): update prometheus config and image version
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): update prometheus config and image version
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): update prometheus config and image version
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(volsync): add null checks for volumes in admission policies
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(volsync): add null checks for volumes in admission policies
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(volsync): add null checks for volumes in admission policies
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.22.0 ➔ v1.22.1 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.22.0 ➔ v1.22.1 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.35 ➔ 0.0.36 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.35 ➔ 0.0.36 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.0.0.10217 ➔ 6.0.1.10258 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.0.0.10217 ➔ 6.0.1.10258 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.16.8 ➔ 0.16.9 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.16.8 ➔ 0.16.9 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.66.1 ➔ v1.67.0 )
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.66.1 ➔ v1.67.0 )
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.1.0 ➔ v1.2.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.1.0 ➔ v1.2.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.113.3 ➔ 1.114.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.113.3 ➔ 1.114.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update release controlplaneio-fluxcd/distribution ( v2.6.4 ➔ v2.7.0 )
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update release controlplaneio-fluxcd/distribution ( v2.6.4 ➔ v2.7.0 )
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update flux-operator group ( 0.29.0 ➔ 0.30.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group ( 0.29.0 ➔ 0.30.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
