Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(container)!: Update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.16 ➔ 8.0.1 ) (#796)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.16 ➔ 8.0.1 ) (#796)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

flux: remove SOPS, align with upstream best practices
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

flux: remove SOPS, align with upstream best practices
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

flux: remove SOPS, align with upstream best practices
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.72.0 ➔ 0.72.1 ) (#801)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.72.0 ➔ 0.72.1 ) (#801)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/recyclarr/recyclarr ( 8.2.1 ➔ 8.3.0 ) (#802)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr ( 8.2.1 ➔ 8.3.0 ) (#802)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove SOPS/age from bootstrap and CLI
  .sops.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  cmd/homeops-cli/internal/templates/brew/Brewfile
  cmd/homeops-cli/main.go
Labels: area/bootstrap, area/homeops-cli

chore: remove SOPS/age from bootstrap and CLI
  .sops.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  cmd/homeops-cli/internal/templates/brew/Brewfile
  cmd/homeops-cli/main.go
Labels: area/bootstrap, area/homeops-cli

chore: remove SOPS/age from bootstrap and CLI
  .sops.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  cmd/homeops-cli/internal/templates/brew/Brewfile
  cmd/homeops-cli/main.go
Labels: area/bootstrap, area/homeops-cli

fix(container): update rook-ceph group ( v1.19.1 ➔ v1.19.2 ) (#800)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.19.1 ➔ v1.19.2 ) (#800)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

build: Update go.sum to reflect dependency changes.
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

build: Update go.sum to reflect dependency changes.
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

build: Update go.sum to reflect dependency changes.
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.1 ➔ 8.0.2 ) (#804)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.1 ➔ 8.0.2 ) (#804)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr ( 8.3.0 ➔ 8.3.1 ) (#803)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr ( 8.3.0 ➔ 8.3.1 ) (#803)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.331.0 ➔ 2.332.0 ) (#806)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.331.0 ➔ 2.332.0 ) (#806)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.2 ➔ 8.0.4 ) (#805)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.2 ➔ 8.0.4 ) (#805)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.72.1 ➔ 0.72.2 ) (#807)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.72.1 ➔ 0.72.2 ) (#807)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.27 ➔ 0.11.28 ) (#809)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.27 ➔ 0.11.28 ) (#809)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr ( 8.3.1 ➔ 8.3.2 ) (#808)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr ( 8.3.1 ➔ 8.3.2 ) (#808)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/bazarr ( 1.5.5 ➔ 1.5.6 ) (#811)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/bazarr ( 1.5.5 ➔ 1.5.6 ) (#811)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.4 ➔ 8.0.5 ) (#810)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.4 ➔ 8.0.5 ) (#810)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(grafana-dashboards)!: Update dashboard Envoy / Downstream ( 1 ➔ 2 )
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
Labels: area/kubernetes

feat(grafana-dashboards)!: Update dashboard Envoy / Downstream ( 1 ➔ 2 )
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
Labels: area/kubernetes

feat(grafana-dashboards)!: Update dashboard Envoy / Overview ( 1 ➔ 2 )
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
Labels: area/kubernetes

feat(grafana-dashboards)!: Update dashboard Envoy / Overview ( 1 ➔ 2 )
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
Labels: area/kubernetes

feat(grafana-dashboards)!: Update dashboard Envoy / Upstream ( 1 ➔ 2 )
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
