Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(observability): use cert_secret_ref schema for VMAlertmanagerConfig (#1061)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): camelCase tls_config field names (serverName/cert/keySecret)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): camelCase tls_config field names (serverName/cert/keySecret) (#1062)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): camelCase tls_config field names (serverName/cert/keySecret) (#1062)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): allow slow startup during upgrade
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): allow slow startup during upgrade (#1095)
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): allow slow startup during upgrade (#1095)
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): add TrustSec SGACL monitoring
  kubernetes/apps/observability/victoria-logs/rules/cisco-trustsec-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/trustsec-sgacl-exporter.yaml
Labels: area/kubernetes

feat(observability): add TrustSec SGACL monitoring (#1126)
  kubernetes/apps/observability/victoria-logs/rules/cisco-trustsec-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/trustsec-sgacl-exporter.yaml
Labels: area/kubernetes

feat(observability): add TrustSec SGACL monitoring (#1126)
  kubernetes/apps/observability/victoria-logs/rules/cisco-trustsec-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/trustsec-sgacl-exporter.yaml
Labels: area/kubernetes

fix(netbox): relax probe timeouts to stop crash-loop under load
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): relax probe timeouts to stop crash-loop under load (#1135)
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): relax probe timeouts to stop crash-loop under load (#1135)
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): drop bare-int scheduler pluginConfig that crashes v1.13.3 control plane
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(talos): drop bare-int scheduler pluginConfig that crashes v1.13.3 control plane
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat(cilium): repoint API to kube-vip ARP VIP; fix apiserver selector for kubeadm
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): repoint API to kube-vip ARP VIP; fix apiserver selector for kubeadm
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(flatcar): kubeadm + Butane + kube-vip templates (Milestone 2)
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/files/audit-policy.yaml
  cmd/homeops-cli/internal/templates/flatcar/files/containerd-config.toml
  cmd/homeops-cli/internal/templates/flatcar/files/modules-load-homeops.conf
  cmd/homeops-cli/internal/templates/flatcar/files/nfsmount.conf
  cmd/homeops-cli/internal/templates/flatcar/files/scheduler-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/files/sysctl-99-homeops.conf
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/join-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/manifests/kube-vip.yaml
Labels: area/homeops-cli

feat(flatcar): kubeadm + Butane + kube-vip templates (Milestone 2)
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/files/audit-policy.yaml
  cmd/homeops-cli/internal/templates/flatcar/files/containerd-config.toml
  cmd/homeops-cli/internal/templates/flatcar/files/modules-load-homeops.conf
  cmd/homeops-cli/internal/templates/flatcar/files/nfsmount.conf
  cmd/homeops-cli/internal/templates/flatcar/files/scheduler-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/files/sysctl-99-homeops.conf
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/join-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/manifests/kube-vip.yaml
Labels: area/homeops-cli

feat(flatcar): homeops-cli flatcar/kubeadm provisioning package (Milestone 3)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/config/flatcar_versions_test.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/image.go
  cmd/homeops-cli/internal/flatcar/image_test.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/templates/flatcar_templates_test.go
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

feat(flatcar): homeops-cli flatcar/kubeadm provisioning package (Milestone 3)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/config/flatcar_versions_test.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/image.go
  cmd/homeops-cli/internal/flatcar/image_test.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/templates/flatcar_templates_test.go
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

feat(flatcar): end-to-end kubeadm bootstrap path (Milestone 4)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar_test.go
Labels: area/homeops-cli

feat(flatcar): end-to-end kubeadm bootstrap path (Milestone 4)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar_test.go
Labels: area/homeops-cli

fix(flatcar): P2 lab-driven fixes (overwrite, sysext-on-first-boot, SSH key, eth0 NIC)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(flatcar): P2 lab-driven fixes (overwrite, sysext-on-first-boot, SSH key, eth0 NIC)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(flatcar): live-bootstrap validation fixes (M6)
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/join-config.yaml
Labels: area/homeops-cli

fix(flatcar): live-bootstrap validation fixes (M6)
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/join-config.yaml
Labels: area/homeops-cli

feat(flatcar): boot disks on nvme-mirror (RAID1) + 100G boot
  cmd/homeops-cli/internal/proxmox/vm_manager.go
Labels: area/homeops-cli

feat(flatcar): boot disks on nvme-mirror (RAID1) + 100G boot
  cmd/homeops-cli/internal/proxmox/vm_manager.go
Labels: area/homeops-cli

fix(flatcar): remove Talos-only leftovers
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/vmrule.yaml
Labels: area/kubernetes

fix(flatcar): remove Talos-only leftovers
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/vmrule.yaml
Labels: area/kubernetes

feat(homeops-cli): add --skip-kubeadm for flatcar bootstrap
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
Labels: area/homeops-cli

feat(homeops-cli): add --skip-kubeadm for flatcar bootstrap
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
Labels: area/homeops-cli

test(homeops-cli): fix stale flatcar boot-storage assertion + ens18 comments
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/templates/flatcar/manifests/kube-vip.yaml
Labels: area/homeops-cli

test(homeops-cli): fix stale flatcar boot-storage assertion + ens18 comments
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/templates/flatcar/manifests/kube-vip.yaml
Labels: area/homeops-cli

fix(netbox): recover netbox-postgres from barman backup
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

fix(netbox): recover netbox-postgres from barman backup
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

fix(netbox): archive recovered cluster to new serverName (netbox-postgres-v2)
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

fix(netbox): archive recovered cluster to new serverName (netbox-postgres-v2)
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

fix(netbox): make DR repeatable (recover+archive to netbox-postgres-v2)
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
