Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(container): update image ghcr.io/coredns/charts/coredns ( 1.43.2 ➔ 1.43.3 ) (#206)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.4.3 ➔ 9.4.4 ) (#208)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.1.1 ➔ 77.1.2 ) (#209)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v43.0.9 ➔ v43.0.10 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.1.2 ➔ 77.1.3 ) (#210)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.1.3 ➔ 77.2.0 ) (#214)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix: remove mutating admission feature gate
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix: remove mutating admission feature gate
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat: improve homeops-cli to provision VMs on vsphere, upgrade configs for talos 1.11 and kubernetes 1.34.0, modify the volsync mutatingadmissionpolicy.
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, area/homeops-cli

feat: improve homeops-cli to provision VMs on vsphere, upgrade configs for talos 1.11 and kubernetes 1.34.0, modify the volsync mutatingadmissionpolicy.
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, area/homeops-cli

fix: re-add mutating admission feature gate
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix: re-add mutating admission feature gate
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix: disk IDs
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix: disk IDs
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix: kubernetes and talos versions
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix: kubernetes and talos versions
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.2.0 ➔ 77.2.1 ) (#215)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

feat: Add enhancements to vsphere talos deployments
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

feat: Add enhancements to vsphere talos deployments
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

chore: update documentation
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
Labels: area/homeops-cli

update documentation
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
Labels: area/homeops-cli

chore: update documentation
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
Labels: area/homeops-cli

update documentation
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
Labels: area/homeops-cli

fix: chnage the nic device name to match what talos sees for the sr-iov vfs
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: chnage the nic device name to match what talos sees for the sr-iov vfs
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cert-manager): add reloader annotations to enable secret auto-reload
  kubernetes/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(cert-manager): add reloader annotations to enable secret auto-reload
  kubernetes/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.2.1 ➔ 77.3.0 ) (#216)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image registry.k8s.io/git-sync/git-sync ( v4.4.2 ➔ v4.4.3 ) (#213)
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.109.1 ➔ 1.110.0 ) (#212)
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps): update module github.com/spf13/cobra ( v1.9.1 ➔ v1.10.1 ) (#211)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.3.0 ➔ 77.5.0 ) (#219)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

feat(network): add unifi-dns application configuration
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/unifi-dns/app/externalsecret.yaml
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
  kubernetes/apps/network/unifi-dns/app/kustomization.yaml
  kubernetes/apps/network/unifi-dns/app/ocirepository.yaml
  kubernetes/apps/network/unifi-dns/ks.yaml
Labels: area/kubernetes

feat(network): add unifi-dns application configuration
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/unifi-dns/app/externalsecret.yaml
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
  kubernetes/apps/network/unifi-dns/app/kustomization.yaml
  kubernetes/apps/network/unifi-dns/app/ocirepository.yaml
  kubernetes/apps/network/unifi-dns/ks.yaml
Labels: area/kubernetes

refactor(kubernetes): comment out k8s-gateway in kustomization, moving to unifi-network-api using external-dns
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): comment out k8s-gateway in kustomization, moving to unifi-network-api using external-dns
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

refactor(system-upgrade-controller): remove versions dependency from ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

refactor(system-upgrade-controller): remove versions dependency from ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

style: standardize yaml multiline strings syntax
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/tag.yaml
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/apps/default/autobrr/app/lokirule.yaml
  kubernetes/apps/default/autobrr/app/prometheusrule.yaml
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/lokirule.yaml
  kubernetes/apps/default/prowlarr/app/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/lokirule.yaml
  kubernetes/apps/default/radarr/app/lokirule.yaml
  kubernetes/apps/default/sonarr/app/lokirule.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/app/prometheusrule.yaml
Labels: area/github, area/kubernetes

style: standardize yaml multiline strings syntax
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/tag.yaml
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/apps/default/autobrr/app/lokirule.yaml
  kubernetes/apps/default/autobrr/app/prometheusrule.yaml
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/lokirule.yaml
  kubernetes/apps/default/prowlarr/app/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/lokirule.yaml
  kubernetes/apps/default/radarr/app/lokirule.yaml
  kubernetes/apps/default/sonarr/app/lokirule.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/app/prometheusrule.yaml
Labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
