Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

chore: Add downloads dependencies for qui and qbittorrent
  kubernetes/apps/downloads/cross-seed/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
Labels: area/kubernetes

chore: Add downloads dependencies for qui and qbittorrent
  kubernetes/apps/downloads/cross-seed/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
Labels: area/kubernetes

chore: Add downloads dependencies for qui and qbittorrent
  kubernetes/apps/downloads/cross-seed/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
Labels: area/kubernetes

chore: increase limits to prevent oom during multiple volsync ops
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: increase limits to prevent oom during multiple volsync ops
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: increase limits to prevent oom during multiple volsync ops
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: increase limits
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore: increase limits
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore: increase limits
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action astral-sh/setup-uv ( v7.1.2 ➔ v7.1.3 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.2 ➔ v7.1.3 )
  .github/workflows/schemas.yaml
Labels: area/github

chore(container): update image ghcr.io/autobrr/autobrr ( e9fc6a6 ➔ b14f129 )
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/autobrr ( e9fc6a6 ➔ b14f129 )
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/qbittorrent ( 5.1.2 ➔ 5.1.3 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/qbittorrent ( 5.1.2 ➔ 5.1.3 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.24.0 ➔ v1.25.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.24.0 ➔ v1.25.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

chore: add default pod options
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: add default pod options
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: add default pod options
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: Add VMServiceScrape and disable ServiceMonitor
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/kustomization.yaml
  kubernetes/apps/downloads/autobrr/app/vmservicescrape.yaml
Labels: area/kubernetes

chore: Add VMServiceScrape and disable ServiceMonitor
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/kustomization.yaml
  kubernetes/apps/downloads/autobrr/app/vmservicescrape.yaml
Labels: area/kubernetes

chore: Add VMServiceScrape and disable ServiceMonitor
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/kustomization.yaml
  kubernetes/apps/downloads/autobrr/app/vmservicescrape.yaml
Labels: area/kubernetes

fix(container): update kubernetes group ( v1.34.1 ➔ v1.34.2 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update kubernetes group ( v1.34.1 ➔ v1.34.2 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/cilium ( 1.18.3 ➔ 1.18.4 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/cilium ( 1.18.3 ➔ 1.18.4 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix: Set VictoriaMetrics remote write and datasource
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Set VictoriaMetrics remote write and datasource
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Set VictoriaMetrics remote write and datasource
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.42 ➔ 0.0.43 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.42 ➔ 0.0.43 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages ( v0.34.1 ➔ v0.34.2 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(deps): update kubernetes packages ( v0.34.1 ➔ v0.34.2 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix: Reduce vmagent Kubernetes API load and increase scrape timeouts
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Reduce vmagent Kubernetes API load and increase scrape timeouts
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Reduce vmagent Kubernetes API load and increase scrape timeouts
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Remove invalid promscrape.maxScrapeTimeout flag from vmagent
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Remove invalid promscrape.maxScrapeTimeout flag from vmagent
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Remove invalid promscrape.maxScrapeTimeout flag from vmagent
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes
