Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

Replace raw Gateway API CRDs with Flux-managed Helm chart
  kubernetes/apps/network/kgateway/gateway-api-crds/gateway-api-crds.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/kustomization.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Replace raw Gateway API CRDs with Flux-managed Helm chart
  kubernetes/apps/network/kgateway/gateway-api-crds/gateway-api-crds.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/kustomization.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Replace raw Gateway API CRDs with Flux-managed Helm chart
  kubernetes/apps/network/kgateway/gateway-api-crds/gateway-api-crds.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/kustomization.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Switch Gateway API CRDs to envoyproxy/gateway-crds-helm chart
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
Labels: area/kubernetes

Switch Gateway API CRDs to envoyproxy/gateway-crds-helm chart
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
Labels: area/kubernetes

Switch Gateway API CRDs to envoyproxy/gateway-crds-helm chart
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
Labels: area/kubernetes

Add targetNamespace to gateway-api-crds Kustomization
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Add targetNamespace to gateway-api-crds Kustomization
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Add targetNamespace to gateway-api-crds Kustomization
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Use Kustomize remote resource for Gateway API CRDs
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/kustomization.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Use Kustomize remote resource for Gateway API CRDs
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/kustomization.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Use Kustomize remote resource for Gateway API CRDs
  kubernetes/apps/network/kgateway/gateway-api-crds/helmrelease.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/kustomization.yaml
  kubernetes/apps/network/kgateway/gateway-api-crds/ocirepository.yaml
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Optimize kgateway proxy and policy configuration
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
Labels: area/kubernetes

Optimize kgateway proxy and policy configuration
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
Labels: area/kubernetes

Optimize kgateway proxy and policy configuration
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
Labels: area/kubernetes

Fix TrafficPolicy retry statusCodes field name
  kubernetes/apps/network/kgateway/app/policies.yaml
Labels: area/kubernetes

Fix TrafficPolicy retry statusCodes field name
  kubernetes/apps/network/kgateway/app/policies.yaml
Labels: area/kubernetes

Fix TrafficPolicy retry statusCodes field name
  kubernetes/apps/network/kgateway/app/policies.yaml
Labels: area/kubernetes

Fix kgateway observability: use PodMonitor for controller metrics
  kubernetes/apps/network/kgateway/app/observability.yaml
  kubernetes/apps/network/kgateway/app/vmobservability.yaml
Labels: area/kubernetes

Fix kgateway observability: use PodMonitor for controller metrics
  kubernetes/apps/network/kgateway/app/observability.yaml
  kubernetes/apps/network/kgateway/app/vmobservability.yaml
Labels: area/kubernetes

Fix kgateway observability: use PodMonitor for controller metrics
  kubernetes/apps/network/kgateway/app/observability.yaml
  kubernetes/apps/network/kgateway/app/vmobservability.yaml
Labels: area/kubernetes

Rename gateways to kgateway-* and consolidate to network namespace
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/pinchflat/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/apps/network/echo/app/helmrelease.yaml
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/kgateway/app/observability.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
  kubernetes/apps/network/kgateway/app/vmobservability.yaml
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
  kubernetes/apps/network/kgateway/control-plane/kustomization.yaml
  kubernetes/apps/network/kgateway/control-plane/namespace.yaml
  kubernetes/apps/network/kgateway/ks.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/apps/observability/victoria-metrics/app/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

Rename gateways to kgateway-* and consolidate to network namespace
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/pinchflat/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/apps/network/echo/app/helmrelease.yaml
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/kgateway/app/observability.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
  kubernetes/apps/network/kgateway/app/vmobservability.yaml
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
  kubernetes/apps/network/kgateway/control-plane/kustomization.yaml
  kubernetes/apps/network/kgateway/control-plane/namespace.yaml
  kubernetes/apps/network/kgateway/ks.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/apps/observability/victoria-metrics/app/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

Rename gateways to kgateway-* and consolidate to network namespace
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/pinchflat/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/apps/network/echo/app/helmrelease.yaml
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/kgateway/app/observability.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
  kubernetes/apps/network/kgateway/app/vmobservability.yaml
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
  kubernetes/apps/network/kgateway/control-plane/kustomization.yaml
  kubernetes/apps/network/kgateway/control-plane/namespace.yaml
  kubernetes/apps/network/kgateway/ks.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/apps/observability/victoria-metrics/app/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

Use explicit healthChecks for kgateway control plane
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Use explicit healthChecks for kgateway control plane
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Use explicit healthChecks for kgateway control plane
  kubernetes/apps/network/kgateway/ks.yaml
Labels: area/kubernetes

Fix kgateway proxy metrics and update README for migration
  README.md
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
Labels: area/docs, area/kubernetes

Fix kgateway proxy metrics and update README for migration
  README.md
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
Labels: area/docs, area/kubernetes

Fix kgateway proxy metrics and update README for migration
  README.md
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
Labels: area/docs, area/kubernetes

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.70.0 ➔ 0.71.0 ) (#769)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.70.0 ➔ 0.71.0 ) (#769)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.71.0 ➔ 0.71.1 ) (#770)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.71.0 ➔ 0.71.1 ) (#770)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/piraeusdatastore/helm-charts/snapshot-controller ( 5.0.2 ➔ 5.0.3 ) (#771)
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/piraeusdatastore/helm-charts/snapshot-controller ( 5.0.2 ➔ 5.0.3 ) (#771)
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.54 ➔ 0.0.72 ) (#767)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.54 ➔ 0.0.72 ) (#767)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat: Update Ceph disk space warning silence device regex and add new allowed commands to Claude settings.
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

feat: Update Ceph disk space warning silence device regex and add new allowed commands to Claude settings.
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes
