Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(testing): add comprehensive test suite and documentation
  .claude/settings.local.json
  .gitignore
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  CLAUDE.md
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/workstation/workstation_test.go
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/iso/downloader_test.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

feat(testing): add comprehensive test suite and documentation
  .claude/settings.local.json
  .gitignore
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  CLAUDE.md
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/workstation/workstation_test.go
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/iso/downloader_test.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v43.0.12 ➔ v43.0.13 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v43.0.12 ➔ v43.0.13 )
  .github/workflows/renovate.yaml
Labels: area/github

refactor(helmfile): move values template to templates directory and update helmfile config
  .claude/settings.local.json
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/bootstrap/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/templates.go
Labels: area/bootstrap, area/homeops-cli

refactor(helmfile): move values template to templates directory and update helmfile config
  .claude/settings.local.json
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/bootstrap/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/templates.go
Labels: area/bootstrap, area/homeops-cli

refactor(helmfile): move values template to templates directory and update helmfile config
  .claude/settings.local.json
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/bootstrap/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/templates.go
Labels: area/bootstrap, area/homeops-cli

fix(container): update image docker.io/cloudflare/cloudflared ( 2025.9.0 ➔ 2025.9.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared ( 2025.9.0 ➔ 2025.9.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.1.1.5185 ➔ 2.1.2.5186 )
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.1.1.5185 ➔ 2.1.2.5186 )
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 0.19.2 ➔ 0.20.1 )
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 0.19.2 ➔ 0.20.1 )
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.112.3 ➔ 1.113.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.112.3 ➔ 1.113.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps): update kubernetes packages ( v0.31.0 ➔ v0.34.1 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(deps): update kubernetes packages ( v0.31.0 ➔ v0.34.1 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(container)!: Update image ghcr.io/home-operations/radarr ( 5.28.0.10205 ➔ 6.0.0.10217 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/home-operations/radarr ( 5.28.0.10205 ➔ 6.0.0.10217 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.113.0 ➔ 1.113.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.113.0 ➔ 1.113.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(kubernetes): add qui application deployment configuration
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qui/app/externalsecret.yaml
  kubernetes/apps/default/qui/app/helmrelease.yaml
  kubernetes/apps/default/qui/app/kustomization.yaml
  kubernetes/apps/default/qui/app/ocirepository.yaml
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

feat(kubernetes): add qui application deployment configuration
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qui/app/externalsecret.yaml
  kubernetes/apps/default/qui/app/helmrelease.yaml
  kubernetes/apps/default/qui/app/kustomization.yaml
  kubernetes/apps/default/qui/app/ocirepository.yaml
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

feat(kubernetes): add qui application deployment configuration
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qui/app/externalsecret.yaml
  kubernetes/apps/default/qui/app/helmrelease.yaml
  kubernetes/apps/default/qui/app/kustomization.yaml
  kubernetes/apps/default/qui/app/ocirepository.yaml
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

refactor(kubernetes): remove gatus component from ks.yaml
  .claude/settings.local.json
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

refactor(kubernetes): remove gatus component from ks.yaml
  .claude/settings.local.json
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

refactor(kubernetes): remove gatus component from ks.yaml
  .claude/settings.local.json
  kubernetes/apps/default/qui/ks.yaml
Labels: area/kubernetes

chore: update allowed commands in local settings file
  .claude/settings.local.json
Labels: none

chore: update allowed commands in local settings file
  .claude/settings.local.json
Labels: none

chore: update allowed commands in local settings file
  .claude/settings.local.json
Labels: none

feat(volsync): add maintenanceIntervalDays and parallelism params
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat(volsync): add maintenanceIntervalDays and parallelism params
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat(volsync): add maintenanceIntervalDays and parallelism params
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

refactor(kopia): move repository config to helmrelease and clean up kustomization
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/kopia/app/resources/repository.config
Labels: area/kubernetes

refactor(kopia): move repository config to helmrelease and clean up kustomization
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/kopia/app/resources/repository.config
Labels: area/kubernetes

refactor(kopia): move repository config to helmrelease and clean up kustomization
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/kopia/app/resources/repository.config
Labels: area/kubernetes

fix(talos): reduce network ring buffer size from 1024 to 512
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): reduce network ring buffer size from 1024 to 512
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): reduce network ring buffer size from 1024 to 512
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.10.0 ➔ 77.11.0 ) (#292)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
