Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat: Update Ceph disk space warning silence device regex and add new allowed commands to Claude settings.
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

fix(container): update talos group ( v1.12.3 ➔ v1.12.4 ) (#762)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.12.3 ➔ v1.12.4 ) (#762)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

Fix OIDC circular dependency by using explicit endpoints
  kubernetes/apps/downloads/bazarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/pinchflat/app/securitypolicy.yaml
  kubernetes/apps/downloads/prowlarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/qbittorrent/app/securitypolicy.yaml
  kubernetes/apps/downloads/radarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/sabnzbd/app/securitypolicy.yaml
  kubernetes/apps/downloads/sonarr/app/securitypolicy.yaml
  kubernetes/apps/media/seerr/app/securitypolicy.yaml
  kubernetes/apps/observability/victoria-logs/app/securitypolicy.yaml
  kubernetes/apps/observability/victoria-metrics/app/securitypolicy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/securitypolicy.yaml
  kubernetes/apps/self-hosted/it-tools/app/securitypolicy.yaml
  kubernetes/apps/volsync-system/kopia/app/securitypolicy.yaml
Labels: area/kubernetes

Fix OIDC circular dependency by using explicit endpoints
  kubernetes/apps/downloads/bazarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/pinchflat/app/securitypolicy.yaml
  kubernetes/apps/downloads/prowlarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/qbittorrent/app/securitypolicy.yaml
  kubernetes/apps/downloads/radarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/sabnzbd/app/securitypolicy.yaml
  kubernetes/apps/downloads/sonarr/app/securitypolicy.yaml
  kubernetes/apps/media/seerr/app/securitypolicy.yaml
  kubernetes/apps/observability/victoria-logs/app/securitypolicy.yaml
  kubernetes/apps/observability/victoria-metrics/app/securitypolicy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/securitypolicy.yaml
  kubernetes/apps/self-hosted/it-tools/app/securitypolicy.yaml
  kubernetes/apps/volsync-system/kopia/app/securitypolicy.yaml
Labels: area/kubernetes

Fix OIDC circular dependency by using explicit endpoints
  kubernetes/apps/downloads/bazarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/pinchflat/app/securitypolicy.yaml
  kubernetes/apps/downloads/prowlarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/qbittorrent/app/securitypolicy.yaml
  kubernetes/apps/downloads/radarr/app/securitypolicy.yaml
  kubernetes/apps/downloads/sabnzbd/app/securitypolicy.yaml
  kubernetes/apps/downloads/sonarr/app/securitypolicy.yaml
  kubernetes/apps/media/seerr/app/securitypolicy.yaml
  kubernetes/apps/observability/victoria-logs/app/securitypolicy.yaml
  kubernetes/apps/observability/victoria-metrics/app/securitypolicy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/securitypolicy.yaml
  kubernetes/apps/self-hosted/it-tools/app/securitypolicy.yaml
  kubernetes/apps/volsync-system/kopia/app/securitypolicy.yaml
Labels: area/kubernetes

feat: configure Cilium local redirect policies and allow python3 commands in Claude settings.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: configure Cilium local redirect policies and allow python3 commands in Claude settings.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: configure Cilium local redirect policies and allow python3 commands in Claude settings.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: Remove Cilium tproxy, set socketLB hostNamespaceOnly to true.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: Remove Cilium tproxy, set socketLB hostNamespaceOnly to true.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: Remove Cilium tproxy, set socketLB hostNamespaceOnly to true.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image cr.kgateway.dev/kgateway-dev/charts/kgateway-crds ( v2.2.0 ➔ v2.2.1 ) (#773)
  kubernetes/apps/network/kgateway/control-plane/ocirepository-crds.yaml
Labels: area/kubernetes

fix(container): update image cr.kgateway.dev/kgateway-dev/charts/kgateway-crds ( v2.2.0 ➔ v2.2.1 ) (#773)
  kubernetes/apps/network/kgateway/control-plane/ocirepository-crds.yaml
Labels: area/kubernetes

fix(container): update image cr.kgateway.dev/kgateway-dev/charts/kgateway ( v2.2.0 ➔ v2.2.1 ) (#772)
  kubernetes/apps/network/kgateway/control-plane/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image cr.kgateway.dev/kgateway-dev/charts/kgateway ( v2.2.0 ➔ v2.2.1 ) (#772)
  kubernetes/apps/network/kgateway/control-plane/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.10 ➔ 7.4.12 ) (#774)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.10 ➔ 7.4.12 ) (#774)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(deps): update module github.com/luthermonson/go-proxmox ( v0.3.2 ➔ v0.4.0 ) (#775)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(deps): update module github.com/luthermonson/go-proxmox ( v0.3.2 ➔ v0.4.0 ) (#775)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(deps): update module github.com/vmware/govmomi ( v0.52.0 ➔ v0.53.0 ) (#777)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(deps): update module github.com/vmware/govmomi ( v0.52.0 ➔ v0.53.0 ) (#777)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.12 ➔ 7.4.13 ) (#776)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.12 ➔ 7.4.13 ) (#776)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/descheduler ( 0.34.0 ➔ 0.35.0 ) (#779)
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/descheduler ( 0.34.0 ➔ 0.35.0 ) (#779)
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.13 ➔ 7.4.14 ) (#778)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.13 ➔ 7.4.14 ) (#778)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/recyclarr/recyclarr ( 7.5.2 ➔ 8.0.1 ) (#780)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/recyclarr/recyclarr ( 7.5.2 ➔ 8.0.1 ) (#780)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 2.0.0 ➔ 2.0.1 ) (#781)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 2.0.0 ➔ 2.0.1 ) (#781)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.17.7 ➔ v0.17.8 ) (#782)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.17.7 ➔ v0.17.8 ) (#782)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.34.0 ➔ v5.35.0 ) (#783)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.34.0 ➔ v5.35.0 ) (#783)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update Recyclarr configuration to v8 schema, restructuring Sonarr and Radarr settings for media management and quality profile definitions.
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

feat: Update Recyclarr configuration to v8 schema, restructuring Sonarr and Radarr settings for media management and quality profile definitions.
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

feat: Update Recyclarr configuration to v8 schema, restructuring Sonarr and Radarr settings for media management and quality profile definitions.
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr ( 8.0.1 ➔ 8.1.0 ) (#784)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
