Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image docker.io/getmeili/meilisearch ( v1.19.0 ➔ v1.19.1 ) (#190)
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.0.1 ➔ 77.0.2 ) (#192)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/grafana/helm-charts/loki ( 6.37.0 ➔ 6.38.0 ) (#195)
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): update hostname in HTTPRoute and HelmRelease to use 'rook-ceph-cluster'
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): update hostname in HTTPRoute and HelmRelease to use 'rook-ceph-cluster'
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/k8s-sidecar ( 1.30.9 ➔ 1.30.10 ) (#196)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.15.38 ➔ 0.15.39 ) (#194)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.109.0 ➔ 1.109.1 ) (#193)
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.3.6 ➔ 9.4.0 ) (#198)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: update .gitignore to include .claude and remove vs-kubernetes settings from VSCode configuration
  .gitignore
  .vscode/settings.json
  README.md
Labels: area/docs

fix: update .gitignore to include .claude and remove vs-kubernetes settings from VSCode configuration
  .gitignore
  .vscode/settings.json
  README.md
Labels: area/docs

chore: remove unused mise configuration file
  .mise.toml
Labels: none

chore: remove unused mise configuration file
  .mise.toml
Labels: none

feat(talos): enable cluster discovery for node configs
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(talos): enable cluster discovery for node configs
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): disable kubernetes registry in node configs
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): disable kubernetes registry in node configs
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/openebs ( 4.3.2 ➔ 4.3.3 ) (#197)
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.0.2 ➔ 77.1.0 ) (#199)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

refactor: remove hardcoded env vars in favor of global defaults
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

refactor: remove hardcoded env vars in favor of global defaults
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

feat(bootstrap): add 1Password integration for kubeconfig storage
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

feat(bootstrap): add 1Password integration for kubeconfig storage
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(vm_manager): change cdrom device order to 1006 to avoid boot issues
  cmd/homeops-cli/internal/truenas/vm_manager.go
Labels: area/homeops-cli

fix(vm_manager): change cdrom device order to 1006 to avoid boot issues
  cmd/homeops-cli/internal/truenas/vm_manager.go
Labels: area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.4.0 ➔ 9.4.2 ) (#203)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.4.2 ➔ 9.4.3 ) (#204)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.0 ➔ v1.18.1 ) (#201)
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: update readme
  README.md
Labels: area/docs

chore: update readme
  README.md
Labels: area/docs

fix(container): update image ghcr.io/k8s-gateway/charts/k8s-gateway ( 3.2.6 ➔ 3.2.7 ) (#200)
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/tqm ( 1.16.0 ➔ 1.17.0 ) (#202)
  kubernetes/apps/default/tqm/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.15.39 ➔ v0.15.40 ) (#205)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore: update encrypted secret configuration in tqm app
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

chore: update encrypted secret configuration in tqm app
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

fix: update cross-seed link directory path
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

fix: update cross-seed link directory path
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

chore: update encrypted config in tqm app deployment
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

chore: update encrypted config in tqm app deployment
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.1.0 ➔ 77.1.1 ) (#207)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli
