Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(autobrr): increase VOLSYNC_CAPACITY to 50Gi to resolve restore failure
  kubernetes/apps/default/autobrr/ks.yaml
Labels: area/kubernetes

fix(autobrr): increase VOLSYNC_CAPACITY to 50Gi to resolve restore failure
  kubernetes/apps/default/autobrr/ks.yaml
Labels: area/kubernetes

fix(cross-seed): add qBittorrent authentication credentials
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

fix(cross-seed): add qBittorrent authentication credentials
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

fix(cross-seed): add qBittorrent authentication credentials
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

fix(autobrr): increase liveness probe initialDelaySeconds for database migration
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): increase liveness probe initialDelaySeconds for database migration
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): increase liveness probe initialDelaySeconds for database migration
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): further increase liveness probe timeout to 360s for migration
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): further increase liveness probe timeout to 360s for migration
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): further increase liveness probe timeout to 360s for migration
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.2.1 ➔ 78.3.0 ) (#392)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 78.2.1 ➔ 78.3.0 ) (#392)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix: update talosctl download link
  .github/workflows/image-pull.yaml
Labels: area/github

fix: update talosctl download link
  .github/workflows/image-pull.yaml
Labels: area/github

fix: update talosctl download link
  .github/workflows/image-pull.yaml
Labels: area/github

ci(github-action): update action bjw-s-labs/action-changed-files ( v0.3.3 ➔ v0.4.1 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

ci(github-action): update action bjw-s-labs/action-changed-files ( v0.3.3 ➔ v0.4.1 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

fix(container): update image quay.io/jetstack/charts/cert-manager ( v1.19.0 ➔ v1.19.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image quay.io/jetstack/charts/cert-manager ( v1.19.0 ➔ v1.19.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.11.2 ➔ v1.11.3 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.11.2 ➔ v1.11.3 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/bjw-s-labs/helm/app-template ( 4.3.0 ➔ 4.4.0 )
  kubernetes/apps/default/actual/app/ocirepository.yaml
  kubernetes/apps/default/atuin/app/ocirepository.yaml
  kubernetes/apps/default/autobrr/app/ocirepository.yaml
  kubernetes/apps/default/bazarr/app/ocirepository.yaml
  kubernetes/apps/default/cross-seed/app/ocirepository.yaml
  kubernetes/apps/default/fusion/app/ocirepository.yaml
  kubernetes/apps/default/it-tools/app/ocirepository.yaml
  kubernetes/apps/default/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/default/karakeep/app/ocirepository.yaml
  kubernetes/apps/default/n8n/app/ocirepository.yaml
  kubernetes/apps/default/nzbget/app/ocirepository.yaml
  kubernetes/apps/default/ocis/app/ocirepository.yaml
  kubernetes/apps/default/pinchflat/app/ocirepository.yaml
  kubernetes/apps/default/prowlarr/app/ocirepository.yaml
  kubernetes/apps/default/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/default/qui/app/ocirepository.yaml
  kubernetes/apps/default/radarr/app/ocirepository.yaml
  kubernetes/apps/default/recyclarr/app/ocirepository.yaml
  kubernetes/apps/default/sonarr/app/ocirepository.yaml
  kubernetes/apps/default/thelounge/app/ocirepository.yaml
  kubernetes/apps/default/tqm/app/ocirepository.yaml
  kubernetes/apps/default/webhook/app/ocirepository.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/ocirepository.yaml
  kubernetes/apps/network/echo/app/ocirepository.yaml
  kubernetes/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/apps/observability/kromgo/app/ocirepository.yaml
  kubernetes/apps/observability/unpoller/app/ocirepository.yaml
  kubernetes/apps/system/generic-device-plugin/app/ocirepository.yaml
  kubernetes/apps/volsync-system/kopia/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/bjw-s-labs/helm/app-template ( 4.3.0 ➔ 4.4.0 )
  kubernetes/apps/default/actual/app/ocirepository.yaml
  kubernetes/apps/default/atuin/app/ocirepository.yaml
  kubernetes/apps/default/autobrr/app/ocirepository.yaml
  kubernetes/apps/default/bazarr/app/ocirepository.yaml
  kubernetes/apps/default/cross-seed/app/ocirepository.yaml
  kubernetes/apps/default/fusion/app/ocirepository.yaml
  kubernetes/apps/default/it-tools/app/ocirepository.yaml
  kubernetes/apps/default/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/default/karakeep/app/ocirepository.yaml
  kubernetes/apps/default/n8n/app/ocirepository.yaml
  kubernetes/apps/default/nzbget/app/ocirepository.yaml
  kubernetes/apps/default/ocis/app/ocirepository.yaml
  kubernetes/apps/default/pinchflat/app/ocirepository.yaml
  kubernetes/apps/default/prowlarr/app/ocirepository.yaml
  kubernetes/apps/default/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/default/qui/app/ocirepository.yaml
  kubernetes/apps/default/radarr/app/ocirepository.yaml
  kubernetes/apps/default/recyclarr/app/ocirepository.yaml
  kubernetes/apps/default/sonarr/app/ocirepository.yaml
  kubernetes/apps/default/thelounge/app/ocirepository.yaml
  kubernetes/apps/default/tqm/app/ocirepository.yaml
  kubernetes/apps/default/webhook/app/ocirepository.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/ocirepository.yaml
  kubernetes/apps/network/echo/app/ocirepository.yaml
  kubernetes/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/apps/observability/kromgo/app/ocirepository.yaml
  kubernetes/apps/observability/unpoller/app/ocirepository.yaml
  kubernetes/apps/system/generic-device-plugin/app/ocirepository.yaml
  kubernetes/apps/volsync-system/kopia/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/siderolabs/kubelet ( v1.33.4 ➔ v1.34.1 )
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/siderolabs/kubelet ( v1.33.4 ➔ v1.34.1 )
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.38 ➔ 0.0.41 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.38 ➔ 0.0.41 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/envoyproxy/envoy ( v1.36.0 ➔ v1.36.1 )
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/envoyproxy/envoy ( v1.36.0 ➔ v1.36.1 )
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(container): update actions-runner-controller group ( 0.12.1 ➔ 0.13.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/ocirepository.yaml
Labels: area/kubernetes

feat(container): update actions-runner-controller group ( 0.12.1 ➔ 0.13.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coredns/charts/coredns ( 1.44.3 ➔ 1.45.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/coredns/charts/coredns ( 1.44.3 ➔ 1.45.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/piraeusdatastore/helm-charts/snapshot-controller ( 4.1.0 ➔ 4.1.1 )
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/piraeusdatastore/helm-charts/snapshot-controller ( 4.1.0 ➔ 4.1.1 )
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
Labels: area/kubernetes

Chore: Update Talos badge version to v1.11.3
  README.md
Labels: area/docs

Chore: Update Talos badge version to v1.11.3
  README.md
Labels: area/docs

Chore: Update Talos badge version to v1.11.3
  README.md
Labels: area/docs

fix(container): update image mirror.gcr.io/envoyproxy/envoy ( v1.36.1 ➔ v1.36.2 )
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
