Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

ci(go): add build/lint/test workflow for homeops-cli
  .github/workflows/go.yaml
Labels: area/github

feat(homeops-cli): add k8s doctor, volsync status, op audit, vm list --all-providers, k8s suspend/resume
  cmd/homeops-cli/cmd/kubernetes/doctor.go
  cmd/homeops-cli/cmd/kubernetes/doctor_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/maintenance.go
  cmd/homeops-cli/cmd/kubernetes/maintenance_test.go
  cmd/homeops-cli/cmd/opvault/audit.go
  cmd/homeops-cli/cmd/opvault/audit_test.go
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_list_all_test.go
  cmd/homeops-cli/cmd/volsync/status.go
  cmd/homeops-cli/cmd/volsync/status_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
Labels: area/homeops-cli

fix(rook-ceph): raise mgr memory to 1Gi request / 3Gi limit
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

refactor(homeops-cli): split bootstrap god-file into phase-focused files
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_legacy_flow.go
  cmd/homeops-cli/cmd/bootstrap/commands.go
  cmd/homeops-cli/cmd/bootstrap/crds.go
  cmd/homeops-cli/cmd/bootstrap/flux.go
  cmd/homeops-cli/cmd/bootstrap/helm.go
  cmd/homeops-cli/cmd/bootstrap/kubeconfig.go
  cmd/homeops-cli/cmd/bootstrap/nodes.go
  cmd/homeops-cli/cmd/bootstrap/preflight.go
  cmd/homeops-cli/cmd/bootstrap/provider_talos.go
  cmd/homeops-cli/cmd/bootstrap/resources.go
  cmd/homeops-cli/cmd/bootstrap/secrets.go
  cmd/homeops-cli/cmd/bootstrap/validation.go
Labels: area/homeops-cli

refactor(homeops-cli): node configs via homeops.yaml, unify test seams, refine volsync status
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/vm/vm_cmd_test.go
  cmd/homeops-cli/cmd/vm/vm_create_test.go
  cmd/homeops-cli/cmd/volsync/status.go
  cmd/homeops-cli/cmd/volsync/status_test.go
  cmd/homeops-cli/cmd/volsync/volsync_flow_test.go
  cmd/homeops-cli/cmd/volsync/volsync_parser_test.go
  cmd/homeops-cli/cmd/volsync/volsync_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/proxmox/node_config_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/testutil/helpers.go
  cmd/homeops-cli/internal/testutil/helpers_test.go
Labels: area/homeops-cli

feat(homeops-cli): add k8s doctor nodes group, decompose remaining long functions, document day-2 commands
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/kubernetes/doctor.go
  cmd/homeops-cli/cmd/kubernetes/doctor_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

fix(homeops-cli): menu integration, Ctrl-C/timeout hygiene, UX consistency, vmlifecycle tests
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/config/config_cmd_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/kubernetes/doctor.go
  cmd/homeops-cli/cmd/kubernetes/doctor_test.go
  cmd/homeops-cli/cmd/kubernetes/flags_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/kubernetes/maintenance.go
  cmd/homeops-cli/cmd/kubernetes/maintenance_test.go
  cmd/homeops-cli/cmd/opvault/audit.go
  cmd/homeops-cli/cmd/opvault/audit_test.go
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_list_all_test.go
  cmd/homeops-cli/cmd/volsync/flags_test.go
  cmd/homeops-cli/cmd/volsync/status.go
  cmd/homeops-cli/cmd/volsync/status_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle_helpers_test.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_menu_maintenance_test.go
Labels: area/homeops-cli

ci: add release workflow for homeops-cli binaries, wire coverage floor
  .github/workflows/go.yaml
  .github/workflows/release.yaml
Labels: area/github

feat(homeops-cli): bound op audit vault fan-out, fix title-collision masking, lift coverage to 76.8%
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/opvault/audit.go
  cmd/homeops-cli/cmd/opvault/audit_test.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/internal/config/config_test.go
Labels: area/homeops-cli

fix(ci): build release artifacts in runner temp to keep version stamp clean
  .github/workflows/release.yaml
Labels: area/github

fix(homeops-cli): security remediation — stream secrets via stdin, never argv
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/opvault/opvault_test.go
  cmd/homeops-cli/internal/common/command.go
  cmd/homeops-cli/internal/common/command_test.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
  cmd/homeops-cli/internal/iso/downloader.go
  cmd/homeops-cli/internal/iso/downloader_test.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

docs: fix stale homeops-cli invocations across CLAUDE.md, AGENTS.md, README, COMMANDS
  AGENTS.md
  CLAUDE.md
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/README.md
Labels: area/homeops-cli

fix(homeops-cli): fuzz the parsers, fix 3 robustness defects found
  cmd/homeops-cli/internal/common/fuzz_test.go
  cmd/homeops-cli/internal/common/shell.go
  cmd/homeops-cli/internal/common/size.go
  cmd/homeops-cli/internal/secrets/fuzz_test.go
  cmd/homeops-cli/internal/yaml/fuzz_test.go
  cmd/homeops-cli/internal/yaml/processor.go
Labels: area/homeops-cli

test(homeops-cli): property-based invariant tests (determinism, merge, round-trip)
  cmd/homeops-cli/internal/common/shell_test.go
  cmd/homeops-cli/internal/common/size_test.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/yaml/processor_test.go
Labels: area/homeops-cli

feat(rook-ceph): add 12h mgr failover CronJob to prevent v20.2.2 mgr OOM leak
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/mgr-failover-cronjob.yaml
Labels: area/kubernetes

fix(security): bump Go toolchain to 1.26.5 (fixes reachable crypto/tls CVE), gate CI on govulncheck
  .github/workflows/go.yaml
  cmd/homeops-cli/go.mod
Labels: area/github, area/homeops-cli

fix(security): resolve gosec findings — harden archive extraction, guard int conversions
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/commands.go
  cmd/homeops-cli/cmd/bootstrap/crds.go
  cmd/homeops-cli/cmd/bootstrap/helm.go
  cmd/homeops-cli/cmd/bootstrap/kubeconfig.go
  cmd/homeops-cli/cmd/bootstrap/secrets.go
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/cmd/workstation/workstation_test.go
  cmd/homeops-cli/internal/cloudinit/cloudinit.go
  cmd/homeops-cli/internal/common/command.go
  cmd/homeops-cli/internal/common/context.go
  cmd/homeops-cli/internal/common/convert.go
  cmd/homeops-cli/internal/common/convert_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/keys.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/proxmox/client.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/secrets/providers.go
  cmd/homeops-cli/internal/state/store.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/testutil/helpers.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/truenas/vm_manager_helpers_test.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/client_helpers_test.go
  cmd/homeops-cli/internal/vsphere/vm_ops.go
  cmd/homeops-cli/internal/yaml/processor.go
Labels: area/homeops-cli

ci: gate on gosec SAST
  .github/workflows/go.yaml
Labels: area/github

fix(rook-ceph): escape $ as $$ in mgr-failover script for Flux envsubst
  kubernetes/apps/rook-ceph/rook-ceph/cluster/mgr-failover-cronjob.yaml
Labels: area/kubernetes

refactor(homeops-cli): make homeops.yaml the single source of truth for env-specific values
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_create.go
  cmd/homeops-cli/cmd/vm/vm_template.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/proxmox/testdata/proxmox_default_vm_config_char_default.txt
  cmd/homeops-cli/internal/proxmox/testdata/proxmox_default_vm_config_char_repo.txt
  cmd/homeops-cli/internal/proxmox/vm_config_char_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/truenas/testdata/truenas_default_vm_config_char_default.txt
  cmd/homeops-cli/internal/truenas/testdata/truenas_default_vm_config_char_repo.txt
  cmd/homeops-cli/internal/truenas/vm_config_char_test.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle.go
  cmd/homeops-cli/internal/vsphere/testdata/vsphere_char_default.txt
  cmd/homeops-cli/internal/vsphere/testdata/vsphere_char_repo.txt
  cmd/homeops-cli/internal/vsphere/vm_config.go
  cmd/homeops-cli/internal/vsphere/vm_config_char_test.go
  homeops.yaml
Labels: area/homeops-cli

refactor(homeops-cli): thread template environment values through homeops.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/kubeconfig.go
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/config/config_cmd_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/characterization_test.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/kubeadm/init-config.yaml
  cmd/homeops-cli/internal/flatcar/testdata/golden/kubeadm/join-k8s-1.yaml
  cmd/homeops-cli/internal/flatcar/testdata/golden/kubeadm/join-k8s-2.yaml
  cmd/homeops-cli/internal/templates/bootstrap/clustersecretstore.yaml
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/internal/templates/talos_characterization_test.go
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/templates/templates_test.go
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.12.yaml
  homeops.yaml
Labels: area/bootstrap, area/homeops-cli

fix(homeops-cli): make --config authoritative over cwd discovery
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_hardware.go
  cmd/homeops-cli/internal/cmdutil/flagdefaults.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

feat(homeops-cli): k8s etcd backup/status and k8s certs — DR + PKI expiry commands
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/kubernetes/certs.go
  cmd/homeops-cli/cmd/kubernetes/certs_test.go
  cmd/homeops-cli/cmd/kubernetes/etcd.go
  cmd/homeops-cli/cmd/kubernetes/etcd_test.go
  cmd/homeops-cli/cmd/kubernetes/flags_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/internal/common/command.go
  cmd/homeops-cli/internal/common/command_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
Labels: area/homeops-cli

feat(homeops-cli): k8s storage-report and k8s flux-tree
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/kubernetes/flags_test.go
  cmd/homeops-cli/cmd/kubernetes/flux_tree.go
  cmd/homeops-cli/cmd/kubernetes/flux_tree_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/storage_report.go
  cmd/homeops-cli/cmd/kubernetes/storage_report_test.go
  cmd/homeops-cli/cmd/volsync/status.go
  cmd/homeops-cli/internal/kubeutil/pvc.go
  cmd/homeops-cli/internal/kubeutil/pvc_test.go
Labels: area/homeops-cli

feat(homeops-cli): k8s net-doctor and flatcar os-status
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/os_status.go
  cmd/homeops-cli/cmd/flatcar/os_status_test.go
  cmd/homeops-cli/cmd/flatcar/testdata/update_engine_downloading.txt
  cmd/homeops-cli/cmd/flatcar/testdata/update_engine_idle.txt
  cmd/homeops-cli/cmd/flatcar/testdata/update_engine_updated_need_reboot.txt
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/net_doctor.go
  cmd/homeops-cli/cmd/kubernetes/net_doctor_test.go
Labels: area/homeops-cli

feat(homeops-cli): k8s diff and volsync verify
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/kubernetes/diff.go
  cmd/homeops-cli/cmd/kubernetes/diff_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/volsync/flags_test.go
  cmd/homeops-cli/cmd/volsync/verify.go
  cmd/homeops-cli/cmd/volsync/verify_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_test.go
Labels: area/homeops-cli

feat(homeops-cli): k8s node maintenance and self-update — roadmap complete
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/node_maintenance.go
  cmd/homeops-cli/cmd/kubernetes/node_maintenance_test.go
  cmd/homeops-cli/internal/cmdutil/flagdefaults.go
  cmd/homeops-cli/internal/cmdutil/flagdefaults_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/self_update.go
  cmd/homeops-cli/self_update_test.go
Labels: area/homeops-cli

refactor(homeops-cli): config keys for values hardcoded by the new feature code
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/config/config_cmd_test.go
  cmd/homeops-cli/cmd/flatcar/os_status.go
  cmd/homeops-cli/cmd/kubernetes/certs.go
  cmd/homeops-cli/cmd/kubernetes/etcd.go
  cmd/homeops-cli/cmd/kubernetes/etcd_test.go
  cmd/homeops-cli/cmd/kubernetes/node_maintenance.go
  cmd/homeops-cli/cmd/kubernetes/node_maintenance_test.go
  cmd/homeops-cli/cmd/kubernetes/storage_report.go
  cmd/homeops-cli/cmd/kubernetes/storage_report_test.go
  cmd/homeops-cli/cmd/volsync/verify.go
  cmd/homeops-cli/cmd/volsync/verify_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/constants/constants_test.go
  cmd/homeops-cli/internal/kubeutil/pvc.go
  cmd/homeops-cli/internal/kubeutil/pvc_test.go
  cmd/homeops-cli/self_update.go
  cmd/homeops-cli/self_update_test.go
  homeops.yaml
Labels: area/homeops-cli

feat(homeops-cli): k8s etcd restore and k8s upgrade-status
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/kubernetes/etcd.go
  cmd/homeops-cli/cmd/kubernetes/etcd_restore.go
  cmd/homeops-cli/cmd/kubernetes/etcd_restore_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/testdata/etcd-manifest.yaml
  cmd/homeops-cli/cmd/kubernetes/upgrade_status.go
  cmd/homeops-cli/cmd/kubernetes/upgrade_status_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
Labels: area/homeops-cli

feat(homeops-cli): k8s right-size and k8s support-bundle
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/flatcar/os_status.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/kubernetes/right_size.go
  cmd/homeops-cli/cmd/kubernetes/right_size_test.go
  cmd/homeops-cli/cmd/kubernetes/support_bundle.go
  cmd/homeops-cli/cmd/kubernetes/support_bundle_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/defaults.go
Labels: area/homeops-cli

feat(homeops-cli): net-doctor --probe and bootstrap --plan
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/plan.go
  cmd/homeops-cli/cmd/bootstrap/plan_test.go
  cmd/homeops-cli/cmd/bootstrap/resources.go
  cmd/homeops-cli/cmd/kubernetes/doctor.go
  cmd/homeops-cli/cmd/kubernetes/net_doctor.go
  cmd/homeops-cli/cmd/kubernetes/net_doctor_test.go
Labels: area/homeops-cli

feat(homeops-cli): cluster rehearse-node — disposable join drill
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/cluster/cluster.go
  cmd/homeops-cli/cmd/cluster/rehearse_node.go
  cmd/homeops-cli/cmd/cluster/rehearse_node_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/rehearsal.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/config/test_node_test.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/main.go
  homeops.yaml
Labels: area/homeops-cli

refactor(homeops-cli): constants for actions-runner-system namespace and rehearse label
  cmd/homeops-cli/cmd/bootstrap/plan.go
  cmd/homeops-cli/cmd/cluster/rehearse_node.go
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/internal/constants/constants.go
Labels: area/homeops-cli

feat(homeops-cli): k8s etcd backup --upload and k8s upgrade-plan set
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/config/config_cmd_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/kubernetes/etcd.go
  cmd/homeops-cli/cmd/kubernetes/etcd_upload.go
  cmd/homeops-cli/cmd/kubernetes/etcd_upload_test.go
  cmd/homeops-cli/cmd/kubernetes/flags_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/upgrade_plan.go
  cmd/homeops-cli/cmd/kubernetes/upgrade_plan_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/vm/vm_create.go
  cmd/homeops-cli/cmd/vm/vm_create_test.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/iso/downloader.go
  cmd/homeops-cli/internal/iso/downloader_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_key_test.go
  homeops.yaml
Labels: area/homeops-cli

feat(homeops-cli): right-size --apply-git and volsync verify-all
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/kubernetes/right_size.go
  cmd/homeops-cli/cmd/kubernetes/right_size_git.go
  cmd/homeops-cli/cmd/kubernetes/right_size_git_test.go
  cmd/homeops-cli/cmd/volsync/verify.go
  cmd/homeops-cli/cmd/volsync/verify_all.go
  cmd/homeops-cli/cmd/volsync/verify_all_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
Labels: area/homeops-cli

feat(homeops-cli): support-bundle --diff — health drift between bundles
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/kubernetes/support_bundle.go
  cmd/homeops-cli/cmd/kubernetes/support_bundle_diff.go
  cmd/homeops-cli/cmd/kubernetes/support_bundle_test.go
Labels: area/homeops-cli

fix(security): bump golang.org/x/crypto to v0.52.0 (GO-2026-5018)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(system-upgrade): bump kubeadm plan to v1.36.2
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
Labels: area/kubernetes

fix(system-upgrade): full path for systemd-sysupdate in kubeadm Plan script
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
Labels: area/kubernetes

fix(system-upgrade): skip addon phases in kubeadm upgrade apply
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
Labels: area/kubernetes
