Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(external-dns): add txt-owner-old to migrate ownership from technitium to powerdns
  kubernetes/apps/network/powerdns/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-dns): add txt-owner-old to migrate ownership from technitium to powerdns
  kubernetes/apps/network/powerdns/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-dns): correct flag name to --migrate-from-txt-owner
  kubernetes/apps/network/powerdns/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-dns): correct flag name to --migrate-from-txt-owner
  kubernetes/apps/network/powerdns/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): rename dns-0/dns-1 to dns0/dns1 in scrape targets, probes, and alert rules
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

fix(observability): rename dns-0/dns-1 to dns0/dns1 in scrape targets, probes, and alert rules
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(observability): add dnsdist + PowerDNS Auth scraping and dashboard
  kubernetes/apps/observability/victoria-metrics/app/dnsdist-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(observability): add dnsdist + PowerDNS Auth scraping and dashboard
  kubernetes/apps/observability/victoria-metrics/app/dnsdist-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(observability): add PowerDNS Recursor, Auth, and Kea DHCP dashboards
  kubernetes/apps/observability/victoria-metrics/app/kea-dhcp4-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/pdns-auth-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/pdns-recursor-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(observability): add PowerDNS Recursor, Auth, and Kea DHCP dashboards
  kubernetes/apps/observability/victoria-metrics/app/kea-dhcp4-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/pdns-auth-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/pdns-recursor-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

fix(grafana): move network syslog dashboard to infrastructure folder
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(grafana): move network syslog dashboard to infrastructure folder
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(cert-manager): use internal DNS VIP for DNS-01 propagation checks
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(cert-manager): use internal DNS VIP for DNS-01 propagation checks
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): add fallback for flux_version query when metric is absent
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): add fallback for flux_version query when metric is absent
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo-proxy): increase cache TTL and timeout to reduce intermittent badge failures
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): increase cache TTL and timeout to reduce intermittent badge failures
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: harden kromgo proxy badge delivery
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: harden kromgo proxy badge delivery
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: keep kromgo svg badges renderable
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: keep kromgo svg badges renderable
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: remove kromgo proxy badge rate limiting
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: remove kromgo proxy badge rate limiting
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat: upgrade kromgo README panels
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat: upgrade kromgo README panels
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat: redesign kromgo panels as compact inline badge rows
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat: redesign kromgo panels as compact inline badge rows
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat: add Uptime Kuma integration for Fiber network badge
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat: add Uptime Kuma integration for Fiber network badge
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat: replace generic badge icons with function-specific ones
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat: replace generic badge icons with function-specific ones
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: remove RPZ panels from recursor dashboard
  kubernetes/apps/observability/victoria-metrics/app/pdns-recursor-dashboard.yaml
Labels: area/kubernetes

fix: remove RPZ panels from recursor dashboard
  kubernetes/apps/observability/victoria-metrics/app/pdns-recursor-dashboard.yaml
Labels: area/kubernetes

feat: add external domain HTTPRoutes for ZTNA clientless access
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/vmauth/app/httproute.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
  kubernetes/components/cluster-secret/cluster-config-externalsecret.yaml
Labels: area/kubernetes

feat: add external domain HTTPRoutes for ZTNA clientless access
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/vmauth/app/httproute.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
  kubernetes/components/cluster-secret/cluster-config-externalsecret.yaml
Labels: area/kubernetes

fix: revert external domain HTTPRoutes, restore grafana root_url
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/vmauth/app/httproute.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix: revert external domain HTTPRoutes, restore grafana root_url
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/vmauth/app/httproute.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

feat: add dnscrypt-proxy scrape target for DNS DoH forwarder metrics
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat: add dnscrypt-proxy scrape target for DNS DoH forwarder metrics
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes
