Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(observability): add DNS resolver health alerts
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

feat(observability): add DNS resolver health alerts (#1198)
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): tune TrustSec SGACL deny alerts to spike-over-baseline
  kubernetes/apps/observability/victoria-logs/rules/cisco-trustsec-vmrule.yaml
  kubernetes/apps/observability/victoria-metrics/app/trustsec-sgacl-exporter.yaml
Labels: area/kubernetes

fix(observability): tune TrustSec SGACL deny alerts to spike-over-baseline (#1199)
  kubernetes/apps/observability/victoria-logs/rules/cisco-trustsec-vmrule.yaml
  kubernetes/apps/observability/victoria-metrics/app/trustsec-sgacl-exporter.yaml
Labels: area/kubernetes

fix(observability): exclude by-design guest AirPlay/Cast/Spotify denies from TrustSec SGACL anomaly rule
  kubernetes/apps/observability/victoria-logs/rules/cisco-trustsec-vmrule.yaml
Labels: area/kubernetes

fix(observability): exclude by-design guest AirPlay/Cast/Spotify denies from TrustSec SGACL anomaly rule (#1200)
  kubernetes/apps/observability/victoria-logs/rules/cisco-trustsec-vmrule.yaml
Labels: area/kubernetes

fix(observability): correct broken panels in infrastructure dashboards
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/dnsdist-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kea-dhcp4-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/pdns-recursor-dashboard.yaml
Labels: area/kubernetes

feat(observability): add TrustSec SGACL deny panels to network syslog dashboard
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): correct broken panels in infrastructure Grafana dashboards (#1201)
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/dnsdist-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kea-dhcp4-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/pdns-recursor-dashboard.yaml
Labels: area/kubernetes

fix(observability): repair network-syslog dashboard timeseries panels
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): repair network-syslog dashboard timeseries panels (#1202)
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): use quoted exact-match in syslog dashboard (not :=)
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): use quoted exact-match in syslog dashboard (not :=) (#1203)
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): bind syslog dashboard to VictoriaLogs datasource by UID
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): bind syslog dashboard to VictoriaLogs datasource by UID (#1204)
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(system-upgrade): disable kured reboot-lock auto-expiry
  kubernetes/apps/system-upgrade/kured/app/helmrelease.yaml
Labels: area/kubernetes

fix(flatcar): repair k8s sysext auto-update + eth0 pinning + version bumps
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/manifests/kube-vip.yaml
Labels: area/homeops-cli

feat(system-upgrade): merge-gate Flatcar OS upgrades via flatcar-os Plan
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/flatcar-upgrade/app/kustomization.yaml
  kubernetes/apps/system-upgrade/flatcar-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/flatcar-upgrade/ks.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/README.md
  kubernetes/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes, area/homeops-cli

fix(system-upgrade): exempt SUC Plans from Flux post-build substitution
  kubernetes/apps/system-upgrade/flatcar-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
Labels: area/kubernetes

feat(renovate): manage Flatcar OS version in the flatcar-os Plan
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  kubernetes/apps/system-upgrade/flatcar-upgrade/app/plan.yaml
Labels: area/kubernetes, area/renovate

fix(ci): pass flux-local diff to PR comment via file, truncated
  .github/workflows/flux-local.yaml
Labels: area/github

feat(homeops-cli): global --yes flag, TTY-gated menu, concurrent preflight (UX #19)
  cmd/homeops-cli/COMMANDS_NEW.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flow_test.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

security(homeops-cli): TOFU host keys, residual TLS-verify gaps, owner-only file perms (audit #19)
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/kubeconfig.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/client_helpers_test.go
Labels: area/homeops-cli

fix(homeops-cli): TrueNAS websocket TLS was silently unverified — correct verifySSL inversion (audit #20)
  cmd/homeops-cli/internal/truenas/client.go
Labels: area/homeops-cli

refactor(homeops-cli): extract provider.VMLifecycle — one dispatch path for all hypervisors (arch #20)
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/internal/provider/provider.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/vsphere/vm_manager.go
  cmd/homeops-cli/internal/vsphere/vm_manager_test.go
Labels: area/homeops-cli

refactor(homeops-cli): trim errors package to the API that's actually used (arch #20)
  cmd/homeops-cli/internal/errors/errors_test.go
  cmd/homeops-cli/internal/errors/helpers_test.go
  cmd/homeops-cli/internal/errors/types.go
Labels: area/homeops-cli

feat(homeops-cli): surface the perf collector — LogReport at debug level (arch #20)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/metrics/collector.go
Labels: area/homeops-cli

feat(homeops-cli): global --yes flag, TTY-gated menu, concurrent preflight (UX #19)
  cmd/homeops-cli/COMMANDS_NEW.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flow_test.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

fix(homeops-cli): TrueNAS websocket TLS was silently unverified — correct verifySSL inversion (audit #20)
  cmd/homeops-cli/internal/truenas/client.go
Labels: area/homeops-cli

refactor(homeops-cli): trim errors package to the API that's actually used (arch #20)
  cmd/homeops-cli/internal/errors/errors_test.go
  cmd/homeops-cli/internal/errors/helpers_test.go
  cmd/homeops-cli/internal/errors/types.go
Labels: area/homeops-cli

feat(homeops-cli): surface the perf collector — LogReport at debug level (arch #20)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/metrics/collector.go
Labels: area/homeops-cli

security(homeops-cli): TOFU host keys, residual TLS-verify gaps, owner-only file perms (audit #19)
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/kubeconfig.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/client_helpers_test.go
Labels: area/homeops-cli

refactor(homeops-cli): extract provider.VMLifecycle — one dispatch path for all hypervisors (arch #20)
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/internal/provider/provider.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/vsphere/vm_manager.go
  cmd/homeops-cli/internal/vsphere/vm_manager_test.go
Labels: area/homeops-cli

security(homeops-cli): krew checksum verify, private config-merge dir, join-material validation (arc #21)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/cmd/workstation/workstation_test.go
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/ui/prompts.go
Labels: area/homeops-cli

feat(homeops-cli): volsync wait heartbeat + honest partial-failure exits; completion errors surfaced (arc #21)
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/volsync/volsync.go
Labels: area/homeops-cli

fix(homeops-cli): context cancellation no longer hangs on orphaned child pipes (arc #21)
  cmd/homeops-cli/internal/common/command.go
Labels: area/homeops-cli

fix(homeops-cli): context cancellation no longer hangs on orphaned child pipes (arc #21)
  cmd/homeops-cli/internal/common/command.go
Labels: area/homeops-cli

feat(homeops-cli): volsync wait heartbeat + honest partial-failure exits; completion errors surfaced (arc #21)
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/volsync/volsync.go
Labels: area/homeops-cli

security(homeops-cli): krew checksum verify, private config-merge dir, join-material validation (arc #21)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/cmd/workstation/workstation_test.go
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/ui/prompts.go
Labels: area/homeops-cli

feat(homeops-cli): native charm UI (fang+huh+bubbletea) + config-driven VM composition
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/ui/gum_test.go
  cmd/homeops-cli/internal/ui/native_test.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/ui/prompts_test.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
