Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(talos): add disk mounts for longhorn and local-hostpath storage
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

refactor(longhorn): update namespace references in ks.yaml
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

refactor(longhorn): update namespace references in ks.yaml
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

fix(longhorn): fix YAML anchor scope in storageclass kustomization
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

fix(longhorn): fix YAML anchor scope in storageclass kustomization
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

refactor(longhorn): remove replicaAutoBalance setting from helmrelease
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

refactor(longhorn): remove replicaAutoBalance setting from helmrelease
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

feat(longhorn): add disk configuration annotations for nodes
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

feat(longhorn): add disk configuration annotations for nodes
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

Fix: disable to use custom mounts
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Fix: disable to use custom mounts
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/qbittorrent ( 285daaa ➔ 31ac397 ) (#235)
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): add util-linux-tools extension and IOMMU support
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

ci: update golangci-lint command to check all files
  .lefthook.toml
Labels: none

ci: update golangci-lint command to check all files
  .lefthook.toml
Labels: none

feat(talos): add util-linux-tools extension and IOMMU support
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

fix(talos): update controlplane installer image to v1.11.0
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(talos): update controlplane installer image to v1.11.0
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat(talos): add disk configuration for longhorn and local-hostpath
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
Labels: area/kubernetes, area/homeops-cli

feat(talos): add disk configuration for longhorn and local-hostpath
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
Labels: area/kubernetes, area/homeops-cli

refactor(longhorn): reorganize helmrelease and storageclass configurations
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
Labels: area/kubernetes

refactor(longhorn): reorganize helmrelease and storageclass configurations
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
Labels: area/kubernetes

feat(templates): add nvme_tcp and vfio-pci kernel modules to controlplane
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat(templates): add nvme_tcp and vfio-pci kernel modules to controlplane
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix: add defaultdatapath for longhorn
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix: add defaultdatapath for longhorn
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix: longhorn snapclasses
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix: longhorn snapclasses
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix(volsync): update storage class name to use snapshot variant
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

fix(volsync): update storage class name to use snapshot variant
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

Fix: use uservolume config for longhorn and openebs
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Fix: use uservolume config for longhorn and openebs
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

refactor(longhorn): remove duplicate defaultDataPath setting
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

refactor(longhorn): remove duplicate defaultDataPath setting
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

refactor(storage): migrate from OpenEBS/Rook to Longhorn storage
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

refactor(storage): migrate from OpenEBS/Rook to Longhorn storage
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

feat: add democratic-csi for TrueNAS iSCSI storage
  kubernetes/apps/storage-system/democratic-csi/app/helmrelease.yaml
  kubernetes/apps/storage-system/democratic-csi/app/helmrepository.yaml
  kubernetes/apps/storage-system/democratic-csi/app/kustomization.yaml
  kubernetes/apps/storage-system/democratic-csi/app/storageclass.yaml
  kubernetes/apps/storage-system/democratic-csi/ks.yaml
  kubernetes/apps/storage-system/kustomization.yaml
Labels: area/kubernetes

feat: add democratic-csi for TrueNAS iSCSI storage
  kubernetes/apps/storage-system/democratic-csi/app/helmrelease.yaml
  kubernetes/apps/storage-system/democratic-csi/app/helmrepository.yaml
  kubernetes/apps/storage-system/democratic-csi/app/kustomization.yaml
  kubernetes/apps/storage-system/democratic-csi/app/storageclass.yaml
  kubernetes/apps/storage-system/democratic-csi/ks.yaml
  kubernetes/apps/storage-system/kustomization.yaml
Labels: area/kubernetes

fix: remove duplicate zvolBlocksize key in democratic-csi config
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/storage-system/democratic-csi/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix: remove duplicate zvolBlocksize key in democratic-csi config
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/storage-system/democratic-csi/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli
