Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix: Remove duplicate path from VictoriaLogs datasource URL
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

fix: Remove duplicate path from VictoriaLogs datasource URL
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

fix: Remove duplicate path from VictoriaLogs datasource URL
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

feat: Add explicit time-based sorting to Network Device Logs dashboard
  kubernetes/apps/observability/vector-syslog/app/grafanadashboard.yaml
Labels: area/kubernetes

feat: Add explicit time-based sorting to Network Device Logs dashboard
  kubernetes/apps/observability/vector-syslog/app/grafanadashboard.yaml
Labels: area/kubernetes

feat: Add explicit time-based sorting to Network Device Logs dashboard
  kubernetes/apps/observability/vector-syslog/app/grafanadashboard.yaml
Labels: area/kubernetes

fix: Prevent stack VMAlert from selecting log-based rules
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Prevent stack VMAlert from selecting log-based rules
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Prevent stack VMAlert from selecting log-based rules
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Disable remoteWrite path appending in vmalert-logs
  kubernetes/apps/observability/victoria-logs/app/vmalert.yaml
Labels: area/kubernetes

fix: Disable remoteWrite path appending in vmalert-logs
  kubernetes/apps/observability/victoria-logs/app/vmalert.yaml
Labels: area/kubernetes

fix: Disable remoteWrite path appending in vmalert-logs
  kubernetes/apps/observability/victoria-logs/app/vmalert.yaml
Labels: area/kubernetes

fix: Increase autobrr metrics scrape timeout to prevent timeouts
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix: Increase autobrr metrics scrape timeout to prevent timeouts
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix: Increase autobrr metrics scrape timeout to prevent timeouts
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix: Add VMServiceScrape for Flux controllers to enable dashboard metrics
  kubernetes/apps/flux-system/flux-instance/app/vmservicescrape.yaml
Labels: area/kubernetes

fix: Add VMServiceScrape for Flux controllers to enable dashboard metrics
  kubernetes/apps/flux-system/flux-instance/app/vmservicescrape.yaml
Labels: area/kubernetes

fix: Add VMServiceScrape for Flux controllers to enable dashboard metrics
  kubernetes/apps/flux-system/flux-instance/app/vmservicescrape.yaml
Labels: area/kubernetes

fix: Switch Flux controllers from VMServiceScrape to VMPodScrape
  kubernetes/apps/flux-system/flux-instance/app/vmservicescrape.yaml
Labels: area/kubernetes

fix: Switch Flux controllers from VMServiceScrape to VMPodScrape
  kubernetes/apps/flux-system/flux-instance/app/vmservicescrape.yaml
Labels: area/kubernetes

fix: Switch Flux controllers from VMServiceScrape to VMPodScrape
  kubernetes/apps/flux-system/flux-instance/app/vmservicescrape.yaml
Labels: area/kubernetes

ci(github-action): update action astral-sh/setup-uv ( v7.1.0 ➔ v7.1.1 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.0 ➔ v7.1.1 )
  .github/workflows/schemas.yaml
Labels: area/github

chore: Update flux version tag
  README.md
Labels: area/docs

chore: Update flux version tag
  README.md
Labels: area/docs

chore: Update flux version tag
  README.md
Labels: area/docs

fix: Exclude KEDA HPAs with maxReplicas=1 from KubeHpaMaxedOut alert
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule.yaml
Labels: area/kubernetes

fix: Exclude KEDA HPAs with maxReplicas=1 from KubeHpaMaxedOut alert
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule.yaml
Labels: area/kubernetes

fix: Exclude KEDA HPAs with maxReplicas=1 from KubeHpaMaxedOut alert
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule.yaml
Labels: area/kubernetes

fix: Update silence-operator Alertmanager address for VictoriaMetrics
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: Update silence-operator Alertmanager address for VictoriaMetrics
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: Update silence-operator Alertmanager address for VictoriaMetrics
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

revert: Remove unnecessary VMRule override for KubeHpaMaxedOut
  kubernetes/apps/observability/victoria-metrics/app/vmrule.yaml
Labels: area/kubernetes

revert: Remove unnecessary VMRule override for KubeHpaMaxedOut
  kubernetes/apps/observability/victoria-metrics/app/vmrule.yaml
Labels: area/kubernetes

revert: Remove unnecessary VMRule override for KubeHpaMaxedOut
  kubernetes/apps/observability/victoria-metrics/app/vmrule.yaml
Labels: area/kubernetes

fix: Remove vmrule.yaml reference from victoria-metrics kustomization
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
Labels: area/kubernetes

fix: Remove vmrule.yaml reference from victoria-metrics kustomization
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
Labels: area/kubernetes

fix: Remove vmrule.yaml reference from victoria-metrics kustomization
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
Labels: area/kubernetes

feat: Add VictoriaLogs VMRule for radarr database alerts
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/vmrule.yaml
Labels: area/kubernetes

feat: Add VictoriaLogs VMRule for radarr database alerts
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/vmrule.yaml
Labels: area/kubernetes
