Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(homeops-cli): remove Gateway API CRDs from Helm ownership mapping
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

feat(homeops-cli): install Gateway API CRDs during bootstrap
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

refactor(homeops-cli): read Gateway API CRDs version from kustomization
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(homeops-cli): harden Gateway API CRDs with validation and tests
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
Labels: area/homeops-cli

fix(homeops-cli): improve Gateway API CRDs error and log messages
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

feat(homeops-cli): extract and display Gateway API version in logs
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
Labels: area/homeops-cli

fix(homeops-cli): update bootstrap for kgateway and fix namespace constants (#862)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

fix(homeops-cli): update bootstrap for kgateway and fix namespace constants (#862)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

feat(kromgo-proxy): rewrite badge worker with edge caching and reorganize README badges
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): rewrite badge worker with edge caching and reorganize README badges
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

fix(kromgo): fix alert count badge returning no data
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): fix alert count badge returning no data
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(victoria-logs): force upgrade to bypass Helm manifest merge bug
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-logs): force upgrade to bypass Helm manifest merge bug
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-logs): pin to 0.11.29 due to Helm manifest merge bug in 0.11.30
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(victoria-logs): pin to 0.11.29 due to Helm manifest merge bug in 0.11.30
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(kromgo): exclude InfoInhibitor and KubeHpaMaxedOut from alert badge
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): exclude InfoInhibitor and KubeHpaMaxedOut from alert badge
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): keep InfoInhibitor in alert badge count
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): keep InfoInhibitor in alert badge count
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(observability): exclude nas01 ZFS ARC from memory alerts and badge
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(observability): exclude nas01 ZFS ARC from memory alerts and badge
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(ci): optimize workflows, fix image-pull matrix bug, and enable platform automerge
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
  .github/workflows/tag.yaml
  .renovate/autoMerge.json5
  .renovate/groups.json5
  .renovaterc.json5
Labels: area/github, area/renovate

fix(ci): optimize workflows, fix image-pull matrix bug, and enable platform automerge
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
  .github/workflows/tag.yaml
  .renovate/autoMerge.json5
  .renovate/groups.json5
  .renovaterc.json5
Labels: area/github, area/renovate

feat(renovate): expand auto-merge coverage for non-critical updates
  .renovate/autoMerge.json5
Labels: area/renovate

feat(renovate): expand auto-merge coverage for non-critical updates
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): remove victoria-metrics-k8s-stack from critical infra blocklist
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): remove victoria-metrics-k8s-stack from critical infra blocklist
  .renovate/autoMerge.json5
Labels: area/renovate

fix(kgateway): split grafana dashboards into separate files
  kubernetes/apps/network/kgateway/app/grafanadashboard-downstream.yaml
  kubernetes/apps/network/kgateway/app/grafanadashboard-overview.yaml
  kubernetes/apps/network/kgateway/app/grafanadashboard-upstream.yaml
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
  kubernetes/apps/network/kgateway/app/kustomization.yaml
Labels: area/kubernetes

fix(kgateway): split grafana dashboards into separate files
  kubernetes/apps/network/kgateway/app/grafanadashboard-downstream.yaml
  kubernetes/apps/network/kgateway/app/grafanadashboard-overview.yaml
  kubernetes/apps/network/kgateway/app/grafanadashboard-upstream.yaml
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
  kubernetes/apps/network/kgateway/app/kustomization.yaml
Labels: area/kubernetes

fix(renovate): resolve deprecation warning and pin-dependencies failure
  .github/workflows/renovate.yaml
  .renovaterc.json5
Labels: area/github, area/renovate

fix(renovate): resolve deprecation warning and pin-dependencies failure
  .github/workflows/renovate.yaml
  .renovaterc.json5
Labels: area/github, area/renovate

fix(renovate): ignore CLI template files causing YAML parse errors
  .renovaterc.json5
Labels: area/renovate

fix(renovate): ignore CLI template files causing YAML parse errors
  .renovaterc.json5
Labels: area/renovate

fix(renovate): narrow custom regex manager file patterns and ignore archive
  .renovate/customManagers.json5
  .renovaterc.json5
Labels: area/renovate

fix(renovate): narrow custom regex manager file patterns and ignore archive
  .renovate/customManagers.json5
  .renovaterc.json5
Labels: area/renovate

fix(renovate): narrow ignorePaths to only volsync templates
  .renovaterc.json5
Labels: area/renovate

fix(renovate): narrow ignorePaths to only volsync templates
  .renovaterc.json5
Labels: area/renovate

fix(kromgo-proxy): don't cache kromgo 'no data' responses
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): don't cache kromgo 'no data' responses
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
