Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.14 ➔ 0.17.15 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.14 ➔ 0.17.15 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.16.12 ➔ v0.16.13 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.16.12 ➔ v0.16.13 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-release)!: Update release node ( 22.21.0 ➔ 24.10.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-release)!: Update release node ( 22.21.0 ➔ 24.10.0 )
  .github/workflows/schemas.yaml
Labels: area/github

fix:grafanaDashboards.json5
  .renovate/grafanaDashboards.json5
Labels: area/renovate

fix:grafanaDashboards.json5
  .renovate/grafanaDashboards.json5
Labels: area/renovate

fix:grafanaDashboards.json5
  .renovate/grafanaDashboards.json5
Labels: area/renovate

fix(container): update image ghcr.io/n8n-io/n8n ( 1.118.0 ➔ 1.118.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.118.0 ➔ 1.118.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore: update kopiamaintenance schedule
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
Labels: area/kubernetes

chore: update kopiamaintenance schedule
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
Labels: area/kubernetes

chore: update kopiamaintenance schedule
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.4 ➔ v1.18.6 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.4 ➔ v1.18.6 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/autobrr/qui ( v1.5.0 ➔ v1.6.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.5.0 ➔ v1.6.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.61.11 ➔ 0.61.13 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.61.11 ➔ 0.61.13 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action astral-sh/setup-uv ( v7.1.1 ➔ v7.1.2 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.1 ➔ v7.1.2 )
  .github/workflows/schemas.yaml
Labels: area/github

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.16 ➔ 0.11.17 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.16 ➔ 0.11.17 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.61.13 ➔ 0.62.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.61.13 ➔ 0.62.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore: add gemini context file
  GEMINI.md
Labels: none

chore: add gemini context file
  GEMINI.md
Labels: none

chore: add gemini context file
  GEMINI.md
Labels: none

chore: Increase webhook pod resource requests and limits
  kubernetes/apps/default/webhook/app/helmrelease.yaml
Labels: area/kubernetes

chore: Increase webhook pod resource requests and limits
  kubernetes/apps/default/webhook/app/helmrelease.yaml
Labels: area/kubernetes

chore: Increase webhook pod resource requests and limits
  kubernetes/apps/default/webhook/app/helmrelease.yaml
Labels: area/kubernetes

chore: add gum
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

chore: add gum
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

chore: add gum
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

chore: nit
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

chore: nit
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

chore: nit
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
