Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(netbox): disable worker for background tasks
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): disable worker for background tasks
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): disable worker for background tasks
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): use http port for liveness probe instead of nginx-status
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): use http port for liveness probe instead of nginx-status
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): use http port for liveness probe instead of nginx-status
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): use customLivenessProbe to override nginx-status endpoint
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): use customLivenessProbe to override nginx-status endpoint
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): use customLivenessProbe to override nginx-status endpoint
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-metrics): improve scrape reliability and add cardinality protection
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

fix(victoria-metrics): improve scrape reliability and add cardinality protection
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

fix(victoria-metrics): improve scrape reliability and add cardinality protection
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

docs: update README to reflect Proxmox migration and 40Gbps LACP configuration
  README.md
Labels: area/docs

docs: update README to reflect Proxmox migration and 40Gbps LACP configuration
  README.md
Labels: area/docs

docs: update README to reflect Proxmox migration and 40Gbps LACP configuration
  README.md
Labels: area/docs

docs: remove infrastructure migration section and unused applications
  README.md
Labels: area/docs

docs: remove infrastructure migration section and unused applications
  README.md
Labels: area/docs

docs: remove infrastructure migration section and unused applications
  README.md
Labels: area/docs

fix(deps): update dependency go ( 1.25.6 ➔ 1.25.7 ) (#738)
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(deps): update dependency go ( 1.25.6 ➔ 1.25.7 ) (#738)
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(container): update image ghcr.io/cloudnative-pg/charts/cloudnative-pg ( 0.27.0 ➔ 0.27.1 ) (#739)
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/charts/cloudnative-pg ( 0.27.0 ➔ 0.27.1 ) (#739)
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.4 ➔ 7.4.5 ) (#740)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.4 ➔ 7.4.5 ) (#740)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.25 ➔ 0.11.26 ) (#741)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.25 ➔ 0.11.26 ) (#741)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

feat: Update qBittorrent image, disable Cilium L2 announcements and service topology
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update qBittorrent image, disable Cilium L2 announcements and service topology
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update qBittorrent image, disable Cilium L2 announcements and service topology
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.19.0 ➔ v1.19.1 ) (#742)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.19.0 ➔ v1.19.1 ) (#742)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

chore: Update Fluent Bit OCI repository URL to the official fluent/helm-charts.
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

chore: Update Fluent Bit OCI repository URL to the official fluent/helm-charts.
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

chore: Update Fluent Bit OCI repository URL to the official fluent/helm-charts.
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v46.0.1 ➔ v46.0.2 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v46.0.1 ➔ v46.0.2 )
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.6.3 ➔ v1.7.0 ) (#743)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.6.3 ➔ v1.7.0 ) (#743)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 26.0.0 ➔ 27.0.0 ) (#744)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 26.0.0 ➔ 27.0.0 ) (#744)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli
