Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.2 ➔ v0.7.3 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.2 ➔ v0.7.3 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.3 ➔ v0.7.4 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.3 ➔ v0.7.4 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/karakeep-app/karakeep ( 0.27.1 ➔ 0.28.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/karakeep-app/karakeep ( 0.27.1 ➔ 0.28.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.30.0 ➔ v5.31.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.30.0 ➔ v5.31.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.0.0 ➔ v44.0.1 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.0.0 ➔ v44.0.1 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.0.1 ➔ v44.0.2 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.0.1 ➔ v44.0.2 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.4 ➔ 0.63.5 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.4 ➔ 0.63.5 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/autobrr/autobrr ( v1.68.0 ➔ v1.69.0 )
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.68.0 ➔ v1.69.0 )
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

chore: Move fusion app to self-hosted namespace
  AGENTS.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/namespace.yaml
Labels: area/kubernetes

chore: Move fusion app to self-hosted namespace
  AGENTS.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/namespace.yaml
Labels: area/kubernetes

chore: Move fusion app to self-hosted namespace
  AGENTS.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/namespace.yaml
Labels: area/kubernetes

chore: Move Actual app to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
  kubernetes/apps/self-hosted/actual/app/kustomization.yaml
  kubernetes/apps/self-hosted/actual/app/ocirepository.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/docs, area/kubernetes

chore: Move Actual app to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
  kubernetes/apps/self-hosted/actual/app/kustomization.yaml
  kubernetes/apps/self-hosted/actual/app/ocirepository.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/docs, area/kubernetes

chore: Move Actual app to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
  kubernetes/apps/self-hosted/actual/app/kustomization.yaml
  kubernetes/apps/self-hosted/actual/app/ocirepository.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/docs, area/kubernetes

chore: Move productivity apps to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
  kubernetes/apps/self-hosted/atuin/app/kustomization.yaml
  kubernetes/apps/self-hosted/atuin/app/ocirepository.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/docs, area/kubernetes

chore: Move productivity apps to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
  kubernetes/apps/self-hosted/atuin/app/kustomization.yaml
  kubernetes/apps/self-hosted/atuin/app/ocirepository.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/docs, area/kubernetes

chore: Move productivity apps to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
  kubernetes/apps/self-hosted/atuin/app/kustomization.yaml
  kubernetes/apps/self-hosted/atuin/app/ocirepository.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/docs, area/kubernetes

chore: Add Karakeep and OCIS applications to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/karakeep/app/externalsecret.yaml
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/self-hosted/karakeep/app/kustomization.yaml
  kubernetes/apps/self-hosted/karakeep/app/ocirepository.yaml
  kubernetes/apps/self-hosted/karakeep/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/ocis/app/config/web.yaml
  kubernetes/apps/self-hosted/ocis/app/externalsecret.yaml
  kubernetes/apps/self-hosted/ocis/app/helmrelease.yaml
  kubernetes/apps/self-hosted/ocis/app/kustomization.yaml
  kubernetes/apps/self-hosted/ocis/app/ocirepository.yaml
  kubernetes/apps/self-hosted/ocis/ks.yaml
Labels: area/docs, area/kubernetes

chore: Add Karakeep and OCIS applications to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/karakeep/app/externalsecret.yaml
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/self-hosted/karakeep/app/kustomization.yaml
  kubernetes/apps/self-hosted/karakeep/app/ocirepository.yaml
  kubernetes/apps/self-hosted/karakeep/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/ocis/app/config/web.yaml
  kubernetes/apps/self-hosted/ocis/app/externalsecret.yaml
  kubernetes/apps/self-hosted/ocis/app/helmrelease.yaml
  kubernetes/apps/self-hosted/ocis/app/kustomization.yaml
  kubernetes/apps/self-hosted/ocis/app/ocirepository.yaml
  kubernetes/apps/self-hosted/ocis/ks.yaml
Labels: area/docs, area/kubernetes

chore: Add Karakeep and OCIS applications to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/karakeep/app/externalsecret.yaml
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/self-hosted/karakeep/app/kustomization.yaml
  kubernetes/apps/self-hosted/karakeep/app/ocirepository.yaml
  kubernetes/apps/self-hosted/karakeep/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/ocis/app/config/web.yaml
  kubernetes/apps/self-hosted/ocis/app/externalsecret.yaml
  kubernetes/apps/self-hosted/ocis/app/helmrelease.yaml
  kubernetes/apps/self-hosted/ocis/app/kustomization.yaml
  kubernetes/apps/self-hosted/ocis/app/ocirepository.yaml
  kubernetes/apps/self-hosted/ocis/ks.yaml
Labels: area/docs, area/kubernetes

chore: Add The Lounge application to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/thelounge/app/helmrelease.yaml
  kubernetes/apps/self-hosted/thelounge/app/kustomization.yaml
  kubernetes/apps/self-hosted/thelounge/app/ocirepository.yaml
  kubernetes/apps/self-hosted/thelounge/ks.yaml
Labels: area/docs, area/kubernetes

chore: Add The Lounge application to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/thelounge/app/helmrelease.yaml
  kubernetes/apps/self-hosted/thelounge/app/kustomization.yaml
  kubernetes/apps/self-hosted/thelounge/app/ocirepository.yaml
  kubernetes/apps/self-hosted/thelounge/ks.yaml
Labels: area/docs, area/kubernetes

chore: Add The Lounge application to self-hosted namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/thelounge/app/helmrelease.yaml
  kubernetes/apps/self-hosted/thelounge/app/kustomization.yaml
  kubernetes/apps/self-hosted/thelounge/app/ocirepository.yaml
  kubernetes/apps/self-hosted/thelounge/ks.yaml
Labels: area/docs, area/kubernetes

chore: dd n8n workflow automation application and related configurations
  README.md
  kubernetes/apps/automation/kustomization.yaml
  kubernetes/apps/automation/n8n/app/externalsecret.yaml
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/automation/n8n/app/kustomization.yaml
  kubernetes/apps/automation/n8n/app/ocirepository.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/automation/namespace.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/self-hosted/it-tools/app/kustomization.yaml
  kubernetes/apps/self-hosted/it-tools/app/ocirepository.yaml
  kubernetes/apps/self-hosted/it-tools/ks.yaml
  kubernetes/apps/self-hosted/webhook/app/externalsecret.yaml
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
  kubernetes/apps/self-hosted/webhook/app/kustomization.yaml
  kubernetes/apps/self-hosted/webhook/app/ocirepository.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/hooks.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/jellyseerr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/radarr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-refresh-series.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-tag-codecs.sh
  kubernetes/apps/self-hosted/webhook/ks.yaml
Labels: area/docs, area/kubernetes

chore: dd n8n workflow automation application and related configurations
  README.md
  kubernetes/apps/automation/kustomization.yaml
  kubernetes/apps/automation/n8n/app/externalsecret.yaml
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/automation/n8n/app/kustomization.yaml
  kubernetes/apps/automation/n8n/app/ocirepository.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/automation/namespace.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/self-hosted/it-tools/app/kustomization.yaml
  kubernetes/apps/self-hosted/it-tools/app/ocirepository.yaml
  kubernetes/apps/self-hosted/it-tools/ks.yaml
  kubernetes/apps/self-hosted/webhook/app/externalsecret.yaml
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
  kubernetes/apps/self-hosted/webhook/app/kustomization.yaml
  kubernetes/apps/self-hosted/webhook/app/ocirepository.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/hooks.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/jellyseerr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/radarr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-refresh-series.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-tag-codecs.sh
  kubernetes/apps/self-hosted/webhook/ks.yaml
Labels: area/docs, area/kubernetes

chore: dd n8n workflow automation application and related configurations
  README.md
  kubernetes/apps/automation/kustomization.yaml
  kubernetes/apps/automation/n8n/app/externalsecret.yaml
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/automation/n8n/app/kustomization.yaml
  kubernetes/apps/automation/n8n/app/ocirepository.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/automation/namespace.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/self-hosted/it-tools/app/kustomization.yaml
  kubernetes/apps/self-hosted/it-tools/app/ocirepository.yaml
  kubernetes/apps/self-hosted/it-tools/ks.yaml
  kubernetes/apps/self-hosted/webhook/app/externalsecret.yaml
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
  kubernetes/apps/self-hosted/webhook/app/kustomization.yaml
  kubernetes/apps/self-hosted/webhook/app/ocirepository.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/hooks.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/jellyseerr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/radarr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-pushover.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-refresh-series.sh
  kubernetes/apps/self-hosted/webhook/app/resources/sonarr-tag-codecs.sh
  kubernetes/apps/self-hosted/webhook/ks.yaml
Labels: area/docs, area/kubernetes

chore: Add Jellyseerr application and related configurations to media namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/namespace.yaml
Labels: area/docs, area/kubernetes

chore: Add Jellyseerr application and related configurations to media namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/namespace.yaml
Labels: area/docs, area/kubernetes

chore: Add Jellyseerr application and related configurations to media namespace
  README.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/namespace.yaml
Labels: area/docs, area/kubernetes

chore: remove unused Kustomization and namespace files from default app
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
Labels: area/kubernetes

chore: remove unused Kustomization and namespace files from default app
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
Labels: area/kubernetes

chore: remove unused Kustomization and namespace files from default app
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
Labels: area/kubernetes
