Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(silences): mute RecordingRulesNoData (cosmetic stale-id flap)
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

feat(alerts): watchdog for ntopng flow-export stall on nflo0
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

feat(homeops-cli)!: migrate charmbracelet TUI stack to v2 (charm.land paths)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/ui/banner.go
  cmd/homeops-cli/internal/ui/native_test.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/ui/table.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

feat(homeops-cli)!: migrate charmbracelet TUI stack to v2 (charm.land paths) (#1237)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/ui/banner.go
  cmd/homeops-cli/internal/ui/native_test.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/ui/table.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

fix(homeops-cli): repair internal/proxmox build against go-proxmox v0.7.1 API
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
  cmd/homeops-cli/internal/proxmox/vm_snapshot.go
Labels: area/homeops-cli

fix(homeops-cli): repair internal/proxmox build against go-proxmox v0.7.1 API (#1238)
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
  cmd/homeops-cli/internal/proxmox/vm_snapshot.go
Labels: area/homeops-cli

fix(flatcar): set kubelet imageGC thresholds below Ceph mon disk warn
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
Labels: area/homeops-cli

fix(flatcar): set kubelet imageGC thresholds below Ceph mon disk warn (#1249)
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
Labels: area/homeops-cli

refactor(homeops-cli): move vm command into its own cmd/vm package
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/vm/mocks_test.go
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_cmd_test.go
  cmd/homeops-cli/cmd/vm/vm_completion.go
  cmd/homeops-cli/cmd/vm/vm_completion_test.go
  cmd/homeops-cli/cmd/vm/vm_create.go
  cmd/homeops-cli/cmd/vm/vm_create_test.go
  cmd/homeops-cli/cmd/vm/vm_extras.go
  cmd/homeops-cli/cmd/vm/vm_hardware.go
  cmd/homeops-cli/cmd/vm/vm_template.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

refactor(homeops-cli): extract provider-generic VM foundation to internal/vmlifecycle
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/talos/vm_completion.go
  cmd/homeops-cli/cmd/talos/vm_create.go
  cmd/homeops-cli/cmd/talos/vm_create_test.go
  cmd/homeops-cli/cmd/talos/vm_extras.go
  cmd/homeops-cli/cmd/talos/vm_hardware.go
  cmd/homeops-cli/cmd/talos/vm_template.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle.go
Labels: area/homeops-cli

feat(homeops-cli): complete Flatcar CLI review — add reboot/shutdown, fix drift
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
Labels: area/homeops-cli

test(homeops-cli): move VM foundation tests into internal/vmlifecycle
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle_test.go
Labels: area/homeops-cli

fix: harden homeops-cli interactive and restore flows
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_flow_test.go
  cmd/homeops-cli/cmd/workstation/setup.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

chore: carry over low-risk onedr0p version bumps
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

fix(observability): migrate vlogs rules off removed `| regexp` pipe
  kubernetes/apps/observability/victoria-logs/rules/autobrr-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/cross-seed-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/prowlarr-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/qbittorrent-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/radarr-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/sonarr-vmrule.yaml
Labels: area/kubernetes

fix(homeops-cli): repair build (go-proxmox v0.8.0) and harden the CLI
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_cmd_test.go
  cmd/homeops-cli/cmd/vm/vm_completion.go
  cmd/homeops-cli/cmd/vm/vm_create.go
  cmd/homeops-cli/cmd/vm/vm_extras.go
  cmd/homeops-cli/cmd/vm/vm_hardware.go
  cmd/homeops-cli/cmd/vm/vm_interactive.go
  cmd/homeops-cli/cmd/vm/vm_template.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

fix(homeops-cli): repair build (go-proxmox v0.8.0) and harden the CLI (#1258)
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_cmd_test.go
  cmd/homeops-cli/cmd/vm/vm_completion.go
  cmd/homeops-cli/cmd/vm/vm_create.go
  cmd/homeops-cli/cmd/vm/vm_extras.go
  cmd/homeops-cli/cmd/vm/vm_hardware.go
  cmd/homeops-cli/cmd/vm/vm_interactive.go
  cmd/homeops-cli/cmd/vm/vm_template.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/vmlifecycle/vmlifecycle.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

fix(homeops-cli): make krew kubectl plugins discoverable (browse-pvc, node-shell)
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_interactive_test.go
Labels: area/homeops-cli

fix(homeops-cli): make krew kubectl plugins discoverable (browse-pvc, node-shell) (#1259)
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_interactive_test.go
Labels: area/homeops-cli

feat(observability): SNMP fabric + GeoIP/feed health monitoring
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/snmp-exporter-scrape.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

feat(observability): SNMP fabric + GeoIP/feed health monitoring (#1260)
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/snmp-exporter-scrape.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

fix(system-upgrade): auto-reload SUC controller on env ConfigMap change
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/controller.yaml
Labels: area/kubernetes

fix(observability): resurrect dead gateway0 WAN alerts + add conntrack alerts
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): resurrect dead gateway0 WAN alerts + add conntrack alerts (#1288)
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): resurrect dead SNMP fabric alerts + add port-channel polarization alert
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

fix(observability): resurrect dead SNMP fabric alerts + add port-channel polarization alert (#1289)
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

feat(observability): add gateway0 NIC physical-error + rx-buffer-drop alerts
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

feat(observability): add gateway0 NIC physical-error + rx-buffer-drop alerts (#1290)
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): scope Po20 polarization alert off the ERSPAN-pinned member
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

fix(observability): scope Po20 polarization alert off the ERSPAN-pinned member (#1292)
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

feat(observability): SSH probes, cell-gw feed telemetry, BGP-drift alerts
  kubernetes/apps/observability/victoria-metrics/app/snmp-exporter-scrape.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

feat(kromgo-proxy): overhaul README metric panels as stat tiles
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(readme): pin metric tile theme to GitHub theme via picture sources
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): restyle metric tiles — glass cards, icon chips, glow dots
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): compact metric tiles (72px → 52px)
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): eye-candy pass — per-tile hues, glow, gloss, colored values
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): shields.io for-the-badge style metric panels
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(kromgo-proxy): refine badge typography
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix: revert SUC to v0.19.2 (v0.20.0 not on Docker Hub); pin n8n to k8s-0 (image only cached there)
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/controller.yaml
Labels: area/kubernetes

refactor(homeops-cli): dedup Proxmox VM option builders, split volsync restoreApp, add validation and tests
  cmd/homeops-cli/cmd/vm/vm.go
  cmd/homeops-cli/cmd/vm/vm_create.go
  cmd/homeops-cli/cmd/vm/vm_extras.go
  cmd/homeops-cli/cmd/vm/vm_hardware.go
  cmd/homeops-cli/cmd/vm/vm_template.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_flow_test.go
  cmd/homeops-cli/internal/images/catalog_test.go
  cmd/homeops-cli/internal/provider/provider_test.go
  cmd/homeops-cli/internal/proxmox/api_harness_test.go
  cmd/homeops-cli/internal/proxmox/cloudinit.go
  cmd/homeops-cli/internal/proxmox/task.go
  cmd/homeops-cli/internal/proxmox/validation.go
  cmd/homeops-cli/internal/proxmox/vm_hardware.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
  cmd/homeops-cli/internal/proxmox/vm_net.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/proxmox/vm_options_characterization_test.go
  cmd/homeops-cli/internal/proxmox/vm_snapshot.go
Labels: area/homeops-cli
