Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image docker.io/cloudflare/cloudflared ( 2025.8.0 → 2025.8.1 ) (#171)
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update github.com/truenas/api_client_golang digest ( de238c6 → fc6edc0 ) (#170)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/truenas-deep-explorer/go.mod
  cmd/truenas-deep-explorer/go.sum
Labels: area/homeops-cli, area/trunenas-deep-explorer

feat(container): update image docker.io/getmeili/meilisearch ( v1.17.1 → v1.18.0 ) (#165)
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.108.0 → 1.108.1 ) (#168)
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update rook-ceph group ( v1.17.7 → v1.18.0 ) (#169)
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 76.4.0 → 76.4.1 ) (#174)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(kustomization): comment out kopia resource in volsync-system configuration
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

fix(kustomization): comment out kopia resource in volsync-system configuration
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

feat(helmrelease): add crushLocationLabels for readAffinity in CSI configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(helmrelease): add crushLocationLabels for readAffinity in CSI configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(kustomization): uncomment kopia resource in volsync-system configuration
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

fix(kustomization): uncomment kopia resource in volsync-system configuration
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.2.2 → 11.3.0 ) (#175)
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 76.4.1 → 76.5.0 ) (#176)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.3.3 → 9.3.4 ) (#177)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 76.5.0 → 76.5.1 ) (#178)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(templates): refactor bootstrap templates and replace Jinja2 with YAML files
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/templates/bootstrap/clustersecretstore.yaml
  cmd/homeops-cli/internal/templates/bootstrap/crds/helmfile.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.yaml
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml.j2
  cmd/homeops-cli/internal/templates/bootstrap/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml.j2
  go.mod
Labels: area/bootstrap, area/homeops-cli

feat(templates): refactor bootstrap templates and replace Jinja2 with YAML files
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/templates/bootstrap/clustersecretstore.yaml
  cmd/homeops-cli/internal/templates/bootstrap/crds/helmfile.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.yaml
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml.j2
  cmd/homeops-cli/internal/templates/bootstrap/values.yaml.gotmpl
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml.j2
  go.mod
Labels: area/bootstrap, area/homeops-cli

Refactor and clean up codebase
  .gitignore
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/overrides.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/foundation_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/templates/talos/machineconfig.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml.j2
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/testing/framework.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/yaml/processor.go
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/system-upgrade/versions/ks.yaml
  kubernetes/apps/system-upgrade/versions/kustomization.yaml
  kubernetes/apps/system-upgrade/versions/versions.env
Labels: area/kubernetes, area/renovate, area/homeops-cli

Refactor and clean up codebase
  .gitignore
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/overrides.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/foundation_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/templates/talos/machineconfig.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml.j2
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/testing/framework.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/yaml/processor.go
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/system-upgrade/versions/ks.yaml
  kubernetes/apps/system-upgrade/versions/kustomization.yaml
  kubernetes/apps/system-upgrade/versions/versions.env
Labels: area/kubernetes, area/renovate, area/homeops-cli

fix(httproute): update hostnames format to use YAML list syntax
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes

fix(httproute): update hostnames format to use YAML list syntax
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes

fix(bootstrap): unify machine config rendering for controlplane and worker nodes
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(bootstrap): unify machine config rendering for controlplane and worker nodes
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(templates): update diskSelector match condition to exclude system_disk in node templates
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml.j2
Labels: area/homeops-cli

fix(templates): update diskSelector match condition to exclude system_disk in node templates
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml.j2
Labels: area/homeops-cli

ci(github-action): update action astral-sh/setup-uv ( v6.5.0 ➔ v6.6.0 )
  .github/workflows/schemas.yaml
Labels: area/github

fix(bootstrap): add warning for unresolved 1Password references in machine config
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

refactor(talos): centralize common config and schematic updates in controlplane.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/errors/errors_test.go
  cmd/homeops-cli/internal/errors/metrics.go
  cmd/homeops-cli/internal/errors/recovery.go
  cmd/homeops-cli/internal/errors/reporter.go
  cmd/homeops-cli/internal/errors/types.go
  cmd/homeops-cli/internal/errors/validation.go
  cmd/homeops-cli/internal/iso/downloader.go
  cmd/homeops-cli/internal/metrics/collector.go
  cmd/homeops-cli/internal/migration/tools.go
  cmd/homeops-cli/internal/security/cache.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/template/renderer.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/machineconfig.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/testing/framework.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/yaml/processor.go
Labels: area/homeops-cli

fix(bootstrap): add warning for unresolved 1Password references in machine config
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

refactor(talos): centralize common config and schematic updates in controlplane.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/errors/errors_test.go
  cmd/homeops-cli/internal/errors/metrics.go
  cmd/homeops-cli/internal/errors/recovery.go
  cmd/homeops-cli/internal/errors/reporter.go
  cmd/homeops-cli/internal/errors/types.go
  cmd/homeops-cli/internal/errors/validation.go
  cmd/homeops-cli/internal/iso/downloader.go
  cmd/homeops-cli/internal/metrics/collector.go
  cmd/homeops-cli/internal/migration/tools.go
  cmd/homeops-cli/internal/security/cache.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/template/renderer.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/machineconfig.yaml.j2
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/testing/framework.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/yaml/processor.go
Labels: area/homeops-cli

fix(talos): update node IP addresses to the new subnet 192.168.123.0/22
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): update node IP addresses to the new subnet 192.168.123.0/22
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix: correct IP addresses in talos node templates
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix: correct IP addresses in talos node templates
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

refactor(talos): update node configs to use dhcp and hardware addresses
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

refactor(talos): update node configs to use dhcp and hardware addresses
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(templates): remove duplicate interfaces field in talos node config
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
Labels: area/homeops-cli

fix(templates): remove duplicate interfaces field in talos node config
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
Labels: area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v43.0.8 ➔ v43.0.9 )
  .github/workflows/renovate.yaml
Labels: area/github
