Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

debug(vector-syslog): add extraction_attempted flag to debug parsing
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

debug(vector-syslog): add extraction_attempted flag to debug parsing
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

debug(vector-syslog): add detailed debugging for IN field extraction
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

debug(vector-syslog): add detailed debugging for IN field extraction
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

debug(vector-syslog): add detailed debugging for IN field extraction
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): try simplified regex pattern \S+ instead of [^\s]+
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): try simplified regex pattern \S+ instead of [^\s]+
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): try simplified regex pattern \S+ instead of [^\s]+
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): replace parse_regex with split-based extraction for network fields
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): replace parse_regex with split-based extraction for network fields
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): replace parse_regex with split-based extraction for network fields
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): make all split functions infallible in VRL
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): make all split functions infallible in VRL
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): make all split functions infallible in VRL
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): handle nullable mac_address in VRL
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): handle nullable mac_address in VRL
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): handle nullable mac_address in VRL
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): ensure IP types are strings before contains() check
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): ensure IP types are strings before contains() check
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): ensure IP types are strings before contains() check
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v43.0.17 ➔ v43.0.18 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v43.0.17 ➔ v43.0.18 )
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( v5.19.4 ➔ v5.20.0 ) (#404)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( v5.19.4 ➔ v5.20.0 ) (#404)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image docker.io/getmeili/meilisearch ( v1.23.0 ➔ v1.24.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.23.0 ➔ v1.24.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.15 ➔ 0.11.16 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.15 ➔ 0.11.16 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/twin/gatus ( v5.27.0 ➔ v5.27.1 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/twin/gatus ( v5.27.0 ➔ v5.27.1 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: Add redirect for root path to /select/vmui/
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes

chore: Add redirect for root path to /select/vmui/
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes

chore: Add redirect for root path to /select/vmui/
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes

chore: Switch qbittorrent config to QUI proxy
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

chore: Switch qbittorrent config to QUI proxy
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

chore: Switch qbittorrent config to QUI proxy
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

chore: update encrypted secret config in tqm app
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

chore: update encrypted secret config in tqm app
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

chore: update encrypted secret config in tqm app
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

fix: Use lowercase keys for Fluent Bit output
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes
