Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

chore(container): update image ghcr.io/home-operations/nzbget ( 7afaa93 ➔ cec63a9 ) (#718)
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/nzbget ( 7afaa93 ➔ cec63a9 ) (#718)
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/sonarr ( 3597fd5 ➔ 22651c7 ) (#722)
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/sonarr ( 3597fd5 ➔ 22651c7 ) (#722)
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/webhook ( 3b3015d ➔ cee57ed ) (#723)
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/webhook ( 3b3015d ➔ cee57ed ) (#723)
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/prowlarr ( 7bdb547 ➔ e2459e1 ) (#719)
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/prowlarr ( 7bdb547 ➔ e2459e1 ) (#719)
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/bazarr ( 6e2fab9 ➔ 7ff11dd ) (#716)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/bazarr ( 6e2fab9 ➔ 7ff11dd ) (#716)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/qbittorrent ( e9c2c24 ➔ 56ecd30 ) (#720)
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/qbittorrent ( e9c2c24 ➔ 56ecd30 ) (#720)
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/radarr ( dc19149 ➔ 5e08c0e ) (#721)
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/radarr ( dc19149 ➔ 5e08c0e ) (#721)
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action bjw-s-labs/action-changed-files ( v0.4.1 ➔ v0.5.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

ci(github-action): update action bjw-s-labs/action-changed-files ( v0.4.1 ➔ v0.5.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

ci(github-action)!: Update action renovatebot/github-action ( v44.2.6 ➔ v45.0.3 ) (#724)
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action)!: Update action renovatebot/github-action ( v44.2.6 ➔ v45.0.3 ) (#724)
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/autobrr/autobrr ( v1.72.0 ➔ v1.72.1 ) (#725)
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/autobrr ( v1.72.0 ➔ v1.72.1 ) (#725)
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action)!: Update action renovatebot/github-action ( v45.0.3 ➔ v46.0.0 ) (#726)
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action)!: Update action renovatebot/github-action ( v45.0.3 ➔ v46.0.0 ) (#726)
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.0 ➔ 7.4.1 ) (#727)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.0 ➔ 7.4.1 ) (#727)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

Replace vmtoolsd-guest-agent with qemu-guest-agent
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

Replace vmtoolsd-guest-agent with qemu-guest-agent
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

Replace vmtoolsd-guest-agent with qemu-guest-agent
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

Migrate Talos configuration from VMware/ESXi to Proxmox
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

Migrate Talos configuration from VMware/ESXi to Proxmox
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

Migrate Talos configuration from VMware/ESXi to Proxmox
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(cilium): update device from eth0 to ens18 for Proxmox
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): update device from eth0 to ens18 for Proxmox
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): update device from eth0 to ens18 for Proxmox
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: Configure Talos for nocloud platform, update disk paths in templates, and adjust Rook Ceph OSD device filter.
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

feat: Configure Talos for nocloud platform, update disk paths in templates, and adjust Rook Ceph OSD device filter.
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

feat: Configure Talos for nocloud platform, update disk paths in templates, and adjust Rook Ceph OSD device filter.
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

chore: Explicitly select /dev/sdc for Talos node local-hostpath storage and update the worker installer image.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

chore: Explicitly select /dev/sdc for Talos node local-hostpath storage and update the worker installer image.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

chore: Explicitly select /dev/sdc for Talos node local-hostpath storage and update the worker installer image.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

fix(talos): correct UserVolumeConfig disk selector syntax
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli
