Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(observability): add blackbox-exporter grafana dashboard (#1021)
  kubernetes/apps/observability/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
Labels: area/kubernetes

feat(observability): add blackbox-exporter grafana dashboard (#1021)
  kubernetes/apps/observability/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
Labels: area/kubernetes

refactor(volsync): decouple cache vars from snapshot capacity
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

refactor(volsync): decouple cache vars from snapshot capacity (#1022)
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

refactor(volsync): decouple cache vars from snapshot capacity (#1022)
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat: enable HPAScaleToZero feature gate in kube-controller-manager configuration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat: enable HPAScaleToZero feature gate in kube-controller-manager configuration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Revert "refactor(volsync): decouple cache vars from snapshot capacity (#1022)"
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

Revert "refactor(volsync): decouple cache vars from snapshot capacity (#1022)" (#1023)
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

Revert "refactor(volsync): decouple cache vars from snapshot capacity (#1022)" (#1023)
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat: add refresh interval argument and format security context capabilities in kopia helmrelease
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat: add refresh interval argument and format security context capabilities in kopia helmrelease
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

chore: add registry alias for mirror.gcr.io and reformat manager configurations in .renovaterc.json5
  .renovaterc.json5
Labels: area/renovate

chore: add registry alias for mirror.gcr.io and reformat manager configurations in .renovaterc.json5
  .renovaterc.json5
Labels: area/renovate

feat(flux): replace wait: true with explicit healthChecks on parent KSes
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/keda/ks.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/openebs-system/openebs/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
Labels: area/kubernetes

feat(flux): replace wait: true with explicit healthChecks on parent KSes (#1024)
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/keda/ks.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/openebs-system/openebs/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
Labels: area/kubernetes

feat(flux): replace wait: true with explicit healthChecks on parent KSes (#1024)
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/keda/ks.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/openebs-system/openebs/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
Labels: area/kubernetes

fix(homeops-cli): harden secret handling and command UX
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flow_test.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_flow_test.go
  cmd/homeops-cli/docs/TESTING.md
  cmd/homeops-cli/internal/common/command.go
  cmd/homeops-cli/internal/common/command_test.go
  cmd/homeops-cli/internal/common/context.go
  cmd/homeops-cli/internal/common/helpers_extra_test.go
  cmd/homeops-cli/internal/common/kubeconfig.go
  cmd/homeops-cli/internal/common/kubeconfig_test.go
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/common/secrets_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
  cmd/homeops-cli/internal/testutil/helpers.go
  cmd/homeops-cli/internal/testutil/helpers_test.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/client.go.bak
  cmd/homeops-cli/internal/vsphere/client_exec_test.go
  cmd/homeops-cli/internal/vsphere/client_helpers_test.go
  cmd/homeops-cli/internal/vsphere/vm_config_test.go
Labels: area/homeops-cli

fix(homeops-cli): harden secret handling and command UX
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flow_test.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_flow_test.go
  cmd/homeops-cli/docs/TESTING.md
  cmd/homeops-cli/internal/common/command.go
  cmd/homeops-cli/internal/common/command_test.go
  cmd/homeops-cli/internal/common/context.go
  cmd/homeops-cli/internal/common/helpers_extra_test.go
  cmd/homeops-cli/internal/common/kubeconfig.go
  cmd/homeops-cli/internal/common/kubeconfig_test.go
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/common/secrets_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
  cmd/homeops-cli/internal/testutil/helpers.go
  cmd/homeops-cli/internal/testutil/helpers_test.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/client.go.bak
  cmd/homeops-cli/internal/vsphere/client_exec_test.go
  cmd/homeops-cli/internal/vsphere/client_helpers_test.go
  cmd/homeops-cli/internal/vsphere/vm_config_test.go
Labels: area/homeops-cli

fix(pre-commit): make scan-secrets bash 3.2 compatible
  scripts/pre-commit/scan-secrets.sh
Labels: none

fix(pre-commit): make scan-secrets bash 3.2 compatible
  scripts/pre-commit/scan-secrets.sh
Labels: none

fix(homeops-cli): tighten command runners, redact secrets at boundaries
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_test.go
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/common/secrets_test.go
Labels: area/homeops-cli

fix(homeops-cli): tighten command runners, redact secrets at boundaries
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_test.go
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/common/secrets_test.go
Labels: area/homeops-cli

fix(observability): correct misfiring VMRules for DNS cache and VL ingestion
  kubernetes/apps/observability/victoria-logs/app/vmrule-health.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): correct misfiring VMRules for DNS cache and VL ingestion (#1031)
  kubernetes/apps/observability/victoria-logs/app/vmrule-health.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): correct misfiring VMRules for DNS cache and VL ingestion (#1031)
  kubernetes/apps/observability/victoria-logs/app/vmrule-health.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): set VL syslog parser TZ to fix 4h _time skew
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): set VL syslog parser TZ to fix 4h _time skew (#1032)
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): set VL syslog parser TZ to fix 4h _time skew (#1032)
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(gatus): mount service account token
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(gatus): mount service account token
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): mTLS auth on friday3-diagnostics webhook receiver
  kubernetes/apps/observability/victoria-metrics/app/externalsecret.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): mTLS auth on friday3-diagnostics webhook receiver (#1058)
  kubernetes/apps/observability/victoria-metrics/app/externalsecret.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): mTLS auth on friday3-diagnostics webhook receiver (#1058)
  kubernetes/apps/observability/victoria-metrics/app/externalsecret.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): use K8s-native secret refs for friday3 mTLS
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): use K8s-native secret refs for friday3 mTLS (#1059)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): use K8s-native secret refs for friday3 mTLS (#1059)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): use cert_secret_ref schema for VMAlertmanagerConfig
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): use cert_secret_ref schema for VMAlertmanagerConfig
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): use cert_secret_ref schema for VMAlertmanagerConfig (#1061)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
