Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(vector-syslog): add OPNsense RFC5424 parser and reorganize ports
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): use infallible split! functions in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): use infallible split! functions in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): use infallible split! functions in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): add explicit string coercion in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): add explicit string coercion in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): add explicit string coercion in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): remove unnecessary error coalescing in VRL transforms
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): remove unnecessary error coalescing in VRL transforms
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): remove unnecessary error coalescing in VRL transforms
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): handle RFC5424 structured data with brackets in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): handle RFC5424 structured data with brackets in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): handle RFC5424 structured data with brackets in OPNsense parser
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): use regex to parse RFC5424 structured data properly
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): use regex to parse RFC5424 structured data properly
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): use regex to parse RFC5424 structured data properly
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): improve RFC5424 structured data regex pattern
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): improve RFC5424 structured data regex pattern
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): improve RFC5424 structured data regex pattern
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): properly extract RFC5424 structured data by splitting on bracket boundary
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): properly extract RFC5424 structured data by splitting on bracket boundary
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

fix(vector-syslog): properly extract RFC5424 structured data by splitting on bracket boundary
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.2.5 ➔ v44.2.6 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.2.5 ➔ v44.2.6 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.17.6 ➔ 0.17.7 ) (#711)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.17.6 ➔ 0.17.7 ) (#711)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector ( 0.49.0 ➔ 0.50.0 ) (#710)
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector ( 0.49.0 ➔ 0.50.0 ) (#710)
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.24 ➔ 0.11.25 ) (#709)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.24 ➔ 0.11.25 ) (#709)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.12.0 ➔ v1.13.0 ) (#708)
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.12.0 ➔ v1.13.0 ) (#708)
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.71.0 ➔ v1.72.0 ) (#707)
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.71.0 ➔ v1.72.0 ) (#707)
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared ( 2026.1.1 ➔ 2026.1.2 ) (#706)
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared ( 2026.1.1 ➔ 2026.1.2 ) (#706)
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.6.2 ➔ v1.6.3 ) (#705)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.6.2 ➔ v1.6.3 ) (#705)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image docker.io/getmeili/meilisearch ( v1.33.1 ➔ v1.34.1 ) (#704)
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

feat(container): update image docker.io/getmeili/meilisearch ( v1.33.1 ➔ v1.34.1 ) (#704)
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none
