Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

perf: Increase VMSingle query concurrency and timeouts
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

perf: Increase VMSingle query concurrency and timeouts
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

perf: Increase VMSingle query concurrency and timeouts
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Use bytes instead of Mi format for search.maxMemoryPerQuery
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Use bytes instead of Mi format for search.maxMemoryPerQuery
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: Use bytes instead of Mi format for search.maxMemoryPerQuery
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

perf: Optimize Ceph OSD memory and BlueStore configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

perf: Optimize Ceph OSD memory and BlueStore configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

perf: Optimize Ceph OSD memory and BlueStore configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.5.4 ➔ v1.6.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.5.4 ➔ v1.6.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat: Use StatefulSet for Gatus and add PVC template
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat: Use StatefulSet for Gatus and add PVC template
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat: Use StatefulSet for Gatus and add PVC template
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: Update gatus condition and format capabilities
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix: Update gatus condition and format capabilities
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix: Update gatus condition and format capabilities
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): change compression mode from aggressive to passive
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): change compression mode from aggressive to passive
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): change compression mode from aggressive to passive
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(rook-ceph): change compression mode from aggressive to passive"
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(rook-ceph): change compression mode from aggressive to passive"
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(rook-ceph): change compression mode from aggressive to passive"
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(observability): add infrastructure monitoring alerts
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

feat(observability): add infrastructure monitoring alerts
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

feat(observability): add infrastructure monitoring alerts
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(observability): adjust control plane alerts for Talos Linux
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(observability): adjust control plane alerts for Talos Linux
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(observability): adjust control plane alerts for Talos Linux
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(observability): remove etcd alert for Talos Linux
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(observability): remove etcd alert for Talos Linux
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(observability): remove etcd alert for Talos Linux
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(victoria-logs): increase concurrent request limit to handle alert queries
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-logs): increase concurrent request limit to handle alert queries
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-logs): increase concurrent request limit to handle alert queries
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector ( 0.47.0 ➔ 0.48.0 )
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector ( 0.47.0 ➔ 0.48.0 )
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.6 ➔ v1.18.7 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.6 ➔ v1.18.7 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

ci(github-action)!: Update action ghcr.io/allenporter/flux-local ( v7.11.0 ➔ v8.0.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github
