Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.10.0 ➔ 77.11.0 ) (#292)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore(container): update image serjs/go-socks5-proxy ( aad36c6 ➔ e9c663b )
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image serjs/go-socks5-proxy ( aad36c6 ➔ e9c663b )
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.0.0 ➔ v1.1.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.0.0 ➔ v1.1.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: area/github

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: area/github

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: area/github

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: area/github

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: area/github

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: area/github

fix(claude): add github_token to avoid workflow validation errors
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

fix(claude): add github_token to avoid workflow validation errors
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

fix(claude): add github_token to avoid workflow validation errors
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

fix(claude): update workflow permissions to write for PR/issue comments
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

fix(claude): update workflow permissions to write for PR/issue comments
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

fix(claude): update workflow permissions to write for PR/issue comments
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

docs(workflow): add comment to clarify claude workflow purpose
  .github/workflows/claude.yml
Labels: area/github

test: add period to README description to test Claude CI workflows
  README.md
Labels: area/docs

fix: remove CODEOWNERS to prevent auto-review requests on bot PRs
  .github/CODEOWNERS
Labels: area/github

fix: remove CODEOWNERS to prevent auto-review requests on bot PRs
  .github/CODEOWNERS
Labels: area/github

fix: remove CODEOWNERS to prevent auto-review requests on bot PRs
  .github/CODEOWNERS
Labels: area/github

fix(claude): skip Claude review for bot PRs
  .github/workflows/claude-code-review.yml
Labels: area/github

fix(claude): skip Claude review for bot PRs
  .github/workflows/claude-code-review.yml
Labels: area/github

fix(claude): skip Claude review for bot PRs
  .github/workflows/claude-code-review.yml
Labels: area/github

fix(container): update image ghcr.io/n8n-io/n8n ( 1.113.1 ➔ 1.113.2 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.113.1 ➔ 1.113.2 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.21.0 ➔ v1.22.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.21.0 ➔ v1.22.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action)!: Update action actions/checkout ( v4 ➔ v5 )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

ci(github-action)!: Update action actions/checkout ( v4 ➔ v5 )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

feat(volsync): add maintenance resources and update configurations
  .claude/settings.local.json
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat(volsync): add maintenance resources and update configurations
  .claude/settings.local.json
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat(volsync): add maintenance resources and update configurations
  .claude/settings.local.json
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

feat(envoy-gateway): enable http3 support in envoy configuration
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(envoy-gateway): enable http3 support in envoy configuration
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(envoy-gateway): enable http3 support in envoy configuration
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/loki ( 6.40.0 ➔ 6.41.0 ) (#299)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/loki ( 6.40.0 ➔ 6.41.0 ) (#299)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

chore: increase envoy-gateway OCIRepository sync interval to 15m
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes
