Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

ci(github-action)!: Update action actions/setup-node ( v5.0.0 ➔ v6.0.0 )
  .github/workflows/schemas.yaml
Labels: area/github

feat(container): update image docker.io/owncloud/ocis ( 7.2.0 ➔ 7.3.0 )
  kubernetes/apps/default/ocis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/owncloud/ocis ( 7.2.0 ➔ 7.3.0 )
  kubernetes/apps/default/ocis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.116.0 ➔ 1.116.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.116.0 ➔ 1.116.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.13 ➔ 0.11.15 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.13 ➔ 0.11.15 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.328.0 ➔ 2.329.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.328.0 ➔ 2.329.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image mirror.gcr.io/envoyproxy/envoy ( v1.35.3 ➔ v1.36.0 )
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(container): update image mirror.gcr.io/envoyproxy/envoy ( v1.35.3 ➔ v1.36.0 )
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat: switch to grafana-operator for declarative Grafana management
  kubernetes/apps/observability/grafana-operator/app/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/app/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/app/ocirepository.yaml
  kubernetes/apps/observability/grafana-operator/ks.yaml
  kubernetes/apps/observability/grafana/app/dashboards/ceph.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cert-manager.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/external-dns.yaml
  kubernetes/apps/observability/grafana/app/dashboards/kubernetes.yaml
  kubernetes/apps/observability/grafana/app/dashboards/misc.yaml
  kubernetes/apps/observability/grafana/app/dashboards/node-exporters.yaml
  kubernetes/apps/observability/grafana/app/dashboards/unifi.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/app/httproute.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/sidecar-provider.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: switch to grafana-operator for declarative Grafana management
  kubernetes/apps/observability/grafana-operator/app/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/app/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/app/ocirepository.yaml
  kubernetes/apps/observability/grafana-operator/ks.yaml
  kubernetes/apps/observability/grafana/app/dashboards/ceph.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cert-manager.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/external-dns.yaml
  kubernetes/apps/observability/grafana/app/dashboards/kubernetes.yaml
  kubernetes/apps/observability/grafana/app/dashboards/misc.yaml
  kubernetes/apps/observability/grafana/app/dashboards/node-exporters.yaml
  kubernetes/apps/observability/grafana/app/dashboards/unifi.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/app/httproute.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/sidecar-provider.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: switch to grafana-operator for declarative Grafana management
  kubernetes/apps/observability/grafana-operator/app/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/app/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/app/ocirepository.yaml
  kubernetes/apps/observability/grafana-operator/ks.yaml
  kubernetes/apps/observability/grafana/app/dashboards/ceph.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cert-manager.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/external-dns.yaml
  kubernetes/apps/observability/grafana/app/dashboards/kubernetes.yaml
  kubernetes/apps/observability/grafana/app/dashboards/misc.yaml
  kubernetes/apps/observability/grafana/app/dashboards/node-exporters.yaml
  kubernetes/apps/observability/grafana/app/dashboards/unifi.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/app/httproute.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/sidecar-provider.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: correct GrafanaDashboard CRD syntax to use grafanaCom.id instead of gnetId
  .claude/settings.local.json
  kubernetes/apps/observability/grafana/app/dashboards/ceph.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cert-manager.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/external-dns.yaml
  kubernetes/apps/observability/grafana/app/dashboards/kubernetes.yaml
  kubernetes/apps/observability/grafana/app/dashboards/misc.yaml
  kubernetes/apps/observability/grafana/app/dashboards/node-exporters.yaml
  kubernetes/apps/observability/grafana/app/dashboards/unifi.yaml
Labels: area/kubernetes

fix: correct GrafanaDashboard CRD syntax to use grafanaCom.id instead of gnetId
  .claude/settings.local.json
  kubernetes/apps/observability/grafana/app/dashboards/ceph.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cert-manager.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/external-dns.yaml
  kubernetes/apps/observability/grafana/app/dashboards/kubernetes.yaml
  kubernetes/apps/observability/grafana/app/dashboards/misc.yaml
  kubernetes/apps/observability/grafana/app/dashboards/node-exporters.yaml
  kubernetes/apps/observability/grafana/app/dashboards/unifi.yaml
Labels: area/kubernetes

fix: correct GrafanaDashboard CRD syntax to use grafanaCom.id instead of gnetId
  .claude/settings.local.json
  kubernetes/apps/observability/grafana/app/dashboards/ceph.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cert-manager.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/external-dns.yaml
  kubernetes/apps/observability/grafana/app/dashboards/kubernetes.yaml
  kubernetes/apps/observability/grafana/app/dashboards/misc.yaml
  kubernetes/apps/observability/grafana/app/dashboards/node-exporters.yaml
  kubernetes/apps/observability/grafana/app/dashboards/unifi.yaml
Labels: area/kubernetes

fix: add HTTPRoute namespace and complete sidecar-provider RBAC configuration
  .claude/settings.local.json
  kubernetes/apps/observability/grafana/app/httproute.yaml
  kubernetes/apps/observability/grafana/app/sidecar-provider.yaml
Labels: area/kubernetes

fix: add HTTPRoute namespace and complete sidecar-provider RBAC configuration
  .claude/settings.local.json
  kubernetes/apps/observability/grafana/app/httproute.yaml
  kubernetes/apps/observability/grafana/app/sidecar-provider.yaml
Labels: area/kubernetes

fix: add HTTPRoute namespace and complete sidecar-provider RBAC configuration
  .claude/settings.local.json
  kubernetes/apps/observability/grafana/app/httproute.yaml
  kubernetes/apps/observability/grafana/app/sidecar-provider.yaml
Labels: area/kubernetes

refactor: reorganize Grafana dashboards by application namespace
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/dashboards/grafanadashboard.yaml
  kubernetes/apps/kube-system/dashboards/grafanadashboards.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/observability.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/dashboards/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/dashboards/grafanadashboards.yaml
  kubernetes/apps/volsync-system/dashboards/grafanadashboard.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

refactor: reorganize Grafana dashboards by application namespace
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/dashboards/grafanadashboard.yaml
  kubernetes/apps/kube-system/dashboards/grafanadashboards.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/observability.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/dashboards/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/dashboards/grafanadashboards.yaml
  kubernetes/apps/volsync-system/dashboards/grafanadashboard.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

refactor: reorganize Grafana dashboards by application namespace
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/dashboards/grafanadashboard.yaml
  kubernetes/apps/kube-system/dashboards/grafanadashboards.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cloudflared.yaml
  kubernetes/apps/observability/grafana/app/dashboards/envoy.yaml
  kubernetes/apps/observability/grafana/app/dashboards/observability.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/dashboards/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/dashboards/grafanadashboards.yaml
  kubernetes/apps/volsync-system/dashboards/grafanadashboard.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

fix: add allowCrossNamespaceImport to all cross-namespace dashboards and move k8s dashboards to kube-prometheus-stack
  .claude/settings.local.json
  kubernetes/apps/cert-manager/cert-manager/dashboards/grafanadashboard.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboards.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/dashboards/grafanadashboards.yaml
  kubernetes/apps/volsync-system/dashboards/grafanadashboard.yaml
Labels: area/kubernetes

fix: add allowCrossNamespaceImport to all cross-namespace dashboards and move k8s dashboards to kube-prometheus-stack
  .claude/settings.local.json
  kubernetes/apps/cert-manager/cert-manager/dashboards/grafanadashboard.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboards.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/dashboards/grafanadashboards.yaml
  kubernetes/apps/volsync-system/dashboards/grafanadashboard.yaml
Labels: area/kubernetes

fix: add allowCrossNamespaceImport to all cross-namespace dashboards and move k8s dashboards to kube-prometheus-stack
  .claude/settings.local.json
  kubernetes/apps/cert-manager/cert-manager/dashboards/grafanadashboard.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboards.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/dashboards/grafanadashboards.yaml
  kubernetes/apps/volsync-system/dashboards/grafanadashboard.yaml
Labels: area/kubernetes

refactor: move dashboards into their respective app directories
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-dns/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboards.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/volsync-system/kopia/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

refactor: move dashboards into their respective app directories
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-dns/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboards.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/volsync-system/kopia/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

refactor: move dashboards into their respective app directories
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-dns/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/kustomization.yaml
  kubernetes/apps/network/dashboards/grafanadashboards.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboards.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/volsync-system/kopia/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

fix: move volsync dashboard to volsync/app instead of kopia/app
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/volsync/app/kustomization.yaml
Labels: area/kubernetes

fix: move volsync dashboard to volsync/app instead of kopia/app
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/volsync/app/kustomization.yaml
Labels: area/kubernetes

fix: move volsync dashboard to volsync/app instead of kopia/app
  kubernetes/apps/volsync-system/kopia/app/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/volsync/app/kustomization.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared ( 2025.9.1 ➔ 2025.10.0 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared ( 2025.9.1 ➔ 2025.10.0 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): correct dashboard CRD schema and datasource configuration
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-dns/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/observability.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboards.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes, area/renovate, area/homeops-cli

fix(grafana): correct dashboard CRD schema and datasource configuration
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-dns/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/observability.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboards.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes, area/renovate, area/homeops-cli

fix(grafana): correct dashboard CRD schema and datasource configuration
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-dns/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/observability.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboards.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes, area/renovate, area/homeops-cli

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 0.20.2 ➔ 0.20.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 0.20.2 ➔ 0.20.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(grafana): implement k8s-sidecar dashboards with datasource mapping and PVC
  .claude/settings.local.json
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-dns/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/observability.yaml
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/grafana.yaml
  kubernetes/apps/observability/grafana/app/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboards.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
