Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

chore: update sops secret config with new encrypted values
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

fix(helmfile): simplify cilium crd check and kubectl command
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix(helmfile): simplify cilium crd check and kubectl command
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix(helmfile): simplify cilium crd check and kubectl command
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

refactor(kubernetes): remove unused namespace and alerts resources
  kubernetes/components/cluster-secret/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): remove unused namespace and alerts resources
  kubernetes/components/cluster-secret/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): remove unused namespace and alerts resources
  kubernetes/components/cluster-secret/kustomization.yaml
Labels: area/kubernetes

refactor(kustomization): remove gateway-api-crds from resources
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

refactor(kustomization): remove gateway-api-crds from resources
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

refactor(kustomization): remove gateway-api-crds from resources
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): remove grafana-operator reference from observability kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): remove grafana-operator reference from observability kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): remove grafana-operator reference from observability kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

revert: restore ciliuml2announcementpolicies CRD check and bash wrapper
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

revert: restore ciliuml2announcementpolicies CRD check and bash wrapper
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

revert: restore ciliuml2announcementpolicies CRD check and bash wrapper
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix: correct schema URL and update REPO_ROOT variable handling
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix: correct schema URL and update REPO_ROOT variable handling
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix: correct schema URL and update REPO_ROOT variable handling
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

refactor(helmfile): remove external-secrets and update flux-operator dependencies
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

refactor(helmfile): remove external-secrets and update flux-operator dependencies
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

refactor(helmfile): remove external-secrets and update flux-operator dependencies
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

ci(github-action): update action astral-sh/setup-uv ( v7.0.0 ➔ v7.1.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.0.0 ➔ v7.1.0 )
  .github/workflows/schemas.yaml
Labels: area/github

fix(flux): make cluster-config-secret optional to resolve bootstrap dependency cycle
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(flux): make cluster-config-secret optional to resolve bootstrap dependency cycle
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(flux): make cluster-config-secret optional to resolve bootstrap dependency cycle
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(cli): resolve linter issues and improve error handling
  .claude/settings.local.json
  .lefthook.toml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go.bak
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/homeops-cli

fix(cli): resolve linter issues and improve error handling
  .claude/settings.local.json
  .lefthook.toml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go.bak
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/homeops-cli

fix(makefile): update lint target to use golangci-lint v2 from Homebrew
  cmd/homeops-cli/Makefile
Labels: area/homeops-cli

fix(makefile): update lint target to use golangci-lint v2 from Homebrew
  cmd/homeops-cli/Makefile
Labels: area/homeops-cli

fix(makefile): update lint target to use golangci-lint v2 from Homebrew
  cmd/homeops-cli/Makefile
Labels: area/homeops-cli

fix(cli): resolve linter issues and improve error handling
  .claude/settings.local.json
  .lefthook.toml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go.bak
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/homeops-cli

feat(bootstrap): automatically fix CRD Helm ownership metadata
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

feat(bootstrap): automatically fix CRD Helm ownership metadata
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

feat(bootstrap): automatically fix CRD Helm ownership metadata
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

refactor(external-secrets): reorganize helmrelease.yaml image and serviceMonitor configs
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

refactor(external-secrets): reorganize helmrelease.yaml image and serviceMonitor configs
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

refactor(external-secrets): reorganize helmrelease.yaml image and serviceMonitor configs
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): increase VOLSYNC_CAPACITY to 50Gi to resolve restore failure
  kubernetes/apps/default/autobrr/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
