Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(kubernetes): update dns endpoint name for cloudflare tunnel
  kubernetes/apps/network/cloudflare-tunnel/app/dnsendpoint.yaml
Labels: area/kubernetes

refactor(cilium): update cilium networking configuration and hooks
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/bootstrap, area/kubernetes, area/homeops-cli

refactor(cilium): update cilium networking configuration and hooks
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/bootstrap, area/kubernetes, area/homeops-cli

refactor(cilium): update cilium networking configuration and hooks
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/bootstrap, area/kubernetes, area/homeops-cli

refactor(cilium): simplify cilium configuration by disabling unused features
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

refactor(cilium): simplify cilium configuration by disabling unused features
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

refactor(cilium): simplify cilium configuration by disabling unused features
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

refactor(gateway): remove gateway and certificate resources from kube-prometheus-stack
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/pushsecret.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/certificate.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

refactor(gateway): remove gateway and certificate resources from kube-prometheus-stack
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/pushsecret.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/certificate.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

refactor(gateway): remove gateway and certificate resources from kube-prometheus-stack
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/pushsecret.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/certificate.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

chore: remove gateway component and related files
  kubernetes/components/gateway/README.md
  kubernetes/components/gateway/certificate.yaml
  kubernetes/components/gateway/gateway.yaml
  kubernetes/components/gateway/kustomization.yaml
Labels: area/kubernetes

chore: remove gateway component and related files
  kubernetes/components/gateway/README.md
  kubernetes/components/gateway/certificate.yaml
  kubernetes/components/gateway/gateway.yaml
  kubernetes/components/gateway/kustomization.yaml
Labels: area/kubernetes

chore: remove gateway component and related files
  kubernetes/components/gateway/README.md
  kubernetes/components/gateway/certificate.yaml
  kubernetes/components/gateway/gateway.yaml
  kubernetes/components/gateway/kustomization.yaml
Labels: area/kubernetes

docs: remove cilium-to-envoy-gateway-migration document
  docs/cilium-to-envoy-gateway-migration.md
Labels: none

docs: remove cilium-to-envoy-gateway-migration document
  docs/cilium-to-envoy-gateway-migration.md
Labels: none

docs: remove cilium-to-envoy-gateway-migration document
  docs/cilium-to-envoy-gateway-migration.md
Labels: none

docs(kubernetes): update schema URLs from schemas to schema domain
  kubernetes/apps/network/certificates/export/certificate.yaml
  kubernetes/apps/network/certificates/export/pushsecret.yaml
  kubernetes/apps/network/certificates/import/externalsecret.yaml
  kubernetes/apps/network/certificates/ks.yaml
Labels: area/kubernetes

docs(kubernetes): update schema URLs from schemas to schema domain
  kubernetes/apps/network/certificates/export/certificate.yaml
  kubernetes/apps/network/certificates/export/pushsecret.yaml
  kubernetes/apps/network/certificates/import/externalsecret.yaml
  kubernetes/apps/network/certificates/ks.yaml
Labels: area/kubernetes

docs(kubernetes): update schema URLs from schemas to schema domain
  kubernetes/apps/network/certificates/export/certificate.yaml
  kubernetes/apps/network/certificates/export/pushsecret.yaml
  kubernetes/apps/network/certificates/import/externalsecret.yaml
  kubernetes/apps/network/certificates/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.112.2 ➔ 1.112.3 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.112.2 ➔ 1.112.3 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

docs(vsphere): update deployment guide with new vm specs and config
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
Labels: area/homeops-cli

docs(vsphere): update deployment guide with new vm specs and config
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
Labels: area/homeops-cli

docs(vsphere): update deployment guide with new vm specs and config
  cmd/homeops-cli/docs/VSPHERE_DEPLOYMENT.md
Labels: area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.9.1 ➔ 77.10.0 ) (#279)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.9.1 ➔ 77.10.0 ) (#279)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/bazarr ( 1.5.2 ➔ 1.5.3 )
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/bazarr ( 1.5.2 ➔ 1.5.3 )
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed ( 6.13.3 ➔ 6.13.4 )
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed ( 6.13.3 ➔ 6.13.4 )
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

feat(testing): add comprehensive test suite and documentation
  .gitignore
  cmd/homeops-cli/.golangci.yml
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/volsync/volsync_test.go
  cmd/homeops-cli/docs/TDD_QUICKSTART.md
  cmd/homeops-cli/docs/TESTING.md
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/testutil/helpers.go
  cmd/homeops-cli/internal/testutil/mocks.go
  cmd/homeops-cli/testdata/fixtures/invalid-talos-config.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/homeops-cli

feat(testing): add comprehensive test suite and documentation
  .gitignore
  cmd/homeops-cli/.golangci.yml
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/volsync/volsync_test.go
  cmd/homeops-cli/docs/TDD_QUICKSTART.md
  cmd/homeops-cli/docs/TESTING.md
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/testutil/helpers.go
  cmd/homeops-cli/internal/testutil/mocks.go
  cmd/homeops-cli/testdata/fixtures/invalid-talos-config.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/homeops-cli

feat(testing): add comprehensive test suite and documentation
  .gitignore
  cmd/homeops-cli/.golangci.yml
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/volsync/volsync_test.go
  cmd/homeops-cli/docs/TDD_QUICKSTART.md
  cmd/homeops-cli/docs/TESTING.md
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/testutil/helpers.go
  cmd/homeops-cli/internal/testutil/mocks.go
  cmd/homeops-cli/testdata/fixtures/invalid-talos-config.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/homeops-cli

feat(vsphere): enhance VM configuration with additional devices and settings
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

feat(vsphere): enhance VM configuration with additional devices and settings
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

feat(vsphere): enhance VM configuration with additional devices and settings
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

chore: add kiroAgent configuration to vscode settings
  .vscode/settings.json
Labels: none

chore: add kiroAgent configuration to vscode settings
  .vscode/settings.json
Labels: none

chore: add kiroAgent configuration to vscode settings
  .vscode/settings.json
Labels: none

feat(testing): add comprehensive test suite and documentation
  .claude/settings.local.json
  .gitignore
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  CLAUDE.md
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/workstation/workstation_test.go
  cmd/homeops-cli/integration_test.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/iso/downloader_test.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
