Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(scale-csi): 1.17.0, the Rust node agent records Kubernetes Events (#1688)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.18.0, the Rust node agent serves iSCSI and NFS
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.18.0, the Rust node agent serves iSCSI and NFS (#1689)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.19.0, fewer TrueNAS calls on NVMe-oF and a cheaper restart
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.19.0, fewer TrueNAS calls on NVMe-oF and a cheaper restart (#1690)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.20.0, kernel NVMe-oF waits for the current /dev node
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.20.0, kernel NVMe-oF waits for the current /dev node (#1691)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): the Rust node agent on k8s-0
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): the Rust node agent on k8s-0 (#1692)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): the Rust node agent on k8s-1 (all nodes)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): the Rust node agent on k8s-1 (all nodes) (#1693)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): node.implementation: rust on every node
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): node.implementation: rust on every node (#1694)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): 1.21.0, the Rust node agent is the chart default
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.21.0, the Rust node agent is the chart default (#1695)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.22.0, a restart of seconds and a drain that does not wait for it
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.22.0, a restart of seconds and a drain that does not wait for it (#1696)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore(scale-csi): remove the nvmeublk userspace data path (nvmeublkd and scale-nvmeof-ublk)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

chore(scale-csi): remove the nvmeublk userspace data path (nvmeublkd and scale-nvmeof-ublk) (#1697)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): 1.23.1, snapshots and publishes no longer turn each other away
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.23.1, snapshots and publishes no longer turn each other away (#1698)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.24.0, faster deletes and iSCSI writes only what changed
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.24.0, faster deletes and iSCSI writes only what changed (#1699)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(scale-csi): 1.24.1, NVMe-oF heads that lost their founding controller
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(scale-csi): 1.24.1, NVMe-oF heads that lost their founding controller (#1700)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

docs: refresh README and agent docs for the Fedora CoreOS cluster
  AGENTS.md
  CLAUDE.md
  README.md
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/README.md
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/README.md
Labels: area/docs, area/kubernetes, area/homeops-cli

fix(system-upgrade): wire OS upgrades and reboots for Fedora CoreOS
  .github/workflows/image-pull.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/fcos-upgrade/app/kustomization.yaml
  kubernetes/apps/system-upgrade/fcos-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/fcos-upgrade/ks.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/kured/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/github, area/kubernetes, area/renovate

docs: leave system-upgrade docs to the FCOS upgrade PR; describe fcos-os Plan
  README.md
  cmd/homeops-cli/COMMANDS.md
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/README.md
Labels: area/docs, area/kubernetes, area/homeops-cli

docs(system-upgrade): kubeadm Plan FCOS sysext path
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/README.md
Labels: area/kubernetes

fix(system-upgrade): wire OS upgrades and reboots for Fedora CoreOS (#1702)
  .github/workflows/image-pull.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/fcos-upgrade/app/kustomization.yaml
  kubernetes/apps/system-upgrade/fcos-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/fcos-upgrade/ks.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/README.md
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/kured/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/github, area/kubernetes, area/renovate

feat(external-dns): chart 1.23.0 with GA annotation prefix
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/powerdns/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

docs: refresh README and agent docs for the Fedora CoreOS cluster (#1701)
  AGENTS.md
  CLAUDE.md
  README.md
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/README.md
Labels: area/docs, area/homeops-cli

fix(kromgo-proxy): serve README badges from a cron-refreshed KV snapshot
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
  scripts/cloudflare-worker/kromgo-proxy/wrangler.toml
Labels: none

fix(kromgo-proxy): serve README badges from a cron-refreshed KV snapshot (#1708)
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
  scripts/cloudflare-worker/kromgo-proxy/wrangler.toml
Labels: none

feat(external-dns): chart 1.23.0 with GA annotation prefix (#1705)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/apps/network/kgateway/app/gateway.yaml
  kubernetes/apps/network/powerdns/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore(external-dns): drop legacy alpha annotation prefix
  kubernetes/apps/network/kgateway/app/gateway.yaml
Labels: area/kubernetes

chore(external-dns): drop legacy alpha annotation prefix (#1709)
  kubernetes/apps/network/kgateway/app/gateway.yaml
Labels: area/kubernetes

fix(autobrr): log at INFO instead of DEBUG
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(arr): set Allowed Hosts on sonarr, radarr and prowlarr
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(qui): mount /media/torrents read-write
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
