Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(talos): correct UserVolumeConfig disk selector syntax
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): correct UserVolumeConfig disk selector syntax
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat: Update Talos node configurations to select /dev/sdb for local-hostpath storage instead of /dev/sdc.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat: Update Talos node configurations to select /dev/sdb for local-hostpath storage instead of /dev/sdc.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat: Update Talos node configurations to select /dev/sdb for local-hostpath storage instead of /dev/sdc.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix: Update Rook Ceph OSD device filter from sdb to sdc.
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: Update Rook Ceph OSD device filter from sdb to sdc.
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: Update Rook Ceph OSD device filter from sdb to sdc.
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.5 ➔ 2.20.6 ) (#728)
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.5 ➔ 2.20.6 ) (#728)
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/home-operations/bazarr ( 1.5.4 ➔ 1.5.5 ) (#729)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/bazarr ( 1.5.4 ➔ 1.5.5 ) (#729)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(homeops-cli): add Proxmox VE 9.1 support for Talos VM management
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/proxmox/client.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/testutil/mocks.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

feat(homeops-cli): add Proxmox VE 9.1 support for Talos VM management
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/proxmox/client.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/testutil/mocks.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

feat(homeops-cli): add Proxmox VE 9.1 support for Talos VM management
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/proxmox/client.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/testutil/mocks.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v46.0.0 ➔ v46.0.1 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v46.0.0 ➔ v46.0.1 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.2.0 ➔ v7.2.1 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.2.0 ➔ v7.2.1 )
  .github/workflows/schemas.yaml
Labels: area/github

feat(container): update image ghcr.io/actualbudget/actual-server ( 26.1.0 ➔ 26.2.0 ) (#732)
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/actualbudget/actual-server ( 26.1.0 ➔ 26.2.0 ) (#732)
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.18.3 ➔ 2.19.0 ) (#731)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.18.3 ➔ 2.19.0 ) (#731)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image docker.io/getmeili/meilisearch ( v1.34.3 ➔ v1.35.0 ) (#730)
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

feat(container): update image docker.io/getmeili/meilisearch ( v1.34.3 ➔ v1.35.0 ) (#730)
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

chore: Remove archived Kubernetes configurations for Karakeep, Paperless, and Netdata, and update Claude settings.
  archive/kubernetes/observability/netdata/app/externalsecret.yaml
  archive/kubernetes/observability/netdata/app/helmrelease.yaml
  archive/kubernetes/observability/netdata/app/helmrepository.yaml
  archive/kubernetes/observability/netdata/app/httproute.yaml
  archive/kubernetes/observability/netdata/app/kustomization.yaml
  archive/kubernetes/observability/netdata/ks.yaml
  archive/kubernetes/self-hosted/karakeep/app/externalsecret.yaml
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
  archive/kubernetes/self-hosted/karakeep/app/kustomization.yaml
  archive/kubernetes/self-hosted/karakeep/app/ocirepository.yaml
  archive/kubernetes/self-hosted/karakeep/ks.yaml
  archive/kubernetes/self-hosted/paperless/app/externalsecret.yaml
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
  archive/kubernetes/self-hosted/paperless/app/kustomization.yaml
  archive/kubernetes/self-hosted/paperless/app/ocirepository.yaml
  archive/kubernetes/self-hosted/paperless/ks.yaml
Labels: none

chore: Remove archived Kubernetes configurations for Karakeep, Paperless, and Netdata, and update Claude settings.
  archive/kubernetes/observability/netdata/app/externalsecret.yaml
  archive/kubernetes/observability/netdata/app/helmrelease.yaml
  archive/kubernetes/observability/netdata/app/helmrepository.yaml
  archive/kubernetes/observability/netdata/app/httproute.yaml
  archive/kubernetes/observability/netdata/app/kustomization.yaml
  archive/kubernetes/observability/netdata/ks.yaml
  archive/kubernetes/self-hosted/karakeep/app/externalsecret.yaml
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
  archive/kubernetes/self-hosted/karakeep/app/kustomization.yaml
  archive/kubernetes/self-hosted/karakeep/app/ocirepository.yaml
  archive/kubernetes/self-hosted/karakeep/ks.yaml
  archive/kubernetes/self-hosted/paperless/app/externalsecret.yaml
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
  archive/kubernetes/self-hosted/paperless/app/kustomization.yaml
  archive/kubernetes/self-hosted/paperless/app/ocirepository.yaml
  archive/kubernetes/self-hosted/paperless/ks.yaml
Labels: none

chore: Remove archived Kubernetes configurations for Karakeep, Paperless, and Netdata, and update Claude settings.
  archive/kubernetes/observability/netdata/app/externalsecret.yaml
  archive/kubernetes/observability/netdata/app/helmrelease.yaml
  archive/kubernetes/observability/netdata/app/helmrepository.yaml
  archive/kubernetes/observability/netdata/app/httproute.yaml
  archive/kubernetes/observability/netdata/app/kustomization.yaml
  archive/kubernetes/observability/netdata/ks.yaml
  archive/kubernetes/self-hosted/karakeep/app/externalsecret.yaml
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
  archive/kubernetes/self-hosted/karakeep/app/kustomization.yaml
  archive/kubernetes/self-hosted/karakeep/app/ocirepository.yaml
  archive/kubernetes/self-hosted/karakeep/ks.yaml
  archive/kubernetes/self-hosted/paperless/app/externalsecret.yaml
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
  archive/kubernetes/self-hosted/paperless/app/kustomization.yaml
  archive/kubernetes/self-hosted/paperless/app/ocirepository.yaml
  archive/kubernetes/self-hosted/paperless/ks.yaml
Labels: none

feat(container)!: Update image ghcr.io/home-operations/nzbget ( 25.4.0 ➔ 26.0.0 ) (#734)
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/home-operations/nzbget ( 25.4.0 ➔ 26.0.0 ) (#734)
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/jetstack/charts/cert-manager ( v1.19.2 ➔ v1.19.3 ) (#733)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image quay.io/jetstack/charts/cert-manager ( v1.19.2 ➔ v1.19.3 ) (#733)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action actions/checkout ( 8e8c483 ➔ de0fac2 )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

ci(github-action): update action actions/checkout ( 8e8c483 ➔ de0fac2 )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.69.0 ➔ 0.70.0 ) (#736)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.69.0 ➔ 0.70.0 ) (#736)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.3.1 ➔ 1.3.2 ) (#737)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.3.1 ➔ 1.3.2 ) (#737)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.1 ➔ 7.4.4 ) (#735)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.1 ➔ 7.4.4 ) (#735)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
