Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat: add lefthook configuration for automated code quality checks
  .lefthook.toml
Labels: none

feat: add lefthook configuration for automated code quality checks
  .lefthook.toml
Labels: none

fix: correct commit-msg hook parameter for lefthook validation
  .lefthook.toml
Labels: none

fix: correct commit-msg hook parameter for lefthook validation
  .lefthook.toml
Labels: none

refactor(lefthook): remove unused pre-commit and pre-push hooks
  .lefthook.toml
Labels: none

refactor(lefthook): remove unused pre-commit and pre-push hooks
  .lefthook.toml
Labels: none

test commit
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

test commit
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

ci: update workflow and config files for consistency
  .github/labels.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
  .github/workflows/tag.yaml
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovaterc.json5
  .yamlfmt.yaml
Labels: area/github, area/renovate

ci: update workflow and config files for consistency
  .github/labels.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
  .github/workflows/tag.yaml
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovaterc.json5
  .yamlfmt.yaml
Labels: area/github, area/renovate

fix(container): update image docker.io/rancher/system-upgrade-controller ( v0.16.2 ➔ v0.16.3 ) (#217)
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.110.0 ➔ 1.110.1 ) (#218)
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 5.27.5.10184 ➔ 5.27.5.10198 ) (#220)
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update dependency go ( 1.25.0 ➔ 1.25.1 ) (#221)
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.15.40 ➔ 0.15.41 ) (#223)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.16.7 ➔ 0.16.8 ) (#224)
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/descheduler ( 0.32.2 ➔ 0.33.0 ) (#225)
  kubernetes/apps/system/descheduler/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/actualbudget/actual-server ( 25.8.0 ➔ 25.9.0 ) (#226)
  kubernetes/apps/default/actual/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action)!: Update action actions/setup-node ( v4.4.0 ➔ v5.0.0 ) (#227)
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action)!: Update action actions/setup-python ( v5.6.0 ➔ v6.0.0 ) (#228)
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action)!: Update action actions/labeler ( v5.0.0 ➔ v6.0.0 ) (#229)
  .github/workflows/labeler.yaml
Labels: area/github

feat(rook-ceph): add osd memory target configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(rook-ceph): add osd memory target configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action astral-sh/setup-uv ( v6.6.0 ➔ v6.6.1 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/github-script ( v7.0.1 ➔ v7.1.0 )
  .github/workflows/tag.yaml
Labels: area/github

fix(rook-ceph): remove discard mount option from storageclass
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): remove discard mount option from storageclass
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

refactor(rook-ceph): add ciliumenvoyconfig for dashboard retries
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

refactor(rook-ceph): add ciliumenvoyconfig for dashboard retries
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): update ciliumenvoyconfig api version from v2alpha1 to v2
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
Labels: area/kubernetes

fix(kubernetes): update ciliumenvoyconfig api version from v2alpha1 to v2
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove unused gatewayAPI configuration from ciliumenvoyconfig
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove unused gatewayAPI configuration from ciliumenvoyconfig
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove ciliumenvoyconfig.yaml as it's no longer needed
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove ciliumenvoyconfig.yaml as it's no longer needed
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ciliumenvoyconfig.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix(cilium): disable enableIPv4BIGTCP to resolve compatibility issues
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): disable enableIPv4BIGTCP to resolve compatibility issues
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): adjust ceph cluster timeouts and heartbeat settings
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): adjust ceph cluster timeouts and heartbeat settings
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove deprecated keepalive and tcp timeout settings
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
