Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

Bump Scale CSI to v1.0.48
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Bump Scale CSI to v1.0.48
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

Bump scale-csi to v1.0.48 and add Bash ssh matcher
  .claude/settings.local.json
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Bump scale-csi to v1.0.48 and add Bash ssh matcher
  .claude/settings.local.json
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Bump scale-csi to v1.0.48 and add Bash ssh matcher
  .claude/settings.local.json
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Bump scale-csi and update .claude Bash rules
  .claude/settings.local.json
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Bump scale-csi and update .claude Bash rules
  .claude/settings.local.json
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Bump scale-csi and update .claude Bash rules
  .claude/settings.local.json
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.28.2 ➔ v1.29.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.28.2 ➔ v1.29.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.8.1 ➔ v1.9.0 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.8.1 ➔ v1.9.0 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

chore: Add Bash sort rule and simplify external-secrets
  .claude/settings.local.json
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

chore: Add Bash sort rule and simplify external-secrets
  .claude/settings.local.json
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

chore: Add Bash sort rule and simplify external-secrets
  .claude/settings.local.json
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.18.1 ➔ 2.18.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.18.1 ➔ 2.18.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/autobrr/qui ( v1.9.0 ➔ v1.9.1 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/qui ( v1.9.0 ➔ v1.9.1 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/jetstack/charts/cert-manager ( v1.19.1 ➔ v1.19.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image quay.io/jetstack/charts/cert-manager ( v1.19.1 ➔ v1.19.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/valkey-io/valkey ( 9.0.0 ➔ 9.0.1 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/valkey-io/valkey ( 9.0.0 ➔ 9.0.1 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

Increase Ethernet ring sizes to 4096
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

Increase Ethernet ring sizes to 4096
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

Increase Ethernet ring sizes to 4096
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

Remove default annotation from scale-nvmeof
  kubernetes/apps/scale-csi/scale-csi/app/storageclass-nvmeof.yaml
Labels: area/kubernetes

Remove default annotation from scale-nvmeof
  kubernetes/apps/scale-csi/scale-csi/app/storageclass-nvmeof.yaml
Labels: area/kubernetes

Remove default annotation from scale-nvmeof
  kubernetes/apps/scale-csi/scale-csi/app/storageclass-nvmeof.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/apps/self-hosted/opencloud/ks.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/apps/self-hosted/opencloud/ks.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/apps/self-hosted/opencloud/ks.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages ( v0.34.2 ➔ v0.34.3 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(deps): update kubernetes packages ( v0.34.2 ➔ v0.34.3 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli
