Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(deps): update dependency go ( 1.25.3 ➔ 1.25.4 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(deps): update dependency go ( 1.25.3 ➔ 1.25.4 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(silence-operator): switch to official OCI chart source
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

fix(silence-operator): switch to official OCI chart source
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

fix(silence-operator): switch to official OCI chart source
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

fix(cross-seed): correct memory limit syntax from 512i to 512Mi
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(cross-seed): correct memory limit syntax from 512i to 512Mi
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(cross-seed): correct memory limit syntax from 512i to 512Mi
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux): correct GitHub status provider repository URL
  kubernetes/components/alerts/github-status/provider.yaml
Labels: area/kubernetes

fix(flux): correct GitHub status provider repository URL
  kubernetes/components/alerts/github-status/provider.yaml
Labels: area/kubernetes

fix(flux): correct GitHub status provider repository URL
  kubernetes/components/alerts/github-status/provider.yaml
Labels: area/kubernetes

fix(package): update wrangler dependency to version 4.45.4
  scripts/cloudflare-worker/kromgo-proxy/package.json
Labels: none

fix(package): update wrangler dependency to version 4.45.4
  scripts/cloudflare-worker/kromgo-proxy/package.json
Labels: none

fix(package): update wrangler dependency to version 4.45.4
  scripts/cloudflare-worker/kromgo-proxy/package.json
Labels: none

feat(observability): convert Loki rules to VictoriaMetrics Log rules
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/lokirule.yaml
  kubernetes/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/apps/default/prowlarr/app/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/lokirule.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/lokirule.yaml
  kubernetes/apps/observability/victoria-logs/rules/cross-seed-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/rules/prowlarr-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/qbittorrent-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/sonarr-vmrule.yaml
Labels: area/kubernetes

feat(observability): convert Loki rules to VictoriaMetrics Log rules
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/lokirule.yaml
  kubernetes/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/apps/default/prowlarr/app/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/lokirule.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/lokirule.yaml
  kubernetes/apps/observability/victoria-logs/rules/cross-seed-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/rules/prowlarr-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/qbittorrent-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/sonarr-vmrule.yaml
Labels: area/kubernetes

feat(observability): convert Loki rules to VictoriaMetrics Log rules
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/lokirule.yaml
  kubernetes/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/apps/default/prowlarr/app/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/lokirule.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/lokirule.yaml
  kubernetes/apps/observability/victoria-logs/rules/cross-seed-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/rules/prowlarr-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/qbittorrent-vmrule.yaml
  kubernetes/apps/observability/victoria-logs/rules/sonarr-vmrule.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.2 ➔ 0.63.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.2 ➔ 0.63.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.11.3 ➔ v1.11.5 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.11.3 ➔ v1.11.5 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

chore(docs): remove OpenSpec instructions from AGENTS.md
  AGENTS.md
Labels: none

chore(docs): remove OpenSpec instructions from AGENTS.md
  AGENTS.md
Labels: none

chore(docs): remove OpenSpec instructions from AGENTS.md
  AGENTS.md
Labels: none

feat(container): update image ghcr.io/autobrr/qui ( v1.6.1 ➔ v1.7.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.6.1 ➔ v1.7.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action)!: Update action renovatebot/github-action ( v43.0.20 ➔ v44.0.0 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action)!: Update action renovatebot/github-action ( v43.0.20 ➔ v44.0.0 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.3 ➔ 0.63.4 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.3 ➔ 0.63.4 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/external-secrets/charts/external-secrets ( 0.20.4 ➔ 1.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/external-secrets/charts/external-secrets ( 0.20.4 ➔ 1.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.41 ➔ 0.0.42 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.41 ➔ 0.0.42 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.4.1 ➔ 11.4.2 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.4.1 ➔ 11.4.2 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared ( 2025.10.1 ➔ 2025.11.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared ( 2025.10.1 ➔ 2025.11.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 24.0.1 ➔ 24.0.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 24.0.1 ➔ 24.0.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
