Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(homeops-cli): config-driven Rook-Ceph OSD disk — passthrough, virtual, or none
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_test.go
Labels: area/homeops-cli

feat(homeops): declare VM hardware composition in homeops.yaml
  homeops.yaml
Labels: none

refactor(homeops-cli): promote VM lifecycle to top-level 'vm' command group
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

feat(homeops-cli): general-purpose VM platform — vm create (Ubuntu/Rocky/RHEL+), hardware lifecycle, provider-scoped ops, 1Password item management
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/vm_create.go
  cmd/homeops-cli/cmd/talos/vm_hardware.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/images/catalog.go
  cmd/homeops-cli/internal/proxmox/cloudinit.go
  cmd/homeops-cli/internal/proxmox/vm_hardware.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

feat(homeops-cli): vm snapshots/clone/ssh/ip, test coverage for the VM platform, gradient banner
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/opvault/opvault_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/vm_create_test.go
  cmd/homeops-cli/cmd/talos/vm_extras.go
  cmd/homeops-cli/internal/proxmox/vm_net.go
  cmd/homeops-cli/internal/proxmox/vm_snapshot.go
  cmd/homeops-cli/internal/ui/banner.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

feat(homeops-cli): TrueNAS day-2 VM ops — resources, zvol resize, ZFS snapshots, clone, restart, display info
  cmd/homeops-cli/internal/truenas/vm_ops.go
  cmd/homeops-cli/internal/truenas/vm_ops_test.go
Labels: area/homeops-cli

feat(homeops-cli): vSphere day-2 VM ops — reconfigure, disk grow, snapshots, clone, guest IPs, console, guestinfo create
  cmd/homeops-cli/internal/common/size.go
  cmd/homeops-cli/internal/common/size_test.go
  cmd/homeops-cli/internal/truenas/vm_ops.go
  cmd/homeops-cli/internal/truenas/vm_ops_test.go
  cmd/homeops-cli/internal/vsphere/vm_manager.go
  cmd/homeops-cli/internal/vsphere/vm_manager_test.go
  cmd/homeops-cli/internal/vsphere/vm_ops.go
  cmd/homeops-cli/internal/vsphere/vm_ops_test.go
Labels: area/homeops-cli

feat(homeops-cli): Proxmox web console URLs and cloud-image template import
  cmd/homeops-cli/internal/proxmox/vm_console.go
  cmd/homeops-cli/internal/proxmox/vm_console_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
Labels: area/homeops-cli

feat(homeops-cli): uniform VM feature matrix across Proxmox, TrueNAS, and vSphere
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/talos/vm_create.go
  cmd/homeops-cli/cmd/talos/vm_create_test.go
  cmd/homeops-cli/cmd/talos/vm_extras.go
  cmd/homeops-cli/cmd/talos/vm_hardware.go
  cmd/homeops-cli/cmd/talos/vm_template.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/internal/cloudinit/cloudinit.go
  cmd/homeops-cli/internal/cloudinit/cloudinit_test.go
  cmd/homeops-cli/internal/common/command.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/provider/provider.go
  cmd/homeops-cli/internal/proxmox/vm_console.go
  cmd/homeops-cli/internal/proxmox/vm_hardware.go
  cmd/homeops-cli/internal/proxmox/vm_lifecycle.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/truenas/cloud_vm.go
  cmd/homeops-cli/internal/truenas/cloud_vm_test.go
  cmd/homeops-cli/internal/truenas/vm_lifecycle.go
  cmd/homeops-cli/internal/vsphere/vm_lifecycle.go
Labels: area/homeops-cli

feat(homeops-cli): op vaults list, move, and duplicate
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/opvault/opvault_test.go
Labels: area/homeops-cli

feat(homeops-cli): config doctor --network — hypervisor probes and image HEAD checks
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/config/doctor_network.go
  cmd/homeops-cli/cmd/config/doctor_network_test.go
Labels: area/homeops-cli

feat(homeops-cli): live VM-name completion on every vm subcommand
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/vm_completion.go
  cmd/homeops-cli/cmd/talos/vm_completion_test.go
Labels: area/homeops-cli

feat(homeops-cli): one ui.Table renderer for all tabular output
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/opvault/opvault_test.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_snapshot.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/truenas/vm_ops.go
  cmd/homeops-cli/internal/ui/table.go
  cmd/homeops-cli/internal/ui/table_test.go
  cmd/homeops-cli/internal/vsphere/vm_manager.go
  cmd/homeops-cli/internal/vsphere/vm_ops.go
Labels: area/homeops-cli

feat(homeops-cli): bootstrap success flourish, TrueNAS 25.x snapshot API, docs
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/config/doctor_network.go
  cmd/homeops-cli/internal/truenas/vm_ops.go
  cmd/homeops-cli/internal/truenas/vm_ops_test.go
  cmd/homeops-cli/internal/ui/banner.go
  cmd/homeops-cli/internal/ui/native_test.go
Labels: area/homeops-cli

fix(homeops-cli): interactive menu no longer panics on positional commands; declutter vm menu
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/vm_create_test.go
  cmd/homeops-cli/cmd/talos/vm_extras.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

feat(homeops-cli): provider-first vm tree — vm <provider> <verb>
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/talos/vm_create_test.go
Labels: area/homeops-cli

fix(homeops-cli): version reports real commit/date without Makefile ldflags
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

fix(homeops-cli): volsync snapshots showed the oldest snapshot as LATEST
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_parser_test.go
Labels: area/homeops-cli

fix(homeops-cli): volsync snapshots — unchanged apps showed a stale LATEST
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_parser_test.go
Labels: area/homeops-cli

feat(homeops-cli): workstation setup — OS-aware tool installer at latest versions
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/workstation/setup.go
  cmd/homeops-cli/cmd/workstation/setup_test.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/cmd/workstation/workstation_test.go
Labels: area/homeops-cli

feat(homeops-cli): confirm before bootstrap; actionable hint on node SSH failure
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
Labels: area/homeops-cli

feat(homeops-cli): interactive menu prompts for positional arguments
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

fix(homeops-cli): op commands surface 1Password's real error message
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/opvault/opvault_test.go
Labels: area/homeops-cli

feat(homeops-cli): op item commands auto-detect the vault for service accounts
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/opvault/opvault_test.go
Labels: area/homeops-cli

feat(homeops-cli): op reveal — clear-text item view as its own verb
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/opvault/opvault_test.go
Labels: area/homeops-cli

feat(homeops-cli): volsync state shows status; suspend/resume as positional
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/volsync/volsync_flow_test.go
Labels: area/homeops-cli

feat(homeops-cli): bootstrap progress, plan panel, honest dry runs
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar_test.go
  cmd/homeops-cli/internal/ui/banner.go
  cmd/homeops-cli/internal/ui/native_test.go
Labels: area/homeops-cli

test(homeops-cli): cover the new Gateway CRD dry-run/kubeconfig guard order
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
Labels: area/homeops-cli

feat(homeops-cli): bootstrap offers dry-run interactively on both providers
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/internal/ui/prompts.go
Labels: area/homeops-cli

chore(homeops-cli): golangci-lint config and zero lint findings
  cmd/homeops-cli/.golangci.yml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flow_test.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/testutil/mocks.go
  cmd/homeops-cli/internal/ui/table.go
Labels: area/homeops-cli

fix(homeops-cli): bound every HTTP client with a timeout
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/internal/proxmox/client.go
Labels: area/homeops-cli

feat(homeops-cli): machine-readable vm/op listings
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/cmd/talos/vm_create_test.go
  cmd/homeops-cli/internal/provider/provider.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/vsphere/vm_manager.go
Labels: area/homeops-cli

feat(homeops-cli): completions for provider/os/vault flags, examples, first-run hint
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/opvault/opvault.go
  cmd/homeops-cli/cmd/opvault/opvault_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/vm_completion.go
Labels: area/homeops-cli

refactor(homeops-cli): one JSON-RPC unwrap path in the TrueNAS client
  cmd/homeops-cli/internal/metrics/collector.go
  cmd/homeops-cli/internal/truenas/client.go
Labels: area/homeops-cli

test(homeops-cli): cover the weakest packages — config 30→76%, proxmox 57→73%, ui 50→62%
  cmd/homeops-cli/cmd/config/config_cmd_test.go
  cmd/homeops-cli/internal/proxmox/api_harness_test.go
  cmd/homeops-cli/internal/ui/banner.go
  cmd/homeops-cli/internal/ui/prompts_test.go
  cmd/homeops-cli/internal/ui/table.go
  cmd/homeops-cli/internal/ui/table_test.go
Labels: area/homeops-cli

docs(homeops-cli): quality gates and scriptability section
  cmd/homeops-cli/README.md
Labels: area/homeops-cli

fix(vmauth): remove invalid spec.replicas field
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
Labels: area/kubernetes

feat(alertmanager): persistent storage + HA so silences survive restarts
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(alertmanager): nest storage under volumeClaimTemplate.spec
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): pin vm-operator v0.72.0 (metrics deadlock) + dedupe latency rule
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
