Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

chore: increase envoy-gateway OCIRepository sync interval to 15m
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

chore: increase envoy-gateway OCIRepository sync interval to 15m
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy-gateway): increase timeout and interval for OCI repository to handle Docker Hub issues
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy-gateway): increase timeout and interval for OCI repository to handle Docker Hub issues
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy-gateway): increase timeout and interval for OCI repository to handle Docker Hub issues
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy-gateway): reduce oci repository sync interval to 6h
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy-gateway): reduce oci repository sync interval to 6h
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy-gateway): reduce oci repository sync interval to 6h
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.10 ➔ 0.17.11 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.10 ➔ 0.17.11 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.16.7 ➔ 0.16.8 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.16.7 ➔ 0.16.8 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

docs: fix formatting and add memory system details
  CLAUDE.md
Labels: none

docs: fix formatting and add memory system details
  CLAUDE.md
Labels: none

docs: fix formatting and add memory system details
  CLAUDE.md
Labels: none

docs: add architecture analysis for homeops cli
  .serena/memories/homeops-cli-architecture-analysis.md
Labels: none

docs: add architecture analysis for homeops cli
  .serena/memories/homeops-cli-architecture-analysis.md
Labels: none

docs: add architecture analysis for homeops cli
  .serena/memories/homeops-cli-architecture-analysis.md
Labels: none

ci: update renovate configuration and github files
  .github/CODEOWNERS
  .github/labels.yaml
  .renovate/autoMerge.json5
  .renovate/groups.json5
Labels: area/github, area/renovate

ci: update renovate configuration and github files
  .github/CODEOWNERS
  .github/labels.yaml
  .renovate/autoMerge.json5
  .renovate/groups.json5
Labels: area/github, area/renovate

ci: update renovate configuration and github files
  .github/CODEOWNERS
  .github/labels.yaml
  .renovate/autoMerge.json5
  .renovate/groups.json5
Labels: area/github, area/renovate

feat(system-upgrade): migrate from system-upgrade-controller to tuppr
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

feat(system-upgrade): migrate from system-upgrade-controller to tuppr
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

feat(system-upgrade): migrate from system-upgrade-controller to tuppr
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

chore: update go module dependencies
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

chore: update go module dependencies
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

chore: update go module dependencies
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

refactor(config): use git root as default working directory
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/gitutil.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/testing/framework.go
Labels: area/homeops-cli

refactor(config): use git root as default working directory
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/gitutil.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/testing/framework.go
Labels: area/homeops-cli

refactor(config): use git root as default working directory
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/gitutil.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/testing/framework.go
Labels: area/homeops-cli

refactor(system-upgrade): remove system-upgrade-controller resources
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

refactor(system-upgrade): remove system-upgrade-controller resources
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

refactor(system-upgrade): remove system-upgrade-controller resources
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/grafana/helm-charts/loki ( 6.41.0 ➔ 6.41.1 ) (#304)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/grafana/helm-charts/loki ( 6.41.0 ➔ 6.41.1 ) (#304)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.11.0 ➔ 77.11.1 ) (#305)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.11.0 ➔ 77.11.1 ) (#305)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore(container): update image serjs/go-socks5-proxy ( e9c663b ➔ 99e8232 )
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image serjs/go-socks5-proxy ( e9c663b ➔ 99e8232 )
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.31 ➔ 0.0.33 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes
