Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

chore: remove sabnzbd application and related kubernetes resources
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
Labels: area/kubernetes

chore: remove sabnzbd application and related kubernetes resources
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.7.0 ➔ 77.8.0 ) (#268)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/grafana/helm-charts/grafana ( 9.4.5 ➔ 10.0.0 )
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes

refactor(kubernetes): standardize helmrelease config claims and update scripts
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/fusion/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/pinchflat/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/webhook/app/resources/jellyseerr-pushover.sh
  kubernetes/apps/default/webhook/app/resources/radarr-pushover.sh
  kubernetes/apps/default/webhook/app/resources/sonarr-pushover.sh
  kubernetes/apps/default/webhook/app/resources/sonarr-refresh-series.sh
  kubernetes/apps/default/webhook/app/resources/sonarr-tag-codecs.sh
Labels: area/kubernetes

refactor(kubernetes): standardize helmrelease config claims and update scripts
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/fusion/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/pinchflat/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/webhook/app/resources/jellyseerr-pushover.sh
  kubernetes/apps/default/webhook/app/resources/radarr-pushover.sh
  kubernetes/apps/default/webhook/app/resources/sonarr-pushover.sh
  kubernetes/apps/default/webhook/app/resources/sonarr-refresh-series.sh
  kubernetes/apps/default/webhook/app/resources/sonarr-tag-codecs.sh
Labels: area/kubernetes

ci(workflows): add github app token auth to workflows
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/schemas.yaml
  .renovate/changelogs.json5
  .renovaterc.json5
Labels: area/github, area/renovate

ci(workflows): add github app token auth to workflows
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/schemas.yaml
  .renovate/changelogs.json5
  .renovaterc.json5
Labels: area/github, area/renovate

chore: add recommended extensions to vscode config
  .vscode/extensions.json
Labels: none

chore: add recommended extensions to vscode config
  .vscode/extensions.json
Labels: none

feat(observability): add fluent-bit and unpoller monitoring components
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/externalsecret.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/ocirepository.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Labels: area/kubernetes

feat(observability): add fluent-bit and unpoller monitoring components
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/externalsecret.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/ocirepository.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Labels: area/kubernetes

docs(fluent-bit): update helmrelease schema URL
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

docs(fluent-bit): update helmrelease schema URL
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): add unifi-poller dashboards for client and network insights
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): add unifi-poller dashboards for client and network insights
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): update unifi-client-dpi dashboard revision and datasource
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): update unifi-client-dpi dashboard revision and datasource
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(observability): comment out fluent-bit resource in kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

chore(observability): comment out fluent-bit resource in kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): remove alloy deployment and enable fluent-bit
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/alloy/app/ocirepository.yaml
  kubernetes/apps/observability/alloy/app/resources/config.alloy
  kubernetes/apps/observability/alloy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

refactor(kubernetes): remove alloy deployment and enable fluent-bit
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/alloy/app/ocirepository.yaml
  kubernetes/apps/observability/alloy/app/resources/config.alloy
  kubernetes/apps/observability/alloy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

ci(fluent-bit): update oci repository sync interval to 5m
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

ci(fluent-bit): update oci repository sync interval to 5m
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

fix(kubernetes): correct gateway hostname for alertmanager
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
Labels: area/kubernetes

fix(kubernetes): correct gateway hostname for alertmanager
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/silence-operator ( 0.18.0 ➔ 0.19.0 )
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.8.0 ➔ 77.9.1 ) (#270)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action astral-sh/setup-uv ( v6.6.1 ➔ v6.7.0 )
  .github/workflows/schemas.yaml
Labels: area/github

fix(container): update image ghcr.io/n8n-io/n8n ( 1.112.0 ➔ 1.112.1 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/cilium ( 1.18.1 ➔ 1.18.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.15.44 ➔ 0.15.45 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore: add ingestion rate and burst size to Loki config
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: add ingestion rate and burst size to Loki config
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: enable pmtuDiscovery in cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: enable pmtuDiscovery in cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: enable tproxy
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

chore: enable tproxy
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared ( 2025.8.1 ➔ 2025.9.0 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.112.1 ➔ 1.112.2 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
