Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

build: Remove CRD post-renderer from helmfile and add helm, yq, and make to allowed bash commands.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

build: Remove CRD post-renderer from helmfile and add helm, yq, and make to allowed bash commands.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

chore: Update storageClassName from truenas-iscsi to scale-iscsi for multiple applications.
  kubernetes/apps/downloads/radarr/app/pvc.yaml
  kubernetes/apps/downloads/sonarr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

chore: Update storageClassName from truenas-iscsi to scale-iscsi for multiple applications.
  kubernetes/apps/downloads/radarr/app/pvc.yaml
  kubernetes/apps/downloads/sonarr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

chore: Update storageClassName from truenas-iscsi to scale-iscsi for multiple applications.
  kubernetes/apps/downloads/radarr/app/pvc.yaml
  kubernetes/apps/downloads/sonarr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

chore: Update scale-csi image and OCI repository tags from 2.2.30 to 1.0.0.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Update scale-csi image and OCI repository tags from 2.2.30 to 1.0.0.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Update scale-csi image and OCI repository tags from 2.2.30 to 1.0.0.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Update VolSync storage and snapshot class names from TrueNAS to Scale.
  kubernetes/components/volsync-direct/pvc.yaml
  kubernetes/components/volsync-direct/replicationdestination.yaml
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

chore: Update VolSync storage and snapshot class names from TrueNAS to Scale.
  kubernetes/components/volsync-direct/pvc.yaml
  kubernetes/components/volsync-direct/replicationdestination.yaml
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

chore: Update VolSync storage and snapshot class names from TrueNAS to Scale.
  kubernetes/components/volsync-direct/pvc.yaml
  kubernetes/components/volsync-direct/replicationdestination.yaml
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

chore: add TZ environment variable for timezone configuration
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

chore: add TZ environment variable for timezone configuration
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

chore: add TZ environment variable for timezone configuration
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

feat: improve CLI interactive menu navigation, add spinner utility, and centralize TrueNAS credential management.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos.go.bak2
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

feat: improve CLI interactive menu navigation, add spinner utility, and centralize TrueNAS credential management.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos.go.bak2
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

feat: improve CLI interactive menu navigation, add spinner utility, and centralize TrueNAS credential management.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos.go.bak2
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/talos/factory.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/main.go
  cmd/homeops-cli/main_test.go
Labels: area/homeops-cli

Update ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.0.4 ➔ v44.0.5 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.0.4 ➔ v44.0.5 )
  .github/workflows/renovate.yaml
Labels: area/github

chore: Bump scale-csi image and chart to v1.0.2
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.2
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.2
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.3
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.3
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.3
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.27.0 ➔ v1.28.1 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.27.0 ➔ v1.28.1 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image docker.io/opencloudeu/opencloud-rolling ( 3.7.0 ➔ 4.0.0 )
  kubernetes/apps/self-hosted/opencloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image docker.io/opencloudeu/opencloud-rolling ( 3.7.0 ➔ 4.0.0 )
  kubernetes/apps/self-hosted/opencloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): add metrics scraping for scale-csi controller
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/service.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
Labels: area/kubernetes

feat(scale-csi): add metrics scraping for scale-csi controller
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/service.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
Labels: area/kubernetes

feat(scale-csi): add metrics scraping for scale-csi controller
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/service.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.4
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.4
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes
