Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(grafana-dashboards)!: Update dashboard Envoy / Upstream ( 1 ➔ 2 )
  kubernetes/apps/network/kgateway/app/grafanadashboard.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages ( v0.35.1 ➔ v0.35.2 ) (#813)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(deps): update kubernetes packages ( v0.35.1 ➔ v0.35.2 ) (#813)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.73 ➔ 0.0.74 ) (#814)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.73 ➔ 0.0.74 ) (#814)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update flux-operator group (#815)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group (#815)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/fluent/helm-charts/fluent-bit ( 0.55.0 ➔ 0.55.1 ) (#816)
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/fluent/helm-charts/fluent-bit ( 0.55.0 ➔ 0.55.1 ) (#816)
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update kubernetes group ( v1.35.1 ➔ v1.35.2 ) (#812)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update kubernetes group ( v1.35.1 ➔ v1.35.2 ) (#812)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

docs: Document the custom `homeops-cli` Go CLI tool in the README.
  README.md
Labels: area/docs

docs: Document the custom `homeops-cli` Go CLI tool in the README.
  README.md
Labels: area/docs

docs: Document the custom `homeops-cli` Go CLI tool in the README.
  README.md
Labels: area/docs

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.17.8 ➔ v0.17.9 ) (#821)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.17.8 ➔ v0.17.9 ) (#821)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/fluent/helm-charts/fluent-bit ( 0.55.1 ➔ 0.56.0 ) (#820)
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/fluent/helm-charts/fluent-bit ( 0.55.1 ➔ 0.56.0 ) (#820)
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.74 ➔ 0.0.75 ) (#819)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.74 ➔ 0.0.75 ) (#819)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/seerr-team/seerr ( v3.0.1 ➔ v3.1.0 ) (#818)
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/seerr-team/seerr ( v3.0.1 ➔ v3.1.0 ) (#818)
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.5 ➔ 8.0.6 ) (#817)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 8.0.5 ➔ 8.0.6 ) (#817)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.18.2 ➔ 0.18.3 ) (#822)
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.18.2 ➔ 0.18.3 ) (#822)
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v46.1.2 ➔ v46.1.3 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v46.1.2 ➔ v46.1.3 )
  .github/workflows/renovate.yaml
Labels: area/github

feat(observability): add DNS/DHCP/WAN monitoring alerts and badges
  README.md
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs, area/kubernetes

feat(observability): add DNS/DHCP/WAN monitoring alerts and badges
  README.md
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs, area/kubernetes

feat(observability): add DNS/DHCP/WAN monitoring alerts and badges
  README.md
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs, area/kubernetes

fix(kromgo): use binary vector queries for WAN status badges
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): use binary vector queries for WAN status badges
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): use binary vector queries for WAN status badges
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

feat(kromgo-proxy): generate SVG badges directly, bypass shields.io
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): generate SVG badges directly, bypass shields.io
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

feat(kromgo-proxy): generate SVG badges directly, bypass shields.io
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

fix(kromgo-proxy): improve SVG badge readability and styling
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

fix(kromgo-proxy): improve SVG badge readability and styling
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

fix(kromgo-proxy): improve SVG badge readability and styling
  README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
