Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(kromgo-proxy): tighten rate limits to protect free tier
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): replace status dots with arrow indicators
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): replace status dots with arrow indicators
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

chore: remove truenas-deep-explorer tool and its associated files.
  cmd/truenas-deep-explorer/Makefile
  cmd/truenas-deep-explorer/README.md
  cmd/truenas-deep-explorer/docs/TRUENAS-VM-DEEP-API.md
  cmd/truenas-deep-explorer/go.mod
  cmd/truenas-deep-explorer/go.sum
  cmd/truenas-deep-explorer/main.go
  cmd/truenas-deep-explorer/truenas/working_client.go
Labels: area/trunenas-deep-explorer

chore: remove truenas-deep-explorer tool and its associated files.
  cmd/truenas-deep-explorer/Makefile
  cmd/truenas-deep-explorer/README.md
  cmd/truenas-deep-explorer/docs/TRUENAS-VM-DEEP-API.md
  cmd/truenas-deep-explorer/go.mod
  cmd/truenas-deep-explorer/go.sum
  cmd/truenas-deep-explorer/main.go
  cmd/truenas-deep-explorer/truenas/working_client.go
Labels: area/trunenas-deep-explorer

feat(netbox): add API_TOKEN_PEPPERS config and bump memory limit
  kubernetes/apps/self-hosted/netbox/app/externalsecret.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

feat(netbox): add API_TOKEN_PEPPERS config and bump memory limit
  kubernetes/apps/self-hosted/netbox/app/externalsecret.yaml
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

refactor(homeops-cli): fix security issues, remove dead code, and resolve lint warnings
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/errors/errors_test.go
  cmd/homeops-cli/internal/errors/metrics.go
  cmd/homeops-cli/internal/errors/recovery.go
  cmd/homeops-cli/internal/errors/reporter.go
  cmd/homeops-cli/internal/errors/validation.go
  cmd/homeops-cli/internal/iso/downloader.go
  cmd/homeops-cli/internal/migration/tools.go
  cmd/homeops-cli/internal/testing/framework.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

refactor(homeops-cli): fix security issues, remove dead code, and resolve lint warnings
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/errors/errors_test.go
  cmd/homeops-cli/internal/errors/metrics.go
  cmd/homeops-cli/internal/errors/recovery.go
  cmd/homeops-cli/internal/errors/reporter.go
  cmd/homeops-cli/internal/errors/validation.go
  cmd/homeops-cli/internal/iso/downloader.go
  cmd/homeops-cli/internal/migration/tools.go
  cmd/homeops-cli/internal/testing/framework.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

docs: Remove AGENTS.md and GEMINI.md.
  AGENTS.md
  GEMINI.md
Labels: none

docs: Remove AGENTS.md and GEMINI.md.
  AGENTS.md
  GEMINI.md
Labels: none

feat(tuppr): add VMRule alerts for upgrade monitoring
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/vmrule.yaml
Labels: area/kubernetes

feat(tuppr): add VMRule alerts for upgrade monitoring
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/vmrule.yaml
Labels: area/kubernetes

docs: delete VolSync migration checklist.
  docs/volsync-migration-checklist.md
Labels: none

docs: delete VolSync migration checklist.
  docs/volsync-migration-checklist.md
Labels: none

refactor: Consolidate Sonarr quality profiles and update custom format assignments to use trash_ids in both Sonarr and Radarr.
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

refactor: Consolidate Sonarr quality profiles and update custom format assignments to use trash_ids in both Sonarr and Radarr.
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

fix(descheduler): add extra RBAC for PVC access
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/rbac.yaml
Labels: area/kubernetes

fix(descheduler): add extra RBAC for PVC access
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/rbac.yaml
Labels: area/kubernetes

chore(flux): add anon auth to flux operator and remove deprecated recreate
  kubernetes/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

chore(flux): add anon auth to flux operator and remove deprecated recreate
  kubernetes/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat(flux): expose flux web UI via internal gateway
  kubernetes/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/kubernetes

feat(flux): expose flux web UI via internal gateway
  kubernetes/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
Labels: area/kubernetes

fix(flux): use correct web UI port 9080 for HTTPRoute
  kubernetes/apps/flux-system/flux-operator/app/httproute.yaml
Labels: area/kubernetes

fix(flux): use correct web UI port 9080 for HTTPRoute
  kubernetes/apps/flux-system/flux-operator/app/httproute.yaml
Labels: area/kubernetes

feat(flux): add OIDC authentication for flux web UI
  kubernetes/apps/flux-system/flux-operator/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/securitypolicy.yaml
Labels: area/kubernetes

feat(flux): add OIDC authentication for flux web UI
  kubernetes/apps/flux-system/flux-operator/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/securitypolicy.yaml
Labels: area/kubernetes

fix(downloads): add backendRequest timeout to prevent proxy killing long searches
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(downloads): add backendRequest timeout to prevent proxy killing long searches
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(kgateway): improve global traffic policies for performance and reliability
  kubernetes/apps/downloads/backendconfigpolicy.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
Labels: area/kubernetes

feat(kgateway): improve global traffic policies for performance and reliability
  kubernetes/apps/downloads/backendconfigpolicy.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/network/kgateway/app/policies.yaml
Labels: area/kubernetes

feat(kgateway): add BackendConfigPolicy to all gateway-proxied namespaces
  kubernetes/apps/auth/backendconfigpolicy.yaml
  kubernetes/apps/auth/kustomization.yaml
  kubernetes/apps/automation/backendconfigpolicy.yaml
  kubernetes/apps/automation/kustomization.yaml
  kubernetes/apps/flux-system/backendconfigpolicy.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/media/backendconfigpolicy.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/observability/backendconfigpolicy.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/self-hosted/backendconfigpolicy.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/volsync-system/backendconfigpolicy.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

feat(kgateway): add BackendConfigPolicy to all gateway-proxied namespaces
  kubernetes/apps/auth/backendconfigpolicy.yaml
  kubernetes/apps/auth/kustomization.yaml
  kubernetes/apps/automation/backendconfigpolicy.yaml
  kubernetes/apps/automation/kustomization.yaml
  kubernetes/apps/flux-system/backendconfigpolicy.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/media/backendconfigpolicy.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/observability/backendconfigpolicy.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/self-hosted/backendconfigpolicy.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/volsync-system/backendconfigpolicy.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes

feat(webhook): add ntopng-to-alertmanager webhook hook
  kubernetes/apps/self-hosted/webhook/app/resources/hooks.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/ntopng-alertmanager.sh
Labels: area/kubernetes

feat(webhook): add ntopng-to-alertmanager webhook hook
  kubernetes/apps/self-hosted/webhook/app/resources/hooks.yaml
  kubernetes/apps/self-hosted/webhook/app/resources/ntopng-alertmanager.sh
Labels: area/kubernetes

fix(webhook): add ntopng-alertmanager script to configmap
  kubernetes/apps/self-hosted/webhook/app/kustomization.yaml
Labels: area/kubernetes

fix(webhook): add ntopng-alertmanager script to configmap
  kubernetes/apps/self-hosted/webhook/app/kustomization.yaml
Labels: area/kubernetes

fix(homeops-cli): update bootstrap for kgateway and fix namespace constants
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

fix(homeops-cli): use kgateway-crds as Helm release name for Gateway API CRDs
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(homeops-cli): use kgateway-crds chart in bootstrap CRDs helmfile
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli
