Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

ci(github-action): update action ghcr.io/allenporter/flux-local ( v8.0.0 ➔ v8.0.1 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

ci(github-action): update action actions/checkout ( v5.0.0 ➔ v5.0.1 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/checkout ( v5.0.0 ➔ v5.0.1 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github

fix(container): update image ghcr.io/buroa/qbrr ( 0.1.1 ➔ 0.1.2 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbrr ( 0.1.1 ➔ 0.1.2 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.9 ➔ 0.0.11 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.9 ➔ 0.0.11 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action actions/checkout ( 08c6903 ➔ 93cb6ef )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

ci(github-action): update action actions/checkout ( 08c6903 ➔ 93cb6ef )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

feat(container): update image ghcr.io/home-operations/kopia ( 0.21.1 ➔ 0.22.0 )
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/kopia ( 0.21.1 ➔ 0.22.0 )
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

chore: bump version
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore: bump version
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore: bump version
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.5 ➔ 0.63.6 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.5 ➔ 0.63.6 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

docs: Add CONTRIBUTING.md with guidelines for adding new applications.
  CONTRIBUTING.md
Labels: none

docs: Add CONTRIBUTING.md with guidelines for adding new applications.
  CONTRIBUTING.md
Labels: none

docs: Add CONTRIBUTING.md with guidelines for adding new applications.
  CONTRIBUTING.md
Labels: none

docs: Update and move contribution guidelines to focus on adding new applications within the .github directory.
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/github

docs: Update and move contribution guidelines to focus on adding new applications within the .github directory.
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/github

docs: Update and move contribution guidelines to focus on adding new applications within the .github directory.
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/github

docs: Add OCIRepository creation steps and examples for Helm chart sources to the contributing guide.
  .github/CONTRIBUTING.md
Labels: area/github

docs: Add OCIRepository creation steps and examples for Helm chart sources to the contributing guide.
  .github/CONTRIBUTING.md
Labels: area/github

docs: Add OCIRepository creation steps and examples for Helm chart sources to the contributing guide.
  .github/CONTRIBUTING.md
Labels: area/github

fix(container): update image ghcr.io/qdm12/gluetun ( v3.40.1 ➔ v3.40.3 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/qdm12/gluetun ( v3.40.1 ➔ v3.40.3 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable EnvoyPatchPolicy and configure Zstd compression for external and internal gateways.
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable EnvoyPatchPolicy and configure Zstd compression for external and internal gateways.
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable EnvoyPatchPolicy and configure Zstd compression for external and internal gateways.
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat: Refactor descheduler pod protection arguments, add Zstd compression, update Envoy image specification, and tune connection buffer and HTTP/2 window sizes.
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat: Refactor descheduler pod protection arguments, add Zstd compression, update Envoy image specification, and tune connection buffer and HTTP/2 window sizes.
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat: Refactor descheduler pod protection arguments, add Zstd compression, update Envoy image specification, and tune connection buffer and HTTP/2 window sizes.
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat: Move `retentionPeriod` to `server` configuration block
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

feat: Move `retentionPeriod` to `server` configuration block
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

feat: Move `retentionPeriod` to `server` configuration block
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.329.0 ➔ 2.330.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.329.0 ➔ 2.330.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module go.uber.org/zap ( v1.27.0 ➔ v1.27.1 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(deps): update module go.uber.org/zap ( v1.27.0 ➔ v1.27.1 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
