Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(kromgo): use flux_resource_info metric for helmrelease/failing counts
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

docs(readme): redesign badge layout and update storage architecture
  README.md
Labels: area/docs

docs(readme): redesign badge layout and update storage architecture
  README.md
Labels: area/docs

docs(readme): redesign badge layout and update storage architecture
  README.md
Labels: area/docs

fix(readme): revert to inline badge layout
  README.md
Labels: area/docs

fix(readme): revert to inline badge layout
  README.md
Labels: area/docs

fix(readme): revert to inline badge layout
  README.md
Labels: area/docs

docs(readme): add all kromgo metrics to badges
  README.md
Labels: area/docs

docs(readme): add all kromgo metrics to badges
  README.md
Labels: area/docs

docs(readme): add all kromgo metrics to badges
  README.md
Labels: area/docs

style(readme): increase badge size to for-the-badge style
  README.md
Labels: area/docs

style(readme): increase badge size to for-the-badge style
  README.md
Labels: area/docs

style(readme): increase badge size to for-the-badge style
  README.md
Labels: area/docs

fix(readme): fix spacing between metric badge rows
  README.md
Labels: area/docs

fix(readme): fix spacing between metric badge rows
  README.md
Labels: area/docs

fix(readme): fix spacing between metric badge rows
  README.md
Labels: area/docs

docs: remove blank line from README
  README.md
Labels: area/docs

docs: remove blank line from README
  README.md
Labels: area/docs

docs: remove blank line from README
  README.md
Labels: area/docs

feat(kromgo): add ceph health badge with OK/WARN/ERR text
  README.md
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/docs, area/kubernetes

feat(kromgo): add ceph health badge with OK/WARN/ERR text
  README.md
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/docs, area/kubernetes

feat(kromgo): add ceph health badge with OK/WARN/ERR text
  README.md
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/docs, area/kubernetes

fix(flux-operator): add NetworkPolicy allowing metrics scraping
  .claude/settings.local.json
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy.yaml
Labels: area/kubernetes

fix(flux-operator): add NetworkPolicy allowing metrics scraping
  .claude/settings.local.json
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy.yaml
Labels: area/kubernetes

fix(flux-operator): add NetworkPolicy allowing metrics scraping
  .claude/settings.local.json
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy.yaml
Labels: area/kubernetes

chore: remove orphaned Loki rule file
  kubernetes/apps/downloads/radarr/app/lokirule.yaml
Labels: area/kubernetes

chore: remove orphaned Loki rule file
  kubernetes/apps/downloads/radarr/app/lokirule.yaml
Labels: area/kubernetes

chore: remove orphaned Loki rule file
  kubernetes/apps/downloads/radarr/app/lokirule.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/cilium ( 1.18.4 ➔ 1.18.5 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/cilium ( 1.18.4 ➔ 1.18.5 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.46 ➔ 0.0.47 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.46 ➔ 0.0.47 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.1 ➔ 5.21.2 ) (#598)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.1 ➔ 5.21.2 ) (#598)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(helm): update chart netdata ( 3.7.156 ➔ 3.7.157 )
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart netdata ( 3.7.156 ➔ 3.7.157 )
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): add GODEBUG=netdns=go for IPv4 preference
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): add GODEBUG=netdns=go for IPv4 preference
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): add GODEBUG=netdns=go for IPv4 preference
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): disable IPv6 via sysctl to fix ghcr.io connectivity
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes
