Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

chore: update readme
  README.md
Labels: area/docs

chore: update readme
  README.md
Labels: area/docs

chore: update readme
  README.md
Labels: area/docs

Enhance scale-csi entry in README.md
  README.md
Labels: area/docs

Enhance scale-csi entry in README.md
  README.md
Labels: area/docs

Enhance scale-csi entry in README.md
  README.md
Labels: area/docs

Update Block Storage protocols in README
  README.md
Labels: area/docs

Update Block Storage protocols in README
  README.md
Labels: area/docs

Update Block Storage protocols in README
  README.md
Labels: area/docs

fix(deps): update dependency go ( 1.25.4 ➔ 1.25.5 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(deps): update dependency go ( 1.25.4 ➔ 1.25.5 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

chore: Bump scale-csi to v1.0.10
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.10
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.10
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore(container): update image docker.io/opencloudeu/opencloud-rolling ( a4529d8 ➔ 1cbce73 )
  kubernetes/apps/self-hosted/opencloud/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image docker.io/opencloudeu/opencloud-rolling ( a4529d8 ➔ 1cbce73 )
  kubernetes/apps/self-hosted/opencloud/app/helmrelease.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.11
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.11
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.11
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.12
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.12
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.12
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scaler-csi image and chart tags to v1.0.13
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scaler-csi image and chart tags to v1.0.13
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scaler-csi image and chart tags to v1.0.13
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.14
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.14
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.14
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/charts/scale-csi ( 1.0.14 ➔ 1.0.15 )
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/charts/scale-csi ( 1.0.14 ➔ 1.0.15 )
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/scale-csi ( v1.0.14 ➔ v1.0.15 )
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/scale-csi ( v1.0.14 ➔ v1.0.15 )
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action actions/setup-node ( v6.0.0 ➔ v6.1.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/setup-node ( v6.0.0 ➔ v6.1.0 )
  .github/workflows/schemas.yaml
Labels: area/github

chore: Bump scale-csi to v1.0.17
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.17
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.17
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.18
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.18
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.18
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
