Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(cilium): add routed LB pool 192.168.255.0/24 for BGP-only routing
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): add routed LB pool 192.168.255.0/24 for BGP-only routing
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

chore(cilium): remove BGP test service after verification
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

chore(cilium): remove BGP test service after verification
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

chore(cilium): remove BGP test service after verification
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(network): migrate LB services to BGP-only routed pool
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

feat(network): migrate LB services to BGP-only routed pool
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

feat(network): migrate LB services to BGP-only routed pool
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): add new kube-api IP to certSANs for migration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

feat(talos): add new kube-api IP to certSANs for migration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

feat(talos): add new kube-api IP to certSANs for migration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

feat(cilium): add parallel kube-api-routed service for migration testing
  .claude/settings.local.json
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): add parallel kube-api-routed service for migration testing
  .claude/settings.local.json
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): add parallel kube-api-routed service for migration testing
  .claude/settings.local.json
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(talos): migrate kube-api to DNS-based endpoint with BGP routing
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, area/homeops-cli

feat(talos): migrate kube-api to DNS-based endpoint with BGP routing
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, area/homeops-cli

feat(talos): migrate kube-api to DNS-based endpoint with BGP routing
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, area/homeops-cli

feat(talos): migrate kube-api to DNS-based endpoint with BGP routing
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes, area/homeops-cli

chore(cilium): consolidate to single BGP-only IP pool
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

chore(cilium): consolidate to single BGP-only IP pool
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

chore(cilium): consolidate to single BGP-only IP pool
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

chore(cilium): consolidate to single BGP-only IP pool
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat: Enhance `talos kubeconfig` with 1Password push/pull options and refactor kubeconfig storage to common utilities.
  .claude/settings.local.json
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
Labels: area/homeops-cli

feat: Enhance `talos kubeconfig` with 1Password push/pull options and refactor kubeconfig storage to common utilities.
  .claude/settings.local.json
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
Labels: area/homeops-cli

feat: Enhance `talos kubeconfig` with 1Password push/pull options and refactor kubeconfig storage to common utilities.
  .claude/settings.local.json
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
Labels: area/homeops-cli

feat: Enhance `talos kubeconfig` with 1Password push/pull options and refactor kubeconfig storage to common utilities.
  .claude/settings.local.json
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
Labels: area/homeops-cli

feat: add utilities to save, pull, and push kubeconfig files to and from 1Password.
  cmd/homeops-cli/internal/common/kubeconfig.go
Labels: area/homeops-cli

feat: add utilities to save, pull, and push kubeconfig files to and from 1Password.
  cmd/homeops-cli/internal/common/kubeconfig.go
Labels: area/homeops-cli

feat: add utilities to save, pull, and push kubeconfig files to and from 1Password.
  cmd/homeops-cli/internal/common/kubeconfig.go
Labels: area/homeops-cli

feat: add utilities to save, pull, and push kubeconfig files to and from 1Password.
  cmd/homeops-cli/internal/common/kubeconfig.go
Labels: area/homeops-cli

fix(container): update image mirror.gcr.io/coredns/coredns ( 1.14.0 ➔ 1.14.1 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/coredns/coredns ( 1.14.0 ➔ 1.14.1 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

feat(container): update image docker.io/getmeili/meilisearch ( v1.32.2 ➔ v1.33.0 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

feat(container): update image docker.io/getmeili/meilisearch ( v1.32.2 ➔ v1.33.0 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.67.0 ➔ 0.68.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.67.0 ➔ 0.68.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v44.2.4 ➔ v44.2.5 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.2.4 ➔ v44.2.5 )
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
