Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

build: update gum dependency to v0.17.0
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

build: update gum dependency to v0.17.0
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

build: update gum dependency to v0.17.0
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

fix(bootstrap): update vault name from Private to Infrastructure for kubeconfig
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(bootstrap): update vault name from Private to Infrastructure for kubeconfig
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(bootstrap): update vault name from Private to Infrastructure for kubeconfig
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.62.0 ➔ 0.62.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.62.0 ➔ 0.62.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.18.0 ➔ 2.18.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/keda ( 2.18.0 ➔ 2.18.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/keda/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.15.2940 ➔ 4.0.16.2942 )
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.15.2940 ➔ 4.0.16.2942 )
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.62.1 ➔ 0.62.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.62.1 ➔ 0.62.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/home-operations/charts-mirror/descheduler ( 0.33.0 ➔ 0.34.0 )
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/descheduler ( 0.33.0 ➔ 0.34.0 )
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.29.0 ➔ v5.30.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.29.0 ➔ v5.30.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared ( 2025.10.0 ➔ 2025.10.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared ( 2025.10.0 ➔ 2025.10.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/qui ( v1.6.0 ➔ v1.6.1 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/qui ( v1.6.0 ➔ v1.6.1 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

update: move custom image with playwright
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

update: move custom image with playwright
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

update: move custom image with playwright
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: add NODE_PATH to n8n for Playwright module resolution
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: add NODE_PATH to n8n for Playwright module resolution
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: add NODE_PATH to n8n for Playwright module resolution
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow Playwright module in n8n Code nodes
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow Playwright module in n8n Code nodes
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat: allow Playwright module in n8n Code nodes
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v43.0.19 ➔ v43.0.20 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v43.0.19 ➔ v43.0.20 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.16.2942 ➔ 4.0.16.2943 )
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.16.2942 ➔ 4.0.16.2943 )
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/actualbudget/actual-server ( 25.10.0 ➔ 25.11.0 )
  kubernetes/apps/default/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/actualbudget/actual-server ( 25.10.0 ➔ 25.11.0 )
  kubernetes/apps/default/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/piraeusdatastore/helm-charts/snapshot-controller ( 4.1.1 ➔ 4.2.0 )
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/piraeusdatastore/helm-charts/snapshot-controller ( 4.1.1 ➔ 4.2.0 )
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.3 ➔ 2.2.4 )
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes
