Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update kubernetes group ( v1.34.2 ➔ v1.34.3 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update kubernetes group ( v1.34.2 ➔ v1.34.3 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.43 ➔ 0.0.44 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.43 ➔ 0.0.44 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.6.0 ➔ 11.6.1 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.6.0 ➔ 11.6.1 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

chore: Reduce jitter base sleep modulus from 900 to 300
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

chore: Reduce jitter base sleep modulus from 900 to 300
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

chore: Reduce jitter base sleep modulus from 900 to 300
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 25.0.0 ➔ 25.0.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 25.0.0 ➔ 25.0.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.5 ➔ 2.2.6 )
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.5 ➔ 2.2.6 )
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes

ci(github-action): update action astral-sh/setup-uv ( v7.1.4 ➔ v7.1.5 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.4 ➔ v7.1.5 )
  .github/workflows/schemas.yaml
Labels: area/github

feat(nzbget): increase CPU/memory resources for better throughput
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(nzbget): increase CPU/memory resources for better throughput
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(nzbget): increase CPU/memory resources for better throughput
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(nzbget): increase CPU request to 6 cores
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(nzbget): increase CPU request to 6 cores
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(nzbget): increase CPU request to 6 cores
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

chore: Decrease scale-csi controller and node CPU requests and remove CPU limits.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

chore: Decrease scale-csi controller and node CPU requests and remove CPU limits.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

chore: Decrease scale-csi controller and node CPU requests and remove CPU limits.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase CPU requests and add CPU limits for scale-csi controller and node components.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase CPU requests and add CPU limits for scale-csi controller and node components.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase CPU requests and add CPU limits for scale-csi controller and node components.
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add bluestore slow ops warning lifetime and threshold to OSD configuration.
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: Add bluestore slow ops warning lifetime and threshold to OSD configuration.
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: Add bluestore slow ops warning lifetime and threshold to OSD configuration.
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: update opencloud VOLSYNC_CAPACITY to match actual PVC size (500Gi)
  kubernetes/apps/self-hosted/opencloud/ks.yaml
Labels: area/kubernetes

fix: update opencloud VOLSYNC_CAPACITY to match actual PVC size (500Gi)
  kubernetes/apps/self-hosted/opencloud/ks.yaml
Labels: area/kubernetes

fix: update opencloud VOLSYNC_CAPACITY to match actual PVC size (500Gi)
  kubernetes/apps/self-hosted/opencloud/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/twin/gatus ( v5.33.0 ➔ v5.33.1 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/twin/gatus ( v5.33.0 ➔ v5.33.1 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update encrypted TQM application configuration.
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
Labels: area/kubernetes

feat: Update encrypted TQM application configuration.
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
Labels: area/kubernetes

feat: Update encrypted TQM application configuration.
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
Labels: area/kubernetes

feat: Remove VueTorrent sidecar and QBRR volume from qBittorrent deployment.
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: Remove VueTorrent sidecar and QBRR volume from qBittorrent deployment.
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes
