Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

chore: Bump scale-csi image and chart to v1.0.4
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): add Grafana dashboard for CSI metrics
  kubernetes/apps/scale-csi/scale-csi/app/grafanadashboard.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
Labels: area/kubernetes

feat(scale-csi): add Grafana dashboard for CSI metrics
  kubernetes/apps/scale-csi/scale-csi/app/grafanadashboard.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
Labels: area/kubernetes

feat(scale-csi): add Grafana dashboard for CSI metrics
  kubernetes/apps/scale-csi/scale-csi/app/grafanadashboard.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.5
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.5
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.5
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.6
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.6
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi image and chart to v1.0.6
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scaler-csi image and chart tags to v1.0.7
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scaler-csi image and chart tags to v1.0.7
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scaler-csi image and chart tags to v1.0.7
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.8 and add node metrics scraping
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/service.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.8 and add node metrics scraping
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/service.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.8 and add node metrics scraping
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/service.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/qui ( 4efc176 ➔ f4b1ab9 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/qui ( 4efc176 ➔ f4b1ab9 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.0 ➔ 2.20.1 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.0 ➔ 2.20.1 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/kopia ( 0.22.2 ➔ 0.22.3 )
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/kopia ( 0.22.2 ➔ 0.22.3 )
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.17 ➔ 0.11.18 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.17 ➔ 0.11.18 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.6 ➔ 0.64.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.63.6 ➔ 0.64.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

revert(kubernetes/apps/downloads/qui): revert image tag to previous version
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

revert(kubernetes/apps/downloads/qui): revert image tag to previous version
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.64.0 ➔ 0.64.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.64.0 ➔ 0.64.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore: Bump scale-csi to v1.0.9
  CLAUDE.md
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.9
  CLAUDE.md
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump scale-csi to v1.0.9
  CLAUDE.md
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore: Bump qui image to v1.8.1
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

chore: Bump qui image to v1.8.1
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

chore: Bump qui image to v1.8.1
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action actions/checkout ( 1af3b93 ➔ 8e8c483 )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

ci(github-action): update action actions/checkout ( 1af3b93 ➔ 8e8c483 )
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area/github

ci(github-action): update action actions/checkout ( v6.0.0 ➔ v6.0.1 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/checkout ( v6.0.0 ➔ v6.0.1 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github
