Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(home-assistant): upgrade to 2026.8.1 and self-heal trusted_proxies
  kubernetes/apps/automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(home-assistant): drop trusted_proxies initContainer, 2026.8 owns it
  kubernetes/apps/automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(multus): route iot-routed to the guest VLAN for a cast target
  kubernetes/apps/kube-system/multus/networks/iot-routed.yaml
Labels: area/kubernetes

fix(kopiur): drop epoch minDuration to 2h so index compaction keeps up
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes

feat(kopiur): cut over to a clean S3 repository, archive the NFS one
  kubernetes/apps/kopiur-system/kopiur/app/externalsecret.yaml
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository-s3.yaml
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
  kubernetes/apps/kopiur-system/kopiur/repository/kustomization.yaml
  kubernetes/components/kopiur/backup/restore.yaml
  kubernetes/components/kopiur/backup/snapshotpolicy.yaml
Labels: area/kubernetes

fix(kopiur): make the archived repository ReadOnly before retention eats it
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes

feat(kopia-ui): point the web UI at nas-s3 instead of the archived repo
  kubernetes/apps/volsync-system/kopia/app/externalsecret.yaml
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

fix(kopia-ui): make the repository CONNECTION read-only, not just the server
  kubernetes/apps/volsync-system/kopia/app/externalsecret.yaml
Labels: area/kubernetes

refactor(kopia-ui): move to kopiur-system and retire volsync-system
  kubernetes/apps/kopiur-system/backendconfigpolicy.yaml
  kubernetes/apps/kopiur-system/kopia/app/externalsecret.yaml
  kubernetes/apps/kopiur-system/kopia/app/helmrelease.yaml
  kubernetes/apps/kopiur-system/kopia/app/kustomization.yaml
  kubernetes/apps/kopiur-system/kopia/app/ocirepository.yaml
  kubernetes/apps/kopiur-system/kopia/app/oidc-externalsecret.yaml
  kubernetes/apps/kopiur-system/kopia/app/securitypolicy.yaml
  kubernetes/apps/kopiur-system/kopia/ks.yaml
  kubernetes/apps/kopiur-system/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/namespace.yaml
Labels: area/kubernetes

chore: clear the remaining VolSync residue
  kubernetes/apps/auth/namespace.yaml
  kubernetes/apps/automation/namespace.yaml
  kubernetes/apps/downloads/namespace.yaml
  kubernetes/apps/kopiur-system/kopia/app/externalsecret.yaml
  kubernetes/apps/kopiur-system/kopiur/app/externalsecret.yaml
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/self-hosted/namespace.yaml
Labels: area/kubernetes

chore(kopiur): retire the archived NFS repository
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
  kubernetes/apps/kopiur-system/kopiur/repository/kustomization.yaml
Labels: area/kubernetes

chore(kopiur): drop the IfNotPresent guard now every PVC is kopiur-native
  kubernetes/components/kopiur/backup/pvc.yaml
Labels: area/kubernetes

feat(nzbget): route public egress over the VLAN 90 tunnel
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/kube-system/multus/networks/kustomization.yaml
  kubernetes/apps/kube-system/multus/networks/vpn-egress.yaml
Labels: area/kubernetes

Revert "feat(nzbget): route public egress over the VLAN 90 tunnel"
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/kube-system/multus/networks/kustomization.yaml
  kubernetes/apps/kube-system/multus/networks/vpn-egress.yaml
Labels: area/kubernetes

fix(observability): BGPPeerNotEstablished no longer carries contradictory bgpPeerState label
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

fix(qbittorrent): pin VLAN 90 macvlan MTU to tunnel MTU and persist /inter
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/pvc.yaml
  kubernetes/apps/kube-system/multus/networks/vpn.yaml
Labels: area/kubernetes

feat(observability): alert on gateway0 VLAN90 WireGuard tunnel health
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

chore(renovate): don't automerge 0.x minor updates (zer0ver)
  .renovate/autoMerge.json5
Labels: area/renovate

fix: apply external code-review batch (alerts, killswitch, doc drift)
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/vpn-egress-killswitch.yaml
  kubernetes/apps/kube-system/multus/networks/vpn.yaml
  kubernetes/apps/observability/victoria-logs/rules/qbittorrent-vmrule.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-snmp-geoip.yaml
Labels: area/kubernetes

feat(homeops-cli): disable WBT on the scratch disk via udev in the flatcar template
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
Labels: area/homeops-cli

feat(observability): add gateway0 IPv6 tunnel health alerts
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

feat(scale-csi): v1.7.0 + enable NVMe-oF multipath over storage VLANs
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(config): define storage fabric NICs
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/config/storage_nics_test.go
  homeops.yaml
Labels: area/homeops-cli

feat(proxmox): provision storage fabric NICs
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/proxmox/node_config_test.go
  cmd/homeops-cli/internal/proxmox/storage_nics_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
Labels: area/homeops-cli

feat(flatcar): render storage fabric networkd units
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
Labels: area/homeops-cli

docs(homeops-cli): document storage fabric provisioning
  cmd/homeops-cli/README.md
  cmd/homeops-cli/internal/config/storage_nics_test.go
Labels: area/homeops-cli

chore(scale-csi): 1.7.1 — multipath addresses via publish context; pre-existing volumes converge on next detach/attach
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

gf7: fabric follow-ups — validation breadth, per-NIC queue parity, golden coverage
  README.md
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/config_test.go
  cmd/homeops-cli/internal/config/storage_nics_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/characterization_test.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/proxmox/storage_nics_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  homeops.yaml
Labels: area/docs, area/homeops-cli

chore(scale-csi): 1.8.0 — iSCSI multi-portal multipath + NFS trunking (both default-off; NVMe-oF multipath unchanged)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore(scale-csi): 1.8.1 — GF-6 tail hardening (no behavior changes)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(downloads): NFS media mounts to storage VLAN 192.168.201.10
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/pinchflat/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(flatcar): persist NFS trunking and validate NIC MACs
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/storage_nics_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/characterization_test.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/files/nfsmount.conf
  homeops.yaml
Labels: area/homeops-cli

fix(config): reject cross-node provider MAC reuse
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/storage_nics_test.go
Labels: area/homeops-cli

fix(flatcar): close GF-8 render verification gaps
  cmd/homeops-cli/internal/flatcar/characterization_test.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/files/nfsmount.conf
Labels: area/homeops-cli

feat(scale-csi): alert on tombstone reap backlog
  kubernetes/apps/scale-csi/scale-csi/app/vmrule.yaml
Labels: area/kubernetes

perf(nzbget): pause download queue during unpack
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(storage): NVMe-backed hostpath tier for download scratch
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app/storageclass-nvme.yaml
Labels: area/kubernetes

feat(homeops-cli): reflect 2026-08-19 storage relayout in provisioning
  cmd/homeops-cli/cmd/cluster/rehearse_node.go
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/proxmox/node_config_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  homeops.yaml
Labels: area/homeops-cli

fix(netbox-postgres): stop WAL retention from filling the primary volume
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-cnpg.yaml
Labels: area/kubernetes

fix(scale-csi): size the reap for v1.10.4 tombstoneMinAge and close the alerting blind spots
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmrule.yaml
Labels: area/kubernetes
