Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

chore(flatcar): drop dead nvme_tcp from modules-load template
  cmd/homeops-cli/internal/templates/flatcar/files/modules-load-homeops.conf
Labels: area/homeops-cli

fix(flatcar): source domain + SSH pubkey from 1Password; drop stale certSAN
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
Labels: area/homeops-cli

feat(flatcar): restore persisted cluster PKI from 1Password (stable identity)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
Labels: area/homeops-cli

feat(flatcar): add save-pki command to capture cluster PKI into 1Password
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
Labels: area/homeops-cli

fix(homeops-cli): security hardening pass (audit P0s)
  cmd/homeops-cli/cmd/completion/completion.go
  cmd/homeops-cli/cmd/completion/completion_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/common/command.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
Labels: area/homeops-cli

fix(homeops-cli): gate insecure TLS (env) + restore legacy talos version
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/env.go
  cmd/homeops-cli/internal/common/env_test.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/proxmox/client.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

refactor(homeops-cli): remove dead code + dedup helpers (audit #11)
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/manager.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/constants/constants_test.go
  cmd/homeops-cli/internal/flatcar/helpers.go
  cmd/homeops-cli/internal/flatcar/helpers_test.go
  cmd/homeops-cli/internal/flatcar/image.go
  cmd/homeops-cli/internal/flatcar/image_test.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

refactor(homeops-cli): menu from live command tree + logs to stderr (audit #10)
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

refactor(homeops-cli): standardize concurrency flag + flatcar completion (audit #9)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/talos/talos.go
Labels: area/homeops-cli

feat(flatcar): add kubeconfig verb (lifecycle parity, audit #8 pt1)
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
Labels: area/homeops-cli

feat(flatcar): add reset-node / reset-cluster verbs (audit #8 pt2)
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
Labels: area/homeops-cli

refactor(homeops-cli): logging + ISO transport hardening (audit #12)
  cmd/homeops-cli/internal/iso/downloader.go
  cmd/homeops-cli/internal/iso/downloader_test.go
  cmd/homeops-cli/internal/truenas/client.go
Labels: area/homeops-cli

docs+test(homeops-cli): flatcar lifecycle parity notes + kubeconfig test (audit #8/#12)
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar_test.go
Labels: area/homeops-cli

security(homeops-cli): shell-injection hardening across SSH + Proxmox opts (audit #18)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/common/shell.go
  cmd/homeops-cli/internal/common/shell_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_more_test.go
  cmd/homeops-cli/internal/ssh/ssh_client_shellsafe_test.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

refactor(homeops-cli): introduce FlatcarDeployer seam for deploy-vm (matrix #15)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
Labels: area/homeops-cli

feat(homeops-cli): vSphere Flatcar Ignition mechanism — guestinfo + clone-from-OVA (matrix #13)
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/client_flatcar_test.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
Labels: area/homeops-cli

feat(homeops-cli): wire Flatcar-on-vSphere into deploy-vm --provider (matrix #13)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
Labels: area/homeops-cli

feat(homeops-cli): TrueNAS Flatcar Ignition mechanism — fw_cfg via command_line_args (matrix #14)
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/truenas/vm_manager_flow_test.go
Labels: area/homeops-cli

feat(homeops-cli): wire Flatcar-on-TrueNAS into deploy-vm --provider — matrix complete (#14)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
Labels: area/homeops-cli

feat(homeops-cli): shared retry/backoff helper + Proxmox read retries (robustness #16)
  cmd/homeops-cli/internal/common/retry.go
  cmd/homeops-cli/internal/common/retry_test.go
  cmd/homeops-cli/internal/proxmox/client.go
Labels: area/homeops-cli

feat(homeops-cli): retry transient connect dials for SSH, vSphere, TrueNAS (robustness #16)
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

feat(homeops-cli): idempotent JoinControlPlane + Proxmox VMID-collision pre-check (robustness #16)
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
Labels: area/homeops-cli

feat(homeops-cli): Proxmox storage preflight before VM create (robustness #16)
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
Labels: area/homeops-cli

docs+test(homeops-cli): document deploy-vm --provider matrix; vSphere clone guards (#17)
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/internal/vsphere/client_flatcar_test.go
Labels: area/homeops-cli

security(homeops-cli): TLS verify-by-default for Proxmox + vSphere (#18)
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/talos/talos_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/proxmox/client.go
  cmd/homeops-cli/internal/vsphere/client.go
Labels: area/homeops-cli

fix(image-pull): pull without running entrypoint; silence prepull alert noise
  .github/workflows/image-pull.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/github, area/kubernetes

fix(image-pull): pull without running entrypoint; silence prepull alert noise (#1165)
  .github/workflows/image-pull.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/github, area/kubernetes

fix(rook-ceph): add ceph-csi-drivers chart for v1.20 CSI RBAC (restores VolSync)
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): vendor CSI plugin RBAC as static manifests (not chart)
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/rbac.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): add ceph-csi-drivers chart for v1.20 CSI RBAC (restores VolSync) (#1178)
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/rbac.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): restore cephfs ms_mode=prefer-crc kernel mount option (fixes netbox VolSync)
  kubernetes/apps/rook-ceph/rook-ceph/csi/driver-cephfs.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): restore cephfs ms_mode=prefer-crc kernel mount option (fixes netbox VolSync) (#1180)
  kubernetes/apps/rook-ceph/rook-ceph/csi/driver-cephfs.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
Labels: area/kubernetes

feat(rook-ceph): adopt ceph-csi-drivers chart (v1.20 proper CSI model) — PR 1/2
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
Labels: area/kubernetes

feat(rook-ceph): adopt ceph-csi-drivers chart (v1.20 proper CSI model) — PR 1/2 (#1181)
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): drop invalid HelmRelease spec.install.cleanupOnFail
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): drop invalid HelmRelease spec.install.cleanupOnFail (#1182)
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
Labels: area/kubernetes

chore(rook-ceph): remove CSI bandaids now that ceph-csi-drivers owns them — PR 2/2
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/driver-cephfs.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/rbac.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore(rook-ceph): remove CSI bandaids now that ceph-csi-drivers owns them — PR 2/2 (#1183)
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/driver-cephfs.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/rbac.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

feat(observability): scrape etcd, controller-manager and scheduler metrics
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): scrape etcd, controller-manager and scheduler metrics (#1197)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
