Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(scale-csi): alert on driver-native reap telemetry now that v1.10.5 is live
  kubernetes/apps/scale-csi/scale-csi/app/vmrule.yaml
Labels: area/kubernetes

feat(observability): alert on DNS stack backup staleness
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

feat(observability): alert on unfiltered DNS upstream fallback + watchdog liveness
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

perf(nzbget): WriteBuffer 1024 -> 4096
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

perf(nzbget): drop InterDir, download straight to NFS
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

perf(flatcar): bytes-based writeback thresholds for direct-to-NFS writers
  cmd/homeops-cli/internal/templates/flatcar/files/sysctl-99-homeops.conf
Labels: area/homeops-cli

perf(nzbget): Level-0 connections 50 -> 30 each (150 -> 90 total)
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

perf(flatcar): raise NAPI budget for 10G+ softirq drains
  cmd/homeops-cli/internal/templates/flatcar/files/sysctl-99-homeops.conf
Labels: area/homeops-cli

fix(kgateway): pull charts from ghcr.io instead of dead cr.kgateway.dev
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/kgateway/control-plane/ocirepository-crds.yaml
  kubernetes/apps/network/kgateway/control-plane/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(sabnzbd): trial deployment alongside nzbget
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/apps/downloads/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
Labels: area/kubernetes

fix(sabnzbd): accessMode is singular in app-template schema
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): receive_threads=8 in config template
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

perf(sabnzbd): remaining high-speed knobs
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

revert(sabnzbd): remove trial -- nzbget wins the A/B
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/apps/downloads/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
Labels: area/kubernetes

feat(observability): alert tuning for DNS anycast cutover
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(nzbget): Level-0 connections back to 50 each (git now matches live)
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

perf(downloads): move openebs hostpath to the NVMe scratch tier, restore nzbget InterDir
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/pvc.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app/storageclass-nvme.yaml
Labels: area/kubernetes

fix(nzbget): regenerate config from template on every start
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(nzbget): make Reloader watch nzbget-secret explicitly
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

chore(flatcar): drop the retired SATA local-hostpath tier from provisioning
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
Labels: area/homeops-cli

fix(scale-csi): move NVMe-oF primary portal off the MGMT VLAN
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

fix(scale-csi): permit fabric source addresses on new NFS exports
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

fix(scale-csi): move NFS and iSCSI data paths off the MGMT VLAN
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

fix(scale-csi): revert nfs.server to MGMT, strict fencing blocks the fabric
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

perf(nfs): spread nconnect 16 across storage paths
  README.md
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/storage_nics_test.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/characterization_test.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/flatcar/files/nfsmount.conf
  cmd/homeops-cli/internal/templates/flatcar/files/sysctl-99-homeops.conf
  homeops.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/pinchflat/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/docs, area/kubernetes, area/homeops-cli

fix(nzbget): preserve writable config state
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(nzbget): preserve writable config state (#1553)
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): alert on rising SATA/SAS link CRC errors
  kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/observability/smartctl-exporter/app/vmrule.yaml
Labels: area/kubernetes

fix(kgateway): pull envoy-wrapper from ghcr.io instead of cr.kgateway.dev
  kubernetes/apps/network/kgateway/control-plane/gatewayparameters.yaml
Labels: area/kubernetes

fix(kgateway): pull control-plane image from ghcr.io too
  kubernetes/apps/network/kgateway/control-plane/helmrelease.yaml
Labels: area/kubernetes

fix(flatcar): nconnect=1 and a fourth NFS trunk anchor for balanced multipath
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/flatcar/files/nfsmount.conf
  homeops.yaml
Labels: area/homeops-cli

feat(observability): gateway0 app-recognition datapath alerts (apprec-riga P2.1)
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-apprec.yaml
  scripts/alert-tests/apprec/run.sh
  scripts/alert-tests/apprec/tests.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/charts/scale-csi ( 1.10.6 ➔ 1.11.0 )
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/gizmotickler/charts/scale-csi ( 1.10.6 ➔ 1.11.0 )"
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/charts/scale-csi ( 1.10.6 ➔ 1.11.1 )
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(observability): scrape node-exporter on omarchy0/omarchy1
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

fix(scale-csi): restore controller secret access for already-provisioned PVs
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/rbac-controller-secret.yaml
Labels: area/kubernetes

chore(observability): retire the friday3 diagnostics webhook receiver
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(scale-csi): restore controller secret access for already-provisioned PVs (#1619)
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/rbac-controller-secret.yaml
Labels: area/kubernetes

chore(observability): retire the friday3 diagnostics webhook receiver (#1620)
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
