Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.4 ➔ v0.7.5 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.32.0 ➔ v1.32.2 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

fix(container): update image docker.io/getmeili/meilisearch ( v1.32.0 ➔ v1.32.2 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

feat(container): update image ghcr.io/home-operations/tqm ( 1.18.0 ➔ 1.19.0 )
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/tqm ( 1.18.0 ➔ 1.19.0 )
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
Labels: area/kubernetes

feat(flux): add Zot registry as GHCR pull-through cache
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
  kubernetes/apps/system/zot/app/kustomization.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
  kubernetes/apps/system/zot/ks.yaml
Labels: area/kubernetes

feat(flux): add Zot registry as GHCR pull-through cache
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
  kubernetes/apps/system/zot/app/kustomization.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
  kubernetes/apps/system/zot/ks.yaml
Labels: area/kubernetes

feat(flux): add Zot registry as GHCR pull-through cache
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
  kubernetes/apps/system/zot/app/kustomization.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
  kubernetes/apps/system/zot/ks.yaml
Labels: area/kubernetes

feat(zot): expand OCI cache with persistent storage
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
Labels: area/kubernetes

feat(zot): expand OCI cache with persistent storage
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
Labels: area/kubernetes

feat(zot): expand OCI cache with persistent storage
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add tailscale, dns, and gateway probes to blackbox exporter static configuration.
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

feat: Add tailscale, dns, and gateway probes to blackbox exporter static configuration.
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

feat: Add tailscale, dns, and gateway probes to blackbox exporter static configuration.
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

fix(bootstrap): override flux-instance artifact URL for bootstrap
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix(bootstrap): override flux-instance artifact URL for bootstrap
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix(bootstrap): override flux-instance artifact URL for bootstrap
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix(deps): update dependency go ( 1.25.5 ➔ 1.25.6 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(deps): update dependency go ( 1.25.5 ➔ 1.25.6 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(alerts): exclude context deadline exceeded errors
  kubernetes/components/alerts/alertmanager/alert.yaml
Labels: area/kubernetes

fix(alerts): exclude context deadline exceeded errors
  kubernetes/components/alerts/alertmanager/alert.yaml
Labels: area/kubernetes

fix(alerts): exclude context deadline exceeded errors
  kubernetes/components/alerts/alertmanager/alert.yaml
Labels: area/kubernetes

fix(cilium): enable socketLB for pods to fix DSR mode issues
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): enable socketLB for pods to fix DSR mode issues
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(cilium): enable socketLB for pods to fix DSR mode issues
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: Update Cilium BGP peer name and ASN, and format matchExpressions.
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

fix: Update Cilium BGP peer name and ASN, and format matchExpressions.
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

fix: Update Cilium BGP peer name and ASN, and format matchExpressions.
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): disable L2 announcements in favor of BGP
  .claude/settings.local.json
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): disable L2 announcements in favor of BGP
  .claude/settings.local.json
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): disable L2 announcements in favor of BGP
  .claude/settings.local.json
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

chore: Remove airconsole probe target from blackbox-exporter configuration.
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

chore: Remove airconsole probe target from blackbox-exporter configuration.
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

chore: Remove airconsole probe target from blackbox-exporter configuration.
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/bjw-s-labs/helm/app-template ( 4.6.0 ➔ 4.6.2 )
  archive/kubernetes/self-hosted/karakeep/app/ocirepository.yaml
  archive/kubernetes/self-hosted/paperless/app/ocirepository.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/bjw-s-labs/helm/app-template ( 4.6.0 ➔ 4.6.2 )
  archive/kubernetes/self-hosted/karakeep/app/ocirepository.yaml
  archive/kubernetes/self-hosted/paperless/app/ocirepository.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
Labels: area/kubernetes

feat(cilium): re-enable L2 announcements alongside BGP
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): re-enable L2 announcements alongside BGP
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): re-enable L2 announcements alongside BGP
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

feat(cilium): add routed LB pool 192.168.255.0/24 for BGP-only routing
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
