Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(container): update image ghcr.io/recyclarr/recyclarr ( 8.0.1 ➔ 8.1.0 ) (#784)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.72 ➔ 0.0.73 ) (#785)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.72 ➔ 0.0.73 ) (#785)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat(downloads): upgrade qui to v1.14.0 for native automations
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(downloads): upgrade qui to v1.14.0 for native automations
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(downloads): upgrade qui to v1.14.0 for native automations
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(downloads): add NFS media mount to qui for hardlink detection
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(downloads): add NFS media mount to qui for hardlink detection
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(downloads): add NFS media mount to qui for hardlink detection
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

refactor: Archive TQM and Cross-Seed Kubernetes application configurations.
  archive/kubernetes/cross-seed/app/externalsecret.yaml
  archive/kubernetes/cross-seed/app/helmrelease.yaml
  archive/kubernetes/cross-seed/app/kustomization.yaml
  archive/kubernetes/cross-seed/app/ocirepository.yaml
  archive/kubernetes/cross-seed/ks.yaml
  archive/kubernetes/tqm/app/config.sops.yaml
  archive/kubernetes/tqm/app/helmrelease.yaml
  archive/kubernetes/tqm/app/kustomization.yaml
  archive/kubernetes/tqm/app/ocirepository.yaml
  archive/kubernetes/tqm/ks.yaml
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

refactor: Archive TQM and Cross-Seed Kubernetes application configurations.
  archive/kubernetes/cross-seed/app/externalsecret.yaml
  archive/kubernetes/cross-seed/app/helmrelease.yaml
  archive/kubernetes/cross-seed/app/kustomization.yaml
  archive/kubernetes/cross-seed/app/ocirepository.yaml
  archive/kubernetes/cross-seed/ks.yaml
  archive/kubernetes/tqm/app/config.sops.yaml
  archive/kubernetes/tqm/app/helmrelease.yaml
  archive/kubernetes/tqm/app/kustomization.yaml
  archive/kubernetes/tqm/app/ocirepository.yaml
  archive/kubernetes/tqm/ks.yaml
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

refactor: Archive TQM and Cross-Seed Kubernetes application configurations.
  archive/kubernetes/cross-seed/app/externalsecret.yaml
  archive/kubernetes/cross-seed/app/helmrelease.yaml
  archive/kubernetes/cross-seed/app/kustomization.yaml
  archive/kubernetes/cross-seed/app/ocirepository.yaml
  archive/kubernetes/cross-seed/ks.yaml
  archive/kubernetes/tqm/app/config.sops.yaml
  archive/kubernetes/tqm/app/helmrelease.yaml
  archive/kubernetes/tqm/app/kustomization.yaml
  archive/kubernetes/tqm/app/ocirepository.yaml
  archive/kubernetes/tqm/ks.yaml
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr ( 8.1.0 ➔ 8.2.0 ) (#786)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr ( 8.1.0 ➔ 8.2.0 ) (#786)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/actualbudget/actual-server ( 26.2.0 ➔ 26.2.1 ) (#787)
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/actualbudget/actual-server ( 26.2.0 ➔ 26.2.1 ) (#787)
  kubernetes/apps/self-hosted/actual/app/helmrelease.yaml
Labels: area/kubernetes

fix(downloads): use valid Sonarr series folder format for Jellyfin
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

fix(downloads): use valid Sonarr series folder format for Jellyfin
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

fix(downloads): use valid Sonarr series folder format for Jellyfin
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: Replace mgateway2 with mgateway0 in probes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

chore: Replace mgateway2 with mgateway0 in probes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

chore: Replace mgateway2 with mgateway0 in probes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr ( 8.2.0 ➔ 8.2.1 ) (#788)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr ( 8.2.0 ➔ 8.2.1 ) (#788)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v46.1.1 ➔ v46.1.2 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v46.1.1 ➔ v46.1.2 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.26 ➔ 0.11.27 ) (#791)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.26 ➔ 0.11.27 ) (#791)
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.14 ➔ 7.4.15 ) (#790)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.14 ➔ 7.4.15 ) (#790)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/qui ( v1.14.0 ➔ v1.14.1 ) (#789)
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/autobrr/qui ( v1.14.0 ➔ v1.14.1 ) (#789)
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/pocket-id/pocket-id ( v2.2.0 ➔ v2.3.0 ) (#792)
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/pocket-id/pocket-id ( v2.2.0 ➔ v2.3.0 ) (#792)
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.4 ➔ 5.22.0 ) (#793)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.4 ➔ 5.22.0 ) (#793)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(downloads): Deploy NZBGet alongside SABnzbd for A/B testing
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/externalsecret.yaml
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/nzbget/app/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/ocirepository.yaml
  kubernetes/apps/downloads/nzbget/app/securitypolicy.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
Labels: area/kubernetes

feat(downloads): Deploy NZBGet alongside SABnzbd for A/B testing
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/externalsecret.yaml
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/nzbget/app/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/ocirepository.yaml
  kubernetes/apps/downloads/nzbget/app/securitypolicy.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
Labels: area/kubernetes

feat(downloads): Deploy NZBGet alongside SABnzbd for A/B testing
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/externalsecret.yaml
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/nzbget/app/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/ocirepository.yaml
  kubernetes/apps/downloads/nzbget/app/securitypolicy.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
Labels: area/kubernetes

fix(downloads): Unroll init container sed loop to avoid Flux envsubst conflict
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes
