Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(netbox): make DR repeatable (recover+archive to netbox-postgres-v2)
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

feat(system-upgrade): deploy kured for GitOps-managed reboot coordination
  kubernetes/apps/system-upgrade/kured/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/kured/app/kustomization.yaml
  kubernetes/apps/system-upgrade/kured/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/kured/ks.yaml
Labels: area/kubernetes

feat(system-upgrade): deploy kured for GitOps-managed reboot coordination
  kubernetes/apps/system-upgrade/kured/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/kured/app/kustomization.yaml
  kubernetes/apps/system-upgrade/kured/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/kured/ks.yaml
Labels: area/kubernetes

fix(kured): set useRebootSentinelHostPath=false to enable command sentinel
  kubernetes/apps/system-upgrade/kured/app/helmrelease.yaml
Labels: area/kubernetes

fix(kured): set useRebootSentinelHostPath=false to enable command sentinel
  kubernetes/apps/system-upgrade/kured/app/helmrelease.yaml
Labels: area/kubernetes

docs(readme): update for Flatcar Container Linux + kubeadm migration
  README.md
Labels: area/docs

docs(readme): update for Flatcar Container Linux + kubeadm migration
  README.md
Labels: area/docs

fix(homeops-cli): upload Flatcar Ignition to the Proxmox node over SSH
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/constants/constants.go
Labels: area/homeops-cli

fix(homeops-cli): upload Flatcar Ignition to the Proxmox node over SSH
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/constants/constants.go
Labels: area/homeops-cli

feat(system-upgrade): GitOps kubeadm minor-upgrades via system-upgrade-controller
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/README.md
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/kustomization.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/ks.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/controller.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/crd.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

feat(system-upgrade): GitOps kubeadm minor-upgrades via system-upgrade-controller
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/README.md
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/kustomization.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
  kubernetes/apps/system-upgrade/kubeadm-upgrade/ks.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/controller.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/crd.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

fix(flatcar): drop Talos runner talosconfig volume + unsupported pushover ttl
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(flatcar): drop Talos runner talosconfig volume + unsupported pushover ttl
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

docs(readme): remove remaining Talos/tuppr references
  README.md
Labels: area/docs

docs(readme): remove remaining Talos/tuppr references
  README.md
Labels: area/docs

fix(netbox): drop upgrade.force (incompatible with Flux SSA force-conflicts)
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(netbox): drop upgrade.force (incompatible with Flux SSA force-conflicts)
  kubernetes/apps/self-hosted/netbox/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): replace dead Talos badge with Flatcar version
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): replace dead Talos badge with Flatcar version
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

feat(kromgo-proxy): Flatcar badge (logo + label) replacing Talos
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

feat(kromgo-proxy): Flatcar badge (logo + label) replacing Talos
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

fix(homeops-cli): rewire version loader to kubeadm Plan (tuppr→Flatcar), fix shell quoting, update system-upgrade docs
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/flatcar_versions_test.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  kubernetes/apps/system-upgrade/README.md
Labels: area/kubernetes, area/homeops-cli

fix(homeops-cli): rewire version loader to kubeadm Plan (tuppr→Flatcar), fix shell quoting, update system-upgrade docs
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/flatcar_versions_test.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  kubernetes/apps/system-upgrade/README.md
Labels: area/kubernetes, area/homeops-cli

fix(ci): replace talosctl image-pull with kubeadm DaemonSet pre-pull
  .github/workflows/claude.yml
  .github/workflows/image-pull.yaml
Labels: area/github

fix(ci): replace talosctl image-pull with kubeadm DaemonSet pre-pull
  .github/workflows/claude.yml
  .github/workflows/image-pull.yaml
Labels: area/github

fix(homeops-cli): default bootstrap to flatcar provider; surface flatcar in menu
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

fix(homeops-cli): default bootstrap to flatcar provider; surface flatcar in menu
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

docs(agents): reframe AGENTS.md/CLAUDE.md for Flatcar+kubeadm
  AGENTS.md
  CLAUDE.md
Labels: none

docs(agents): reframe AGENTS.md/CLAUDE.md for Flatcar+kubeadm
  AGENTS.md
  CLAUDE.md
Labels: none

docs+chore: document flatcar provider; correct stale Talos refs
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/COMPLETION.md
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/completion/completion.go
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes, area/homeops-cli

docs+chore: document flatcar provider; correct stale Talos refs
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/COMPLETION.md
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/completion/completion.go
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes, area/homeops-cli

docs(kromgo-proxy): Flatcar badge examples (endpoint name retained)
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
Labels: none

docs(kromgo-proxy): Flatcar badge examples (endpoint name retained)
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
Labels: none

docs/chore: remove scale-csi references (driver retired)
  README.md
  archive/components/volsync-iscsi/externalsecret.yaml
  archive/components/volsync-iscsi/kustomization.yaml
  archive/components/volsync-iscsi/pvc.yaml
  archive/components/volsync-iscsi/replicationdestination.yaml
  archive/components/volsync-iscsi/replicationsource.yaml
  archive/components/volsync-scale-csi/externalsecret.yaml
  archive/components/volsync-scale-csi/kustomization.yaml
  archive/components/volsync-scale-csi/pvc.yaml
  archive/components/volsync-scale-csi/replicationdestination.yaml
  archive/components/volsync-scale-csi/replicationsource.yaml
  archive/kubernetes/scale-csi/kustomization.yaml
  archive/kubernetes/scale-csi/namespace.yaml
  archive/kubernetes/scale-csi/scale-csi/app/externalsecret.yaml
  archive/kubernetes/scale-csi/scale-csi/app/grafanadashboard.yaml
  archive/kubernetes/scale-csi/scale-csi/app/helmrelease.yaml
  archive/kubernetes/scale-csi/scale-csi/app/kustomization.yaml
  archive/kubernetes/scale-csi/scale-csi/app/ocirepository.yaml
  archive/kubernetes/scale-csi/scale-csi/app/service.yaml
  archive/kubernetes/scale-csi/scale-csi/app/storageclass-iscsi.yaml
  archive/kubernetes/scale-csi/scale-csi/app/storageclass-nfs.yaml
  archive/kubernetes/scale-csi/scale-csi/app/storageclass-nvmeof.yaml
  archive/kubernetes/scale-csi/scale-csi/app/vmservicescrape.yaml
  archive/kubernetes/scale-csi/scale-csi/app/volumesnapshotclass.yaml
  archive/kubernetes/scale-csi/scale-csi/ks.yaml
  cmd/homeops-cli/docs/CODE_REVIEW.md
Labels: area/docs, area/homeops-cli

docs/chore: remove scale-csi references (driver retired)
  README.md
  archive/components/volsync-iscsi/externalsecret.yaml
  archive/components/volsync-iscsi/kustomization.yaml
  archive/components/volsync-iscsi/pvc.yaml
  archive/components/volsync-iscsi/replicationdestination.yaml
  archive/components/volsync-iscsi/replicationsource.yaml
  archive/components/volsync-scale-csi/externalsecret.yaml
  archive/components/volsync-scale-csi/kustomization.yaml
  archive/components/volsync-scale-csi/pvc.yaml
  archive/components/volsync-scale-csi/replicationdestination.yaml
  archive/components/volsync-scale-csi/replicationsource.yaml
  archive/kubernetes/scale-csi/kustomization.yaml
  archive/kubernetes/scale-csi/namespace.yaml
  archive/kubernetes/scale-csi/scale-csi/app/externalsecret.yaml
  archive/kubernetes/scale-csi/scale-csi/app/grafanadashboard.yaml
  archive/kubernetes/scale-csi/scale-csi/app/helmrelease.yaml
  archive/kubernetes/scale-csi/scale-csi/app/kustomization.yaml
  archive/kubernetes/scale-csi/scale-csi/app/ocirepository.yaml
  archive/kubernetes/scale-csi/scale-csi/app/service.yaml
  archive/kubernetes/scale-csi/scale-csi/app/storageclass-iscsi.yaml
  archive/kubernetes/scale-csi/scale-csi/app/storageclass-nfs.yaml
  archive/kubernetes/scale-csi/scale-csi/app/storageclass-nvmeof.yaml
  archive/kubernetes/scale-csi/scale-csi/app/vmservicescrape.yaml
  archive/kubernetes/scale-csi/scale-csi/app/volumesnapshotclass.yaml
  archive/kubernetes/scale-csi/scale-csi/ks.yaml
  cmd/homeops-cli/docs/CODE_REVIEW.md
Labels: area/docs, area/homeops-cli

chore(flatcar): drop dead nvme_tcp from modules-load template
  cmd/homeops-cli/internal/templates/flatcar/files/modules-load-homeops.conf
Labels: area/homeops-cli
