Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.23 ➔ 0.11.24 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.23 ➔ 0.11.24 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image mirror.gcr.io/coredns/coredns ( 1.13.2 ➔ 1.14.0 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image mirror.gcr.io/coredns/coredns ( 1.13.2 ➔ 1.14.0 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(node-exporter): enable scrape for gateway metrics
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

chore(node-exporter): enable scrape for gateway metrics
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

chore(node-exporter): enable scrape for gateway metrics
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/pocket-id/pocket-id ( v2.1.0 ➔ v2.2.0 )
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/pocket-id/pocket-id ( v2.1.0 ➔ v2.2.0 )
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

chore(blackbox): remove retired probes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

chore(blackbox): remove retired probes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

chore(blackbox): remove retired probes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

feat(network): migrate external-dns from pihole to technitium rfc-2136
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/pihole-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/externalsecret.yaml
  kubernetes/apps/network/technitium-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/kustomization.yaml
  kubernetes/apps/network/technitium-dns/app/ocirepository.yaml
  kubernetes/apps/network/technitium-dns/ks.yaml
Labels: area/kubernetes

feat(network): migrate external-dns from pihole to technitium rfc-2136
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/pihole-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/externalsecret.yaml
  kubernetes/apps/network/technitium-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/kustomization.yaml
  kubernetes/apps/network/technitium-dns/app/ocirepository.yaml
  kubernetes/apps/network/technitium-dns/ks.yaml
Labels: area/kubernetes

feat(network): migrate external-dns from pihole to technitium rfc-2136
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/pihole-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/externalsecret.yaml
  kubernetes/apps/network/technitium-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/kustomization.yaml
  kubernetes/apps/network/technitium-dns/app/ocirepository.yaml
  kubernetes/apps/network/technitium-dns/ks.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.2.3 ➔ v44.2.4 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.2.3 ➔ v44.2.4 )
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image docker.io/getmeili/meilisearch ( v1.31.0 ➔ v1.32.0 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

feat(container): update image docker.io/getmeili/meilisearch ( v1.31.0 ➔ v1.32.0 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

fix(helm): update chart netdata ( 3.7.157 ➔ 3.7.158 )
  archive/kubernetes/observability/netdata/app/helmrelease.yaml
Labels: none

fix(helm): update chart netdata ( 3.7.157 ➔ 3.7.158 )
  archive/kubernetes/observability/netdata/app/helmrelease.yaml
Labels: none

feat(container): update image ghcr.io/atuinsh/atuin ( v18.10.0 ➔ v18.11.0 )
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/atuinsh/atuin ( v18.10.0 ➔ v18.11.0 )
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.6.1 ➔ v1.6.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( v1.6.1 ➔ v1.6.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/cilium ( 1.18.5 ➔ 1.18.6 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/cilium ( 1.18.5 ➔ 1.18.6 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.3 ➔ 2.20.4 )
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.3 ➔ 2.20.4 )
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
Labels: none

fix(gatus): use internal DNS for connectivity checker
  .claude/settings.local.json
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/observability/gatus/app/configmap.yaml
Labels: area/kubernetes

fix(gatus): use internal DNS for connectivity checker
  .claude/settings.local.json
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/observability/gatus/app/configmap.yaml
Labels: area/kubernetes

fix(gatus): use internal DNS for connectivity checker
  .claude/settings.local.json
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/observability/gatus/app/configmap.yaml
Labels: area/kubernetes

ci(github-action): update action actions/setup-node ( v6.1.0 ➔ v6.2.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/setup-node ( v6.1.0 ➔ v6.2.0 )
  .github/workflows/schemas.yaml
Labels: area/github

config: Update Talos node NTP server configurations and allow `ping` command in Claude settings.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

config: Update Talos node NTP server configurations and allow `ping` command in Claude settings.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

config: Update Talos node NTP server configurations and allow `ping` command in Claude settings.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(container): update image ghcr.io/kashalls/external-dns-unifi-webhook ( v0.8.0 ➔ v0.8.1 )
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/external-dns-unifi-webhook ( v0.8.0 ➔ v0.8.1 )
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.4 ➔ v0.7.5 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes
