Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

revert: move fusion back to default namespace - VolSync uses app@namespace identity
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/kubernetes

revert: move fusion back to default namespace - VolSync uses app@namespace identity
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/kubernetes

feat(homeops-cli): enhance deploy-vm with 3-node default pattern and clean up SR-IOV references
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go.bak
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos.go.bak2
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  cmd/homeops-cli/main.go
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/homeops-cli

feat(homeops-cli): enhance deploy-vm with 3-node default pattern and clean up SR-IOV references
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go.bak
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos.go.bak2
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  cmd/homeops-cli/main.go
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/homeops-cli

feat(homeops-cli): enhance deploy-vm with 3-node default pattern and clean up SR-IOV references
  cmd/homeops-cli/Makefile
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go.bak
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
  cmd/homeops-cli/cmd/talos/talos.go.bak2
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/cmd/workstation/workstation.go
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/template/gotemplate.go
  cmd/homeops-cli/internal/ui/prompts.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  cmd/homeops-cli/main.go
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/grafana/helm-charts/loki ( 6.41.1 ➔ 6.42.0 ) (#326)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/loki ( 6.41.1 ➔ 6.42.0 ) (#326)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.114.0 ➔ 1.114.2 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.114.0 ➔ 1.114.2 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/actualbudget/actual-server ( 25.9.0 ➔ 25.10.0 )
  kubernetes/apps/default/actual/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/actualbudget/actual-server ( 25.9.0 ➔ 25.10.0 )
  kubernetes/apps/default/actual/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.12.0 ➔ 77.12.1 ) (#328)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.12.0 ➔ 77.12.1 ) (#328)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update rook-ceph group ( v1.18.2 ➔ v1.18.3 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.2 ➔ v1.18.3 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

refactor(brew): remove mise from Brewfile template
  cmd/homeops-cli/internal/templates/brew/Brewfile
Labels: area/homeops-cli

refactor(brew): remove mise from Brewfile template
  cmd/homeops-cli/internal/templates/brew/Brewfile
Labels: area/homeops-cli

refactor(brew): remove mise from Brewfile template
  cmd/homeops-cli/internal/templates/brew/Brewfile
Labels: area/homeops-cli

ci(github-action): update action astral-sh/setup-uv ( v6.7.0 ➔ v6.8.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v6.7.0 ➔ v6.8.0 )
  .github/workflows/schemas.yaml
Labels: area/github

Update ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

Update ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.12.1 ➔ 77.13.0 ) (#331)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.12.1 ➔ 77.13.0 ) (#331)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 0.20.1 ➔ 0.20.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/external-secrets/charts/external-secrets ( 0.20.1 ➔ 0.20.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/coredns/charts/coredns ( 1.43.3 ➔ 1.44.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/coredns/charts/coredns ( 1.43.3 ➔ 1.44.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(rook-ceph): add missing cephVersion.image to cluster config
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): add missing cephVersion.image to cluster config
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): add missing cephVersion.image to cluster config
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: update rook-ceph and rook-ceph-cluster to v1.18.3
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

chore: update rook-ceph and rook-ceph-cluster to v1.18.3
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

chore: update rook-ceph and rook-ceph-cluster to v1.18.3
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(rook-ceph): remove duplicate cephVersion from cluster config for v1.18.3
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): remove duplicate cephVersion from cluster config for v1.18.3
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
