Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

refactor(talos): unify template rendering and improve config handling
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/renderer.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

refactor(talos): unify template rendering and improve config handling
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/renderer.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat(talos): add cleanup command for orphaned ZVols and improve VM deletion logging
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
Labels: area/homeops-cli

feat(talos): add cleanup command for orphaned ZVols and improve VM deletion logging
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
Labels: area/homeops-cli

feat(bootstrap): add etcd validation after talos bootstrap
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

feat(bootstrap): add etcd validation after talos bootstrap
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
Labels: area/homeops-cli

refactor(talos): update cluster name from 'main' to 'home-ops-cluster'
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

refactor(talos): update cluster name from 'main' to 'home-ops-cluster'
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

fix: update gateway IP addresses and subnet configurations across multiple YAML files
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/default/actual/ks.yaml
  kubernetes/apps/default/atuin/app/gateway.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/fusion/app/gateway.yaml
  kubernetes/apps/default/it-tools/ks.yaml
  kubernetes/apps/default/jellyseerr/app/gateway.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/default/n8n/ks.yaml
  kubernetes/apps/default/ocis/ks.yaml
  kubernetes/apps/default/pinchflat/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/webhook/ks.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/volsync-system/kopia/ks.yaml
  kubernetes/components/gateway/README.md
Labels: area/kubernetes, area/homeops-cli

fix: update gateway IP addresses and subnet configurations across multiple YAML files
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/default/actual/ks.yaml
  kubernetes/apps/default/atuin/app/gateway.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/fusion/app/gateway.yaml
  kubernetes/apps/default/it-tools/ks.yaml
  kubernetes/apps/default/jellyseerr/app/gateway.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/default/n8n/ks.yaml
  kubernetes/apps/default/ocis/ks.yaml
  kubernetes/apps/default/pinchflat/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/webhook/ks.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/volsync-system/kopia/ks.yaml
  kubernetes/components/gateway/README.md
Labels: area/kubernetes, area/homeops-cli

fix(network): correct gateway IP addresses from 192.169 to 192.168
  .gitignore
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/default/actual/ks.yaml
  kubernetes/apps/default/atuin/app/gateway.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/fusion/app/gateway.yaml
  kubernetes/apps/default/it-tools/ks.yaml
  kubernetes/apps/default/jellyseerr/app/gateway.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/default/n8n/ks.yaml
  kubernetes/apps/default/ocis/ks.yaml
  kubernetes/apps/default/pinchflat/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/webhook/ks.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/volsync-system/kopia/ks.yaml
  kubernetes/components/gateway/README.md
Labels: area/kubernetes, area/homeops-cli

fix(network): correct gateway IP addresses from 192.169 to 192.168
  .gitignore
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/default/actual/ks.yaml
  kubernetes/apps/default/atuin/app/gateway.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/fusion/app/gateway.yaml
  kubernetes/apps/default/it-tools/ks.yaml
  kubernetes/apps/default/jellyseerr/app/gateway.yaml
  kubernetes/apps/default/karakeep/ks.yaml
  kubernetes/apps/default/n8n/ks.yaml
  kubernetes/apps/default/ocis/ks.yaml
  kubernetes/apps/default/pinchflat/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/webhook/ks.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gateway.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/volsync-system/kopia/ks.yaml
  kubernetes/components/gateway/README.md
Labels: area/kubernetes, area/homeops-cli

fix(rook-ceph): correct health check HelmRelease name from rook-ceph-operator to rook-ceph
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): correct health check HelmRelease name from rook-ceph-operator to rook-ceph
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

feat(bootstrap): enhance configuration handling and add CRDs/apps helmfiles
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/values.yaml.gotmpl
Labels: area/bootstrap, area/homeops-cli

feat(bootstrap): enhance configuration handling and add CRDs/apps helmfiles
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/values.yaml.gotmpl
Labels: area/bootstrap, area/homeops-cli

feat(cilium): add BGP advertisement and peer configuration
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

feat(cilium): add BGP advertisement and peer configuration
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.3.0 ➔ 11.3.1 ) (#183)
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/sabnzbd ( 4.5.2 ➔ 4.5.3 ) (#187)
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.3.4 ➔ 9.3.5 ) (#186)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.108.1 ➔ 1.109.0 ) (#185)
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.0 ➔ 2.2.2 ) (#184)
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.18.0 ➔ v1.19.0 ) (#182)
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 5.27.4.10176 ➔ 5.27.5.10184 ) (#181)
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.0.3.5130 ➔ 2.0.5.5160 ) (#180)
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 76.5.1 → 77.0.0 ) (#179)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Refactor bootstrap tests for improved readability and consistency
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/templates/renderer.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  kubernetes/apps/system/generic-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix/refactor bootstarp, template rendering and secret injection (#188)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/templates/renderer.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  kubernetes/apps/system/generic-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix/refactor bootstarp, template rendering and secret injection (#188)
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_test.go
  cmd/homeops-cli/cmd/bootstrap/config_rendering_test.go
  cmd/homeops-cli/cmd/bootstrap/integration_test.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/templates/renderer.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/templates.go
  cmd/homeops-cli/internal/truenas/client.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  kubernetes/apps/system/generic-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.0.0 ➔ 77.0.1 ) (#189)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(secret): update tqm-secret configuration and encryption details
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

fix(secret): update tqm-secret configuration and encryption details
  kubernetes/apps/default/tqm/app/config.sops.yaml
Labels: area/kubernetes

fix(talos): add time server configuration to node YAML files
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): add time server configuration to node YAML files
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.3.5 ➔ 9.3.6 ) (#191)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): remove WatchdogTimerConfig from node YAML files
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(talos): remove WatchdogTimerConfig from node YAML files
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

Chore update the talos matchpackgeNames to align with the renovate datasource
  .renovate/groups.json5
Labels: area/renovate

Chore update the talos matchpackgeNames to align with the renovate datasource
  .renovate/groups.json5
Labels: area/renovate
