Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat: enable Autobrr OIDC built-in login
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable Autobrr OIDC built-in login
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/coredns/coredns ( 1.13.1 ➔ 1.13.2 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image mirror.gcr.io/coredns/coredns ( 1.13.1 ➔ 1.13.2 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update talos group ( v1.11.5 ➔ v1.11.6 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.11.5 ➔ v1.11.6 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action astral-sh/setup-uv ( v7.1.5 ➔ v7.1.6 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.5 ➔ v7.1.6 )
  .github/workflows/schemas.yaml
Labels: area/github

feat(container): update image ghcr.io/spegel-org/helm-charts/spegel ( 0.5.1 ➔ 0.6.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/spegel-org/helm-charts/spegel ( 0.5.1 ➔ 0.6.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat: Add bootstrap timing constants, use constants for environment variables, and wait for Flux initial reconciliation during bootstrap.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/ui/prompts.go
Labels: area/homeops-cli

feat: Add bootstrap timing constants, use constants for environment variables, and wait for Flux initial reconciliation during bootstrap.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/ui/prompts.go
Labels: area/homeops-cli

feat: Add bootstrap timing constants, use constants for environment variables, and wait for Flux initial reconciliation during bootstrap.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/logger.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/ui/prompts.go
Labels: area/homeops-cli

feat(observability): add Netdata monitoring with cloud claiming
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/netdata/app/externalsecret.yaml
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
  kubernetes/apps/observability/netdata/app/helmrepository.yaml
  kubernetes/apps/observability/netdata/app/httproute.yaml
  kubernetes/apps/observability/netdata/app/kustomization.yaml
  kubernetes/apps/observability/netdata/ks.yaml
Labels: area/kubernetes

feat(observability): add Netdata monitoring with cloud claiming
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/netdata/app/externalsecret.yaml
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
  kubernetes/apps/observability/netdata/app/helmrepository.yaml
  kubernetes/apps/observability/netdata/app/httproute.yaml
  kubernetes/apps/observability/netdata/app/kustomization.yaml
  kubernetes/apps/observability/netdata/ks.yaml
Labels: area/kubernetes

feat(observability): add Netdata monitoring with cloud claiming
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/netdata/app/externalsecret.yaml
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
  kubernetes/apps/observability/netdata/app/helmrepository.yaml
  kubernetes/apps/observability/netdata/app/httproute.yaml
  kubernetes/apps/observability/netdata/app/kustomization.yaml
  kubernetes/apps/observability/netdata/ks.yaml
Labels: area/kubernetes

feat(helm): update chart vector ( 0.48.0 ➔ 0.49.0 )
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector ( 0.48.0 ➔ 0.49.0 )
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase memory limits to prevent OOMKilled
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase memory limits to prevent OOMKilled
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase memory limits to prevent OOMKilled
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(netdata): increase k8s-state memory limit to 512Mi
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase k8s-state memory limit to 512Mi
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase k8s-state memory limit to 512Mi
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase parent memory to 1Gi to prevent OOM
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase parent memory to 1Gi to prevent OOM
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase parent memory to 1Gi to prevent OOM
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase all components memory limit to 2Gi
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase all components memory limit to 2Gi
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase all components memory limit to 2Gi
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase child/k8s-state CPU limit to 1000m
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase child/k8s-state CPU limit to 1000m
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

fix(netdata): increase child/k8s-state CPU limit to 1000m
  kubernetes/apps/observability/netdata/app/helmrelease.yaml
Labels: area/kubernetes

feat(kromgo): add new cluster metrics and reduce badge cache time
  README.md
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs, area/kubernetes

feat(kromgo): add new cluster metrics and reduce badge cache time
  README.md
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs, area/kubernetes

feat(kromgo): add new cluster metrics and reduce badge cache time
  README.md
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/docs, area/kubernetes

fix(kromgo): use flux_resource_info metric for helmrelease/failing counts
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): use flux_resource_info metric for helmrelease/failing counts
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
