Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(flux-operator): disable IPv6 via sysctl to fix ghcr.io connectivity
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): disable IPv6 via sysctl to fix ghcr.io connectivity
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.18 ➔ 0.11.19 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.18 ➔ 0.11.19 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

revert: remove sysctl config that was blocked by kubelet
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

revert: remove sysctl config that was blocked by kubelet
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

revert: remove sysctl config that was blocked by kubelet
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): disable IPv6 at kernel level to fix ghcr.io connectivity
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

fix(talos): disable IPv6 at kernel level to fix ghcr.io connectivity
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

fix(talos): disable IPv6 at kernel level to fix ghcr.io connectivity
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

fix(coredns): filter AAAA records to prevent IPv6 connection failures
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(coredns): filter AAAA records to prevent IPv6 connection failures
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(coredns): filter AAAA records to prevent IPv6 connection failures
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.2 ➔ 5.21.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.2 ➔ 5.21.3 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.2 ➔ 2.20.3 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.2 ➔ 2.20.3 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.30.0 ➔ v1.30.1 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.30.0 ➔ v1.30.1 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): re-add GODEBUG=netdns=go for IPv4 preference
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): re-add GODEBUG=netdns=go for IPv4 preference
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): re-add GODEBUG=netdns=go for IPv4 preference
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.10.0 ➔ v1.11.0 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.10.0 ➔ v1.11.0 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.1.1 ➔ 1.2.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.1.1 ➔ 1.2.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.47 ➔ 0.0.48 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.47 ➔ 0.0.48 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(flux-operator): reduce artifact fetch frequency to avoid timeout alerts
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): reduce artifact fetch frequency to avoid timeout alerts
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux-operator): reduce artifact fetch frequency to avoid timeout alerts
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.19 ➔ 0.11.20 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.19 ➔ 0.11.20 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/webhook ( 22bcdc2 ➔ 3b3015d ) (#612)
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/home-operations/webhook ( 22bcdc2 ➔ 3b3015d ) (#612)
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.2.0 ➔ v44.2.1 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.2.0 ➔ v44.2.1 )
  .github/workflows/renovate.yaml
Labels: area/github

chore: Pin flux-operator-manifests OCI artifact with SHA256 digest and allow `docker manifest inspect` commands.
  .claude/settings.local.json
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes
