Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

ci(github-action): update action renovatebot/github-action ( v44.2.2 ➔ v44.2.3 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.2.2 ➔ v44.2.3 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update talos group ( v1.12.0 ➔ v1.12.1 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.12.0 ➔ v1.12.1 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(rook-ceph): remove broken diskprediction_local module
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): remove broken diskprediction_local module
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): remove broken diskprediction_local module
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.66.1 ➔ 0.67.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.66.1 ➔ 0.67.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.3 ➔ 5.21.4 ) (#652)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( 5.21.3 ➔ 5.21.4 ) (#652)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts-mirror/fluent-bit ( 0.54.0 ➔ 0.54.1 )
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/fluent-bit ( 0.54.0 ➔ 0.54.1 )
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.3.1.5238 ➔ 2.3.2.5245 )
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.3.1.5238 ➔ 2.3.2.5245 )
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.1.0.10309 ➔ 6.1.1.10317 )
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.1.0.10309 ➔ 6.1.1.10317 )
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/bjw-s-labs/helm/app-template ( 4.5.0 ➔ 4.6.0 )
  archive/kubernetes/self-hosted/karakeep/app/ocirepository.yaml
  archive/kubernetes/self-hosted/paperless/app/ocirepository.yaml
  kubernetes/apps/auth/pocket-id/app/ocirepository.yaml
  kubernetes/apps/automation/n8n/app/ocirepository.yaml
  kubernetes/apps/downloads/autobrr/app/ocirepository.yaml
  kubernetes/apps/downloads/bazarr/app/ocirepository.yaml
  kubernetes/apps/downloads/cross-seed/app/ocirepository.yaml
  kubernetes/apps/downloads/nzbget/app/ocirepository.yaml
  kubernetes/apps/downloads/pinchflat/app/ocirepository.yaml
  kubernetes/apps/downloads/prowlarr/app/ocirepository.yaml
  kubernetes/apps/downloads/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/downloads/qui/app/ocirepository.yaml
  kubernetes/apps/downloads/radarr/app/ocirepository.yaml
  kubernetes/apps/downloads/recyclarr/app/ocirepository.yaml
  kubernetes/apps/downloads/sonarr/app/ocirepository.yaml
  kubernetes/apps/downloads/tqm/app/ocirepository.yaml
  kubernetes/apps/media/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/ocirepository.yaml
  kubernetes/apps/network/echo/app/ocirepository.yaml
  kubernetes/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/apps/observability/kromgo/app/ocirepository.yaml
  kubernetes/apps/self-hosted/actual/app/ocirepository.yaml
  kubernetes/apps/self-hosted/atuin/app/ocirepository.yaml
  kubernetes/apps/self-hosted/freshrss/app/ocirepository.yaml
  kubernetes/apps/self-hosted/it-tools/app/ocirepository.yaml
  kubernetes/apps/self-hosted/webhook/app/ocirepository.yaml
  kubernetes/apps/system/generic-device-plugin/app/ocirepository.yaml
  kubernetes/apps/volsync-system/kopia/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/bjw-s-labs/helm/app-template ( 4.5.0 ➔ 4.6.0 )
  archive/kubernetes/self-hosted/karakeep/app/ocirepository.yaml
  archive/kubernetes/self-hosted/paperless/app/ocirepository.yaml
  kubernetes/apps/auth/pocket-id/app/ocirepository.yaml
  kubernetes/apps/automation/n8n/app/ocirepository.yaml
  kubernetes/apps/downloads/autobrr/app/ocirepository.yaml
  kubernetes/apps/downloads/bazarr/app/ocirepository.yaml
  kubernetes/apps/downloads/cross-seed/app/ocirepository.yaml
  kubernetes/apps/downloads/nzbget/app/ocirepository.yaml
  kubernetes/apps/downloads/pinchflat/app/ocirepository.yaml
  kubernetes/apps/downloads/prowlarr/app/ocirepository.yaml
  kubernetes/apps/downloads/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/downloads/qui/app/ocirepository.yaml
  kubernetes/apps/downloads/radarr/app/ocirepository.yaml
  kubernetes/apps/downloads/recyclarr/app/ocirepository.yaml
  kubernetes/apps/downloads/sonarr/app/ocirepository.yaml
  kubernetes/apps/downloads/tqm/app/ocirepository.yaml
  kubernetes/apps/media/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/ocirepository.yaml
  kubernetes/apps/network/echo/app/ocirepository.yaml
  kubernetes/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/apps/observability/kromgo/app/ocirepository.yaml
  kubernetes/apps/self-hosted/actual/app/ocirepository.yaml
  kubernetes/apps/self-hosted/atuin/app/ocirepository.yaml
  kubernetes/apps/self-hosted/freshrss/app/ocirepository.yaml
  kubernetes/apps/self-hosted/it-tools/app/ocirepository.yaml
  kubernetes/apps/self-hosted/webhook/app/ocirepository.yaml
  kubernetes/apps/system/generic-device-plugin/app/ocirepository.yaml
  kubernetes/apps/volsync-system/kopia/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.15 ➔ 0.18.2 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.17.15 ➔ 0.18.2 )
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

fix(rook-ceph): tune bdev_stalled_read_warn_threshold for VM storage
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): tune bdev_stalled_read_warn_threshold for VM storage
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): tune bdev_stalled_read_warn_threshold for VM storage
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/perfectra1n/volsync ( v0.16.13 ➔ 0.17.6 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/perfectra1n/volsync ( v0.16.13 ➔ 0.17.6 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.2.26 ➔ 7.3.0 )
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.2.26 ➔ 7.3.0 )
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image curlimages/curl ( 8.17.0 ➔ 8.18.0 )
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

feat(container): update image curlimages/curl ( 8.17.0 ➔ 8.18.0 )
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.6.1 ➔ 11.7.0 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.6.1 ➔ 11.7.0 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

ci(github-action): update action astral-sh/setup-uv ( v7.1.6 ➔ v7.2.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.6 ➔ v7.2.0 )
  .github/workflows/schemas.yaml
Labels: area/github

feat(container)!: Update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 25.0.1 ➔ 26.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 25.0.1 ➔ 26.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.330.0 ➔ 2.331.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/actions-runner ( 2.330.0 ➔ 2.331.0 )
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/mendhak/http-https-echo ( 38 ➔ 39 )
  kubernetes/apps/network/echo/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/mendhak/http-https-echo ( 38 ➔ 39 )
  kubernetes/apps/network/echo/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
