Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(observability): enable kube-prometheus-stack and loki resources
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat(observability): enable kube-prometheus-stack and loki resources
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat(grafana): add ceph dashboards for cluster, osd and pools monitoring
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): add ceph dashboards for cluster, osd and pools monitoring
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

refactor(kubernetes): uncomment and enable multiple app resources in kustomization
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): uncomment and enable multiple app resources in kustomization
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(talos): add mtu configuration to node network interfaces
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(talos): add mtu configuration to node network interfaces
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.5.0 ➔ 77.6.0 ) (#248)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/grafana/helm-charts/loki ( 6.39.0 ➔ 6.40.0 ) (#249)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

chore: update talos version from v1.11.0 to v1.11.1
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, area/homeops-cli

chore: update talos version from v1.11.0 to v1.11.1
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 9.4.4 ➔ 9.4.5 ) (#252)
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.65.0 ➔ v1.66.1 ) (#237)
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/prowlarr ( 2.0.5.5160 ➔ 2.1.0.5180 ) (#238)
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/radarr ( 5.27.5.10198 ➔ 5.28.0.10205 ) (#239)
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.19.1 ➔ v1.20.0 ) (#242)
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/karakeep-app/karakeep ( 0.26.0 ➔ 0.27.0 ) (#240)
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/external-dns ( 1.18.0 ➔ 1.19.0 ) (#243)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/apps/network/unifi-dns/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/n8n-io/n8n ( 1.110.1 ➔ 1.111.0 ) (#244)
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps): update module github.com/spf13/viper ( v1.20.1 ➔ v1.21.0 ) (#246)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(container): update image ghcr.io/cross-seed/cross-seed ( 6.13.2 ➔ 6.13.3 ) (#247)
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update kubernetes group ( v1.34.0 ➔ v1.34.1 ) (#250)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.6.0 ➔ 77.6.1 ) (#253)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update rook-ceph group ( v1.18.1 ➔ v1.18.2 ) (#251)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

ci(github-action): update action actions/create-github-app-token ( v2.1.1 ➔ v2.1.2 )
  .github/workflows/flux-local.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
Labels: area/github

fix(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.6.1 ➔ 77.6.2 ) (#254)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action actions/create-github-app-token ( v2.1.2 ➔ v2.1.4 )
  .github/workflows/flux-local.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
Labels: area/github

feat(container): update image registry.k8s.io/git-sync/git-sync ( v4.4.3 ➔ v4.5.0 ) (#255)
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): increase network buffer sizes for 10Gbps NFS
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat(talos): increase network buffer sizes for 10Gbps NFS
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat(talos): add watchdog timer config to node templates
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(talos): add watchdog timer config to node templates
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(secrets): improve secret injection with caching and error handling
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/template/renderer.go
Labels: area/homeops-cli

fix(secrets): improve secret injection with caching and error handling
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/template/renderer.go
Labels: area/homeops-cli

build: update Go module dependencies
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

build: update Go module dependencies
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(rook-ceph): disable bdev discard options for stability
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): disable bdev discard options for stability
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): disable block discards for compatibility
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/common/opauth.go
  cmd/homeops-cli/internal/common/secrets.go
  cmd/homeops-cli/internal/template/renderer.go
Labels: area/homeops-cli

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
