Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

ci(github-action): update action renovatebot/github-action ( v43.0.14 ➔ v43.0.15 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v43.0.14 ➔ v43.0.15 )
  .github/workflows/renovate.yaml
Labels: area/github

chore: Refactor Kustomization patches for child defaults
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

chore: Refactor Kustomization patches for child defaults
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

chore: Refactor Kustomization patches for child defaults
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

Chore: Switch envoy-gateway chart source to mirror.gcr.io
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

Chore: Switch envoy-gateway chart source to mirror.gcr.io
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

Chore: Switch envoy-gateway chart source to mirror.gcr.io
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( 1.5.1 ➔ 1.5.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image mirror.gcr.io/envoyproxy/gateway-helm ( 1.5.1 ➔ 1.5.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/n8n-io/n8n ( 1.114.2 ➔ 1.115.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.114.2 ➔ 1.115.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/prompp/prompp ( 0.5.1 ➔ 0.5.2 )
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/prompp/prompp ( 0.5.1 ➔ 0.5.2 )
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.2 ➔ v1.18.4 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.2 ➔ v1.18.4 )
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.2.0 ➔ v1.3.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.2.0 ➔ v1.3.0 )
  kubernetes/apps/default/qui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.0.1.10258 ➔ 6.0.2.10271 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.0.1.10258 ➔ 6.0.2.10271 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.1 ➔ v0.7.2 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/kromgo ( v0.7.1 ➔ v0.7.2 )
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): Update Flux charts and manifests to version 0.31.0
  .vscode/settings.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): Update Flux charts and manifests to version 0.31.0
  .vscode/settings.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): Update Flux charts and manifests to version 0.31.0
  .vscode/settings.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

Chore: Add OCI dependency regex manager and update flux group
  .renovate/customManagers.json5
  .renovate/groups.json5
Labels: area/renovate

Chore: Add OCI dependency regex manager and update flux group
  .renovate/customManagers.json5
  .renovate/groups.json5
Labels: area/renovate

Chore: Add OCI dependency regex manager and update flux group
  .renovate/customManagers.json5
  .renovate/groups.json5
Labels: area/renovate

fix(container): update talos group ( v1.11.1 ➔ v1.11.2 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/homeops-cli

fix(container): update talos group ( v1.11.1 ➔ v1.11.2 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/homeops-cli

Chore: Update badge versions in README.md
  README.md
Labels: area/docs

Chore: Update badge versions in README.md
  README.md
Labels: area/docs

Chore: Update badge versions in README.md
  README.md
Labels: area/docs

feat(container): update kubernetes group ( v1.34.0 ➔ v1.34.1 )
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/homeops-cli

feat(container): update kubernetes group ( v1.34.0 ➔ v1.34.1 )
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/homeops-cli

fix(container): update image docker.io/getmeili/meilisearch ( v1.22.2 ➔ v1.22.3 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.22.2 ➔ v1.22.3 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-release): update release python ( 3.13.7 ➔ 3.14.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-release): update release python ( 3.13.7 ➔ 3.14.0 )
  .github/workflows/schemas.yaml
Labels: area/github

feat: Add Gatus for service monitoring
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes
