Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

chore(it-tools): reduce resource requests to test flux-reconcile workflow
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
Labels: area/kubernetes

chore(it-tools): reduce resource requests to test flux-reconcile workflow
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
Labels: area/kubernetes

feat(ci): add targeted rollout and restart checks to flux-reconcile
  .github/workflows/flux-reconcile.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat(ci): add targeted rollout and restart checks to flux-reconcile
  .github/workflows/flux-reconcile.yaml
  kubernetes/apps/self-hosted/it-tools/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(ci): replace deprecated azure/setup-kubectl with direct curl install
  .github/workflows/flux-reconcile.yaml
  .github/workflows/schemas.yaml
Labels: area/github

fix(ci): replace deprecated azure/setup-kubectl with direct curl install
  .github/workflows/flux-reconcile.yaml
  .github/workflows/schemas.yaml
Labels: area/github

fix(ci): install kubectl to user-writable path on self-hosted runner
  .github/workflows/flux-reconcile.yaml
  .github/workflows/schemas.yaml
Labels: area/github

fix(ci): install kubectl to user-writable path on self-hosted runner
  .github/workflows/flux-reconcile.yaml
  .github/workflows/schemas.yaml
Labels: area/github

fix(ci): pin fluxcd/flux2/action to v2.8.3 digest
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(ci): pin fluxcd/flux2/action to v2.8.3 digest
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(renovate): add GITHUB_COM_TOKEN for public repo changelog lookups
  .github/workflows/renovate.yaml
Labels: area/github

fix(renovate): add GITHUB_COM_TOKEN for public repo changelog lookups
  .github/workflows/renovate.yaml
Labels: area/github

feat(observability): consolidate to native VictoriaMetrics stack
  kubernetes/apps/observability/fluent-bit/app/grafanadashboard.yaml
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
  kubernetes/apps/observability/vector-syslog/app/helmrepository.yaml
  kubernetes/apps/observability/vector-syslog/app/service-metrics.yaml
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
  kubernetes/apps/observability/vector-syslog/app/vmservicescrape.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs-collector/ks.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/syslog-service.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/stream-aggr-config.yaml
  kubernetes/apps/observability/vmauth/app/externalsecret.yaml
  kubernetes/apps/observability/vmauth/app/httproute.yaml
  kubernetes/apps/observability/vmauth/app/kustomization.yaml
  kubernetes/apps/observability/vmauth/app/securitypolicy.yaml
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
  kubernetes/apps/observability/vmauth/ks.yaml
  kubernetes/apps/observability/vmbackup/app/cronjob.yaml
  kubernetes/apps/observability/vmbackup/app/kustomization.yaml
  kubernetes/apps/observability/vmbackup/app/pvc.yaml
  kubernetes/apps/observability/vmbackup/app/vmrule.yaml
  kubernetes/apps/observability/vmbackup/ks.yaml
Labels: area/kubernetes

feat(observability): consolidate to native VictoriaMetrics stack
  kubernetes/apps/observability/fluent-bit/app/grafanadashboard.yaml
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
  kubernetes/apps/observability/vector-syslog/app/helmrepository.yaml
  kubernetes/apps/observability/vector-syslog/app/service-metrics.yaml
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
  kubernetes/apps/observability/vector-syslog/app/vmservicescrape.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs-collector/ks.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/syslog-service.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/stream-aggr-config.yaml
  kubernetes/apps/observability/vmauth/app/externalsecret.yaml
  kubernetes/apps/observability/vmauth/app/httproute.yaml
  kubernetes/apps/observability/vmauth/app/kustomization.yaml
  kubernetes/apps/observability/vmauth/app/securitypolicy.yaml
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
  kubernetes/apps/observability/vmauth/ks.yaml
  kubernetes/apps/observability/vmbackup/app/cronjob.yaml
  kubernetes/apps/observability/vmbackup/app/kustomization.yaml
  kubernetes/apps/observability/vmbackup/app/pvc.yaml
  kubernetes/apps/observability/vmbackup/app/vmrule.yaml
  kubernetes/apps/observability/vmbackup/ks.yaml
Labels: area/kubernetes

fix(observability): correct victoria-logs-collector chart version to 0.2.13
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
Labels: area/kubernetes

fix(observability): correct victoria-logs-collector chart version to 0.2.13
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/ocirepository.yaml
Labels: area/kubernetes

fix(observability): vmauth src_hosts routing + vlagent OOM
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
Labels: area/kubernetes

fix(observability): vmauth src_hosts routing + vlagent OOM
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
Labels: area/kubernetes

fix(observability): per-hostname OIDC redirects for vmauth
  kubernetes/apps/observability/vmauth/app/securitypolicy.yaml
Labels: area/kubernetes

fix(observability): per-hostname OIDC redirects for vmauth
  kubernetes/apps/observability/vmauth/app/securitypolicy.yaml
Labels: area/kubernetes

fix(observability): vlagent native protocol + syslog stream fields
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): vlagent native protocol + syslog stream fields
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-logs): use single UDP listener to fix streamFields parsing crash
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/syslog-service.yaml
Labels: area/kubernetes

fix(victoria-logs): use single UDP listener to fix streamFields parsing crash
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/syslog-service.yaml
Labels: area/kubernetes

fix(victoria-logs): streamFields must be JSON arrays, not plain strings
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-logs): streamFields must be JSON arrays, not plain strings
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): resolve all firing alerts + tune memory limits
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/vmrule-health.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/stream-aggr-config.yaml
Labels: area/kubernetes

fix(observability): resolve all firing alerts + tune memory limits
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/vmrule-health.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/stream-aggr-config.yaml
Labels: area/kubernetes

fix(observability): resolve VLAgentCollectorDown + RecordingRulesNoData
  kubernetes/apps/observability/victoria-logs-collector/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/vmservicescrape.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): resolve VLAgentCollectorDown + RecordingRulesNoData
  kubernetes/apps/observability/victoria-logs-collector/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/vmservicescrape.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

docs(readme): update observability section for native VM stack
  README.md
Labels: area/docs

docs(readme): update observability section for native VM stack
  README.md
Labels: area/docs

remove(observability): drop vmbackup — unnecessary for homelab
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/vmbackup/app/cronjob.yaml
  kubernetes/apps/observability/vmbackup/app/kustomization.yaml
  kubernetes/apps/observability/vmbackup/app/pvc.yaml
  kubernetes/apps/observability/vmbackup/app/vmrule.yaml
  kubernetes/apps/observability/vmbackup/ks.yaml
Labels: area/kubernetes

remove(observability): drop vmbackup — unnecessary for homelab
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/vmbackup/app/cronjob.yaml
  kubernetes/apps/observability/vmbackup/app/kustomization.yaml
  kubernetes/apps/observability/vmbackup/app/pvc.yaml
  kubernetes/apps/observability/vmbackup/app/vmrule.yaml
  kubernetes/apps/observability/vmbackup/ks.yaml
Labels: area/kubernetes

feat(observability): network device syslog Grafana dashboard
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

feat(observability): network device syslog Grafana dashboard
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): syslog dashboard datasource uid template variable
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): syslog dashboard datasource uid template variable
  kubernetes/apps/observability/victoria-logs/app/network-syslog-dashboard.yaml
Labels: area/kubernetes

fix(observability): remove /select/logsql from VictoriaLogs datasource URL — plugin adds it
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

fix(observability): remove /select/logsql from VictoriaLogs datasource URL — plugin adds it
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
