Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

chore: Remove `SERVER_CITIES` and add `WIREGUARD_ENDPOINT_IP` and `WIREGUARD_PUBLIC_KEY` to qbittorrent externalsecret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

chore: Remove `SERVER_CITIES` and add `WIREGUARD_ENDPOINT_IP` and `WIREGUARD_PUBLIC_KEY` to qbittorrent externalsecret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

feat: Add WIREGUARD_MTU to qBittorrent external secret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

feat: Add WIREGUARD_MTU to qBittorrent external secret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

feat: Add WIREGUARD_MTU to qBittorrent external secret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

feat: Configure WireGuard to use kernelspace implementation
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: Configure WireGuard to use kernelspace implementation
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: Configure WireGuard to use kernelspace implementation
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore: Replace individual WireGuard endpoint and public key secrets with a single server cities secret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

chore: Replace individual WireGuard endpoint and public key secrets with a single server cities secret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

chore: Replace individual WireGuard endpoint and public key secrets with a single server cities secret.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/karakeep-app/karakeep ( 0.29.1 ➔ 0.29.3 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/karakeep-app/karakeep ( 0.29.1 ➔ 0.29.3 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix: Update ProtonVPN secret key from SERVER_CITIES to SERVER_COUNTRIES.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

fix: Update ProtonVPN secret key from SERVER_CITIES to SERVER_COUNTRIES.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

fix: Update ProtonVPN secret key from SERVER_CITIES to SERVER_COUNTRIES.
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.0.5 ➔ v44.1.0 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.0.5 ➔ v44.1.0 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.1 ➔ 2.20.2 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.1 ➔ 2.20.2 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.70.0 ➔ v1.71.0 )
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr ( v1.70.0 ➔ v1.71.0 )
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

feat(container): update image ghcr.io/autobrr/qui ( v1.9.1 ➔ v1.10.0 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/qui ( v1.9.1 ➔ v1.10.0 )
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add PocketID OIDC provider for SSO authentication
  kubernetes/apps/auth/kustomization.yaml
  kubernetes/apps/auth/namespace.yaml
  kubernetes/apps/auth/pocket-id/app/externalsecret.yaml
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
  kubernetes/apps/auth/pocket-id/app/kustomization.yaml
  kubernetes/apps/auth/pocket-id/app/ocirepository.yaml
  kubernetes/apps/auth/pocket-id/ks.yaml
Labels: area/kubernetes

feat: Add PocketID OIDC provider for SSO authentication
  kubernetes/apps/auth/kustomization.yaml
  kubernetes/apps/auth/namespace.yaml
  kubernetes/apps/auth/pocket-id/app/externalsecret.yaml
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
  kubernetes/apps/auth/pocket-id/app/kustomization.yaml
  kubernetes/apps/auth/pocket-id/app/ocirepository.yaml
  kubernetes/apps/auth/pocket-id/ks.yaml
Labels: area/kubernetes

feat: Add PocketID OIDC provider for SSO authentication
  kubernetes/apps/auth/kustomization.yaml
  kubernetes/apps/auth/namespace.yaml
  kubernetes/apps/auth/pocket-id/app/externalsecret.yaml
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
  kubernetes/apps/auth/pocket-id/app/kustomization.yaml
  kubernetes/apps/auth/pocket-id/app/ocirepository.yaml
  kubernetes/apps/auth/pocket-id/ks.yaml
Labels: area/kubernetes

fix: Use envoy-internal gateway for pocket-id
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

fix: Use envoy-internal gateway for pocket-id
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

fix: Use envoy-internal gateway for pocket-id
  kubernetes/apps/auth/pocket-id/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add PocketID OIDC authentication to Grafana
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

feat: Add PocketID OIDC authentication to Grafana
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

feat: Add PocketID OIDC authentication to Grafana
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

fix: Disable Grafana anonymous access and grant Admin to OIDC users
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

fix: Disable Grafana anonymous access and grant Admin to OIDC users
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

fix: Disable Grafana anonymous access and grant Admin to OIDC users
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

fix: Force Grafana role sync and fix JMESPath expression
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
