Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

refactor(qbittorrent): remove unused VPN service providers secret
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

fix(qbittorrent): uncomment VPN_SERVICE_PROVIDER in externalsecret
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

fix(qbittorrent): uncomment VPN_SERVICE_PROVIDER in externalsecret
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

fix(qbittorrent): simplify probe configuration by removing duplicate spec
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): simplify probe configuration by removing duplicate spec
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): remove duplicate firewall input ports config
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): remove duplicate firewall input ports config
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(qbittorrent): switch vpn from wireguard to openvpn
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(qbittorrent): switch vpn from wireguard to openvpn
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/spegel-org/helm-charts/spegel ( 0.3.0 ➔ 0.4.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/perfectra1n/volsync ( v0.15.42 ➔ 0.15.44 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v43.0.11 ➔ v43.0.12 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(templates): adjust nfs mount options for better performance
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(templates): adjust nfs mount options for better performance
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.1.0.5180 ➔ 2.1.1.5185 )
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/jfroy/tnu ( 0.4.3 ➔ 0.4.4 )
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/bjw-s-labs/helm/app-template ( 4.2.0 ➔ 4.3.0 )
  kubernetes/apps/default/actual/app/ocirepository.yaml
  kubernetes/apps/default/atuin/app/ocirepository.yaml
  kubernetes/apps/default/autobrr/app/ocirepository.yaml
  kubernetes/apps/default/bazarr/app/ocirepository.yaml
  kubernetes/apps/default/cross-seed/app/ocirepository.yaml
  kubernetes/apps/default/fusion/app/ocirepository.yaml
  kubernetes/apps/default/it-tools/app/ocirepository.yaml
  kubernetes/apps/default/jellyseerr/app/ocirepository.yaml
  kubernetes/apps/default/karakeep/app/ocirepository.yaml
  kubernetes/apps/default/n8n/app/ocirepository.yaml
  kubernetes/apps/default/ocis/app/ocirepository.yaml
  kubernetes/apps/default/pinchflat/app/ocirepository.yaml
  kubernetes/apps/default/prowlarr/app/ocirepository.yaml
  kubernetes/apps/default/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/default/radarr/app/ocirepository.yaml
  kubernetes/apps/default/recyclarr/app/ocirepository.yaml
  kubernetes/apps/default/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/default/sonarr/app/ocirepository.yaml
  kubernetes/apps/default/thelounge/app/ocirepository.yaml
  kubernetes/apps/default/tqm/app/ocirepository.yaml
  kubernetes/apps/default/webhook/app/ocirepository.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/ocirepository.yaml
  kubernetes/apps/network/echo/app/ocirepository.yaml
  kubernetes/apps/observability/kromgo/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/ocirepository.yaml
  kubernetes/apps/system/generic-device-plugin/app/ocirepository.yaml
  kubernetes/apps/volsync-system/kopia/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.2 ➔ 2.2.3 )
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.20.0 ➔ v1.21.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.111.0 ➔ 1.112.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action ghcr.io/allenporter/flux-local ( v7.9.0 ➔ v7.10.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

fix(templates): increase nconnect value from 8 to 16 in talos controlplane
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(templates): increase nconnect value from 8 to 16 in talos controlplane
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(qbittorrent): fix malformed gluetun liveness probe command
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): fix malformed gluetun liveness probe command
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): improve gluetun liveness probe to check VPN status
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): improve gluetun liveness probe to check VPN status
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

refactor(talos): update node and controlplane configurations
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

refactor(talos): update node and controlplane configurations
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(talos): increase nfs mount rsize and wsize for performance
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat(talos): increase nfs mount rsize and wsize for performance
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix: reduce ethernet ring buffer sizes from 4096 to 2048
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix: reduce ethernet ring buffer sizes from 4096 to 2048
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix: reduce ethernet ring buffer sizes from 2048 to 1024
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix: reduce ethernet ring buffer sizes from 2048 to 1024
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat: add nzbget application configuration
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nzbget/app/helmrelease.yaml
  kubernetes/apps/default/nzbget/app/kustomization.yaml
  kubernetes/apps/default/nzbget/app/ocirepository.yaml
  kubernetes/apps/default/nzbget/ks.yaml
Labels: area/kubernetes

feat: add nzbget application configuration
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nzbget/app/helmrelease.yaml
  kubernetes/apps/default/nzbget/app/kustomization.yaml
  kubernetes/apps/default/nzbget/app/ocirepository.yaml
  kubernetes/apps/default/nzbget/ks.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.6.2 ➔ 77.7.0 ) (#267)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(nzbget): change probe from HTTP to TCP socket
  kubernetes/apps/default/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(nzbget): change probe from HTTP to TCP socket
  kubernetes/apps/default/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
