Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat: Add Gatus for service monitoring
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/ocirepository.yaml
  kubernetes/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.13.0 ➔ 77.14.0 ) (#345)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.13.0 ➔ 77.14.0 ) (#345)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image quay.io/jetstack/charts/cert-manager ( v1.18.2 ➔ v1.19.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image quay.io/jetstack/charts/cert-manager ( v1.18.2 ➔ v1.19.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

Update helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update dependency go ( 1.25.1 ➔ 1.25.2 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(deps): update dependency go ( 1.25.1 ➔ 1.25.2 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.3.1 ➔ 11.4.0 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.3.1 ➔ 11.4.0 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

ci(github-action)!: Update action astral-sh/setup-uv ( v6.8.0 ➔ v7.0.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action)!: Update action astral-sh/setup-uv ( v6.8.0 ➔ v7.0.0 )
  .github/workflows/schemas.yaml
Labels: area/github

fix: jules messed it up
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: jules messed it up
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: jules messed it up
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(gatus): add kromgo health endpoint monitoring
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

feat(gatus): add kromgo health endpoint monitoring
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

feat(gatus): add kromgo health endpoint monitoring
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): use correct /readyz health endpoint for kromgo
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): use correct /readyz health endpoint for kromgo
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): use correct /readyz health endpoint for kromgo
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix: Update Gatus config endpoints and UI button names
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix: Update Gatus config endpoints and UI button names
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix: Update Gatus config endpoints and UI button names
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(kromgo): disable gatus auto-discovery for kromgo HTTPRoute
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): disable gatus auto-discovery for kromgo HTTPRoute
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): disable gatus auto-discovery for kromgo HTTPRoute
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): configure gatus to expect 404 status for root path
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): configure gatus to expect 404 status for root path
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): configure gatus to expect 404 status for root path
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(gatus): add service account token auth for Kubernetes API health check
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): add service account token auth for Kubernetes API health check
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): add service account token auth for Kubernetes API health check
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): remove Kubernetes API endpoint (requires auth not supported by Gatus)
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): remove Kubernetes API endpoint (requires auth not supported by Gatus)
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): remove Kubernetes API endpoint (requires auth not supported by Gatus)
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): remove manual self-monitoring endpoint (auto-discovered works fine)
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gatus): remove manual self-monitoring endpoint (auto-discovered works fine)
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes
