Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.4 ➔ 2.20.5 )
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.20.4 ➔ 2.20.5 )
  archive/kubernetes/self-hosted/paperless/app/helmrelease.yaml
Labels: none

feat(container)!: Update image docker.io/cloudflare/cloudflared ( 2025.11.1 ➔ 2026.1.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image docker.io/cloudflare/cloudflared ( 2025.11.1 ➔ 2026.1.1 )
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.33.0 ➔ v1.33.1 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

fix(container): update image docker.io/getmeili/meilisearch ( v1.33.0 ➔ v1.33.1 )
  archive/kubernetes/self-hosted/karakeep/app/helmrelease.yaml
Labels: none

ci(github-action): update action actions/setup-python ( v6.1.0 ➔ v6.2.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/setup-python ( v6.1.0 ➔ v6.2.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/checkout ( v6.0.1 ➔ v6.0.2 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/checkout ( v6.0.1 ➔ v6.0.2 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github

fix(cert-manager): use cloudflare-dns.com hostname instead of IPs
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(cert-manager): use cloudflare-dns.com hostname instead of IPs
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(cert-manager): use cloudflare-dns.com hostname instead of IPs
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update flux-operator group (#688)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

feat(container): update flux-operator group (#688)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix(container): update image ghcr.io/coredns/charts/coredns ( 1.45.0 ➔ 1.45.2 ) (#690)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix(container): update image ghcr.io/coredns/charts/coredns ( 1.45.0 ➔ 1.45.2 ) (#690)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.2.1 ➔ 1.3.1 ) (#691)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.2.1 ➔ 1.3.1 ) (#691)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.68.0 ➔ 0.69.0 ) (#692)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.68.0 ➔ 0.69.0 ) (#692)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
Labels: area/homeops-cli

fix(ci): add ConfigMap for flux-local variable substitution
  kubernetes/flux/cluster/flux-local-vars.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/cluster/kustomization.yaml
Labels: area/kubernetes

fix(ci): add ConfigMap for flux-local variable substitution
  kubernetes/flux/cluster/flux-local-vars.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/cluster/kustomization.yaml
Labels: area/kubernetes

fix(ci): add ConfigMap for flux-local variable substitution
  kubernetes/flux/cluster/flux-local-vars.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/cluster/kustomization.yaml
Labels: area/kubernetes

fix(ci): disable helm testing in flux-local
  .github/workflows/flux-local.yaml
Labels: area/github

fix(ci): disable helm testing in flux-local
  .github/workflows/flux-local.yaml
Labels: area/github

fix(ci): disable helm testing in flux-local
  .github/workflows/flux-local.yaml
Labels: area/github

fix(container): update talos group ( v1.12.1 ➔ v1.12.2 ) (#689)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.12.1 ➔ v1.12.2 ) (#689)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

chore(system): remove Zot OCI registry proxy
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
  kubernetes/apps/system/zot/app/kustomization.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
  kubernetes/apps/system/zot/ks.yaml
Labels: area/kubernetes

chore(system): remove Zot OCI registry proxy
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
  kubernetes/apps/system/zot/app/kustomization.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
  kubernetes/apps/system/zot/ks.yaml
Labels: area/kubernetes

chore(system): remove Zot OCI registry proxy
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/zot/app/configmap.yaml
  kubernetes/apps/system/zot/app/helmrelease.yaml
  kubernetes/apps/system/zot/app/kustomization.yaml
  kubernetes/apps/system/zot/app/ocirepository.yaml
  kubernetes/apps/system/zot/ks.yaml
Labels: area/kubernetes

fix(flux-instance): remove zot dependency after Zot removal
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

fix(flux-instance): remove zot dependency after Zot removal
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

fix(flux-instance): remove zot dependency after Zot removal
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

feat: Patch kubeconfig to use direct node IP for bootstrap and improve 1Password kubeconfig management by handling file attachments and Connect environment variables.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/common/kubeconfig.go
Labels: area/homeops-cli

feat: Patch kubeconfig to use direct node IP for bootstrap and improve 1Password kubeconfig management by handling file attachments and Connect environment variables.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/common/kubeconfig.go
Labels: area/homeops-cli

feat: Patch kubeconfig to use direct node IP for bootstrap and improve 1Password kubeconfig management by handling file attachments and Connect environment variables.
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/internal/common/kubeconfig.go
Labels: area/homeops-cli

feat(vector-syslog): add OPNsense RFC5424 parser and reorganize ports
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

feat(vector-syslog): add OPNsense RFC5424 parser and reorganize ports
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
  kubernetes/apps/observability/vector-syslog/app/vector-config.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
