Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(homeops-cli): rehearsal smoke test resolves the API service by FQDN; forget the drill node's host key
  cmd/homeops-cli/cmd/cluster/rehearse_node.go
  cmd/homeops-cli/cmd/cluster/rehearse_node_test.go
Labels: area/homeops-cli

fix(homeops-cli): enable greenboot 0.16's units on FCOS
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
Labels: area/homeops-cli

fix(homeops-cli): storage NICs attach to the dedicated fabric bridges, untagged
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/storage_nics_test.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/proxmox/vm_options_characterization_test.go
  homeops.yaml
Labels: area/homeops-cli

feat: label nodes with their OS family; keep the Flatcar SUC plan off FCOS nodes
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/kubeadm/init-config.yaml
  cmd/homeops-cli/internal/flatcar/testdata/golden/kubeadm/join-k8s-1.yaml
  cmd/homeops-cli/internal/flatcar/testdata/golden/kubeadm/join-k8s-2.yaml
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/init-config.yaml
  cmd/homeops-cli/internal/templates/flatcar/kubeadm/join-config.yaml
  kubernetes/apps/system-upgrade/flatcar-upgrade/app/plan.yaml
Labels: area/kubernetes, area/homeops-cli

fix(homeops-cli): enable greenboot's health check without starting it
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
Labels: area/homeops-cli

feat(homeops-cli): SR-IOV storage NICs; node VMs are q35
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/storage_nics_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/proxmox/vm_options_characterization_test.go
  homeops.yaml
Labels: area/homeops-cli

feat(homeops-cli): per-node memory_mb; pin the rehearsal node to one NUMA node
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  homeops.yaml
Labels: area/homeops-cli

fix(homeops-cli): apply every root-only VM option as root, not just args
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
Labels: area/homeops-cli

fix(homeops-cli): Go 1.26.6 (GO-2026-6218, -6090, -5972, -5026 in the 1.26.5 stdlib)
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

feat(homeops-cli): cluster replace-node rebuilds a production control plane in place
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/cmd/cluster/cluster.go
  cmd/homeops-cli/cmd/cluster/replace_node.go
  cmd/homeops-cli/cmd/cluster/replace_node_test.go
  cmd/homeops-cli/cmd/flatcar/rehearsal.go
  cmd/homeops-cli/cmd/flatcar/rehearsal_test.go
Labels: area/homeops-cli

chore(homeops): production nodes run FCOS (Phase B, rebuilt in place with cluster replace-node)
  homeops.yaml
Labels: none

fix(homeops-cli): replace-node resumes after a partial run and retries the node delete through a VIP failover
  cmd/homeops-cli/cmd/cluster/replace_node.go
  cmd/homeops-cli/cmd/cluster/replace_node_test.go
Labels: area/homeops-cli

fix(n8n): run the official upstream image (n8nio/n8n 2.40.7)
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(n8n): run the official upstream image (n8nio/n8n 2.40.7) (#1660)
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore(homeops): production nodes at 80 GB
  homeops.yaml
Labels: none

fix(homeops-cli): replace-node resumes and survives a VIP failover; nodes at 80 GB (#1661)
  cmd/homeops-cli/cmd/cluster/replace_node.go
  cmd/homeops-cli/cmd/cluster/replace_node_test.go
  homeops.yaml
Labels: area/homeops-cli

chore(cilium): 1.18.14 from the upstream OCI chart; LB IP pool on cilium.io/v2
  AGENTS.md
  CLAUDE.md
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore(cilium): 1.18.14 from the upstream OCI chart; LB IP pool on cilium.io/v2 (#1662)
  AGENTS.md
  CLAUDE.md
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore(cilium): 1.19.8 (step 2 of 3 to 1.20.2)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

chore(cilium): 1.19.8 (step 2 of 3 to 1.20.2) (#1663)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(homeops-cli): FCOS runc runs from a non-overlay copy; serial port for Flatcar/FCOS VMs
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/proxmox/vm_options_characterization_test.go
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/fcos/files/containerd-config.toml
Labels: area/homeops-cli

chore(cilium): 1.19.8 -> 1.20.2
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(homeops-cli): FCOS runc runs from a non-overlay copy; serial port for Flatcar/FCOS VMs (#1664)
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/proxmox/vm_options_characterization_test.go
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/fcos/files/containerd-config.toml
Labels: area/homeops-cli

chore(cilium): 1.19.8 -> 1.20.2 (#1665)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(homeops-cli): FCOS nodes boot with a 1 ms guest halt-poll window
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
Labels: area/homeops-cli

feat(observability): gateway0 NGFW monitoring - risk alerts and dashboard
  kubernetes/apps/observability/victoria-metrics/app/gateway0-ngfw-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-apprec.yaml
  scripts/alert-tests/apprec/tests.yaml
Labels: area/kubernetes

feat(observability): gateway0 NGFW monitoring - risk alerts and dashboard (#1669)
  kubernetes/apps/observability/victoria-metrics/app/gateway0-ngfw-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-apprec.yaml
  scripts/alert-tests/apprec/tests.yaml
Labels: area/kubernetes

feat(homeops-cli): FCOS nodes use 16 MiB NFS readahead
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/fcos/files/nfs-readahead.conf
Labels: area/homeops-cli

feat(homeops-cli): FCOS nodes use 16 MiB NFS readahead (#1679)
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/fcos/files/nfs-readahead.conf
Labels: area/homeops-cli

feat(scale-csi): 1.13.0 with the userspace NVMe/TCP data path available (canary class)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.13.0 with the userspace NVMe/TCP data path available (canary class) (#1680)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.13.1, stop the controller republishing every attached volume every minute
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.13.1, stop the controller republishing every attached volume every minute (#1681)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.14.0, fewer TrueNAS writes and attaches first under load
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.14.0, fewer TrueNAS writes and attaches first under load (#1683)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.15.0 with the Rust node agent canaried on k8s-2
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.15.0 with the Rust node agent canaried on k8s-2 (#1686)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.16.0, publication records in Kubernetes
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.16.0, publication records in Kubernetes (#1687)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): 1.17.0, the Rust node agent records Kubernetes Events
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
