Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image ghcr.io/home-operations/radarr ( 6.1.0.10293 ➔ 6.1.0.10309 )
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.1.0 ➔ v44.2.0 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.1.0 ➔ v44.2.0 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.45 ➔ 0.0.46 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.45 ➔ 0.0.46 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.29.0 ➔ v1.30.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.29.0 ➔ v1.30.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( v5.20.0 ➔ 5.21.1 ) (#591)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/grafana/helm-charts/grafana-operator ( v5.20.0 ➔ 5.21.1 ) (#591)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

debug(autobrr): Enable DEBUG logging for OIDC troubleshooting
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

debug(autobrr): Enable DEBUG logging for OIDC troubleshooting
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

debug(autobrr): Enable DEBUG logging for OIDC troubleshooting
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable built-in login for Autobrr
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable built-in login for Autobrr
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable built-in login for Autobrr
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): Add explicit X-Forwarded headers via RequestHeaderModifier
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): Add explicit X-Forwarded headers via RequestHeaderModifier
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(autobrr): Add explicit X-Forwarded headers via RequestHeaderModifier
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(envoy-gateway): Add X-Forwarded headers via ClientTrafficPolicy
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(envoy-gateway): Add X-Forwarded headers via ClientTrafficPolicy
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(envoy-gateway): Add X-Forwarded headers via ClientTrafficPolicy
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(envoy-gateway): Add all X-Forwarded headers with dynamic values
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(envoy-gateway): Add all X-Forwarded headers with dynamic values
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(envoy-gateway): Add all X-Forwarded headers with dynamic values
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(envoy-gateway): Add X-Real-IP header
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(envoy-gateway): Add X-Real-IP header
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(envoy-gateway): Add X-Real-IP header
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat: disable autobrr's built-in login when OIDC is enabled
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: disable autobrr's built-in login when OIDC is enabled
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: disable autobrr's built-in login when OIDC is enabled
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add AUTOBRR__BASE_URL environment variable for autobrr.
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add AUTOBRR__BASE_URL environment variable for autobrr.
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add AUTOBRR__BASE_URL environment variable for autobrr.
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Remove `AUTOBRR__BASE_URL` environment variable.
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Remove `AUTOBRR__BASE_URL` environment variable.
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Remove `AUTOBRR__BASE_URL` environment variable.
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable Autobrr OIDC built-in login
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable Autobrr OIDC built-in login
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable Autobrr OIDC built-in login
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable Autobrr OIDC built-in login
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes
