Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(arc): self-hosted runner set for infrastructure-automation
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/rbac.yaml
Labels: area/kubernetes

feat(arc): self-hosted runner set for infrastructure-automation (#1621)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/rbac.yaml
Labels: area/kubernetes

feat(arc): deny the infrastructure-automation runner access to the home network
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/networkpolicy.yaml
Labels: area/kubernetes

feat(arc): deny the infrastructure-automation runner access to the home network (#1622)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/networkpolicy.yaml
Labels: area/kubernetes

fix(arc): scope the runner egress policy to runner pods only
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/networkpolicy.yaml
Labels: area/kubernetes

fix(arc): scope the runner egress policy to runner pods only (#1625)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/networkpolicy.yaml
Labels: area/kubernetes

fix(arc): make the infrastructure-automation runner's resolver retry
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/helmrelease.yaml
Labels: area/kubernetes

fix(arc): make the infrastructure-automation runner's resolver retry (#1627)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/helmrelease.yaml
Labels: area/kubernetes

fix(arc): CiliumNetworkPolicy with L7 DNS proxy for the infrastructure-automation runner
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/networkpolicy.yaml
Labels: area/kubernetes

fix(arc): CiliumNetworkPolicy with L7 DNS proxy for the infrastructure-automation runner (#1628)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/networkpolicy.yaml
Labels: area/kubernetes

fix(arc): let the infrastructure-automation scale set run 4 jobs
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/helmrelease.yaml
Labels: area/kubernetes

fix(arc): let the infrastructure-automation scale set run 4 jobs (#1630)
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ia-automation/helmrelease.yaml
Labels: area/kubernetes

chore(scale-csi): upgrade chart 1.11.1 -> 1.11.2
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore(scale-csi): upgrade chart 1.11.1 -> 1.11.2 (#1632)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): upgrade chart 1.11.2 -> 1.12.0; bundled alerts; drop unused NFS/iSCSI
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmrule.yaml
Labels: area/kubernetes

feat(scale-csi): upgrade chart 1.11.2 -> 1.12.0; bundled alerts; drop unused NFS/iSCSI (#1649)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmrule.yaml
Labels: area/kubernetes

feat(homeops-cli): add cluster/node os family and per-OS Ignition fw_cfg key
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/config/os_family_test.go
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/truenas/vm_manager_flow_test.go
Labels: area/homeops-cli

feat(homeops-cli): render Fedora CoreOS control-plane Ignition
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/fcos/characterization_test.go
  cmd/homeops-cli/internal/fcos/ignition.go
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
  cmd/homeops-cli/internal/templates/fcos/files/chrony.conf
  cmd/homeops-cli/internal/templates/fcos/files/greenboot-50-homeops-kubernetes.sh
  cmd/homeops-cli/internal/templates/fcos/files/install-k8s-sysext.sh
  cmd/homeops-cli/internal/templates/fcos/files/modules-load-homeops.conf
  cmd/homeops-cli/internal/templates/fcos/systemd/10-kubeadm.conf
  cmd/homeops-cli/internal/templates/fcos/systemd/kubelet.service
  cmd/homeops-cli/internal/templates/fcos_templates_test.go
  cmd/homeops-cli/internal/templates/templates.go
Labels: area/homeops-cli

feat(homeops-cli): resolve and stage the FCOS qemu image from stream metadata
  cmd/homeops-cli/internal/fcos/stream.go
  cmd/homeops-cli/internal/fcos/stream_test.go
  cmd/homeops-cli/internal/fcos/testdata/streams/stable.json
Labels: area/homeops-cli

feat(homeops-cli): add the fcos command group and OS-aware deploy/rehearsal
  cmd/homeops-cli/cmd/cluster/rehearse_node.go
  cmd/homeops-cli/cmd/cluster/rehearse_node_test.go
  cmd/homeops-cli/cmd/flatcar/fcos.go
  cmd/homeops-cli/cmd/flatcar/fcos_os_status.go
  cmd/homeops-cli/cmd/flatcar/fcos_os_status_test.go
  cmd/homeops-cli/cmd/flatcar/fcos_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/os_status.go
  cmd/homeops-cli/cmd/flatcar/rehearsal.go
  cmd/homeops-cli/cmd/flatcar/testdata/rpm_ostree_status_idle.json
  cmd/homeops-cli/cmd/flatcar/testdata/rpm_ostree_status_staged.json
  cmd/homeops-cli/main.go
Labels: area/homeops-cli

test(homeops-cli): pin FCOS storage fabric and scratch disk parity with Flatcar
  cmd/homeops-cli/internal/fcos/characterization_test.go
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
Labels: area/homeops-cli

feat(homeops-cli): OS-aware bootstrap node preflight
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar_test.go
Labels: area/homeops-cli

docs(homeops-cli): document the fcos commands and the cluster/node os switch
  cmd/homeops-cli/COMMANDS.md
  cmd/homeops-cli/README.md
  cmd/homeops-cli/cmd/config/config.go
Labels: area/homeops-cli

test(homeops-cli): cover the fcos os-status command; satisfy staticcheck QF1008
  cmd/homeops-cli/cmd/flatcar/fcos_os_status_test.go
  cmd/homeops-cli/internal/fcos/ignition.go
Labels: area/homeops-cli

feat(homeops-cli): FCOS nodes start SELinux-permissive and layer qemu-guest-agent
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
Labels: area/homeops-cli

fix(homeops-cli): rehearse-node teardown removes the drill node's etcd member
  cmd/homeops-cli/cmd/cluster/rehearse_node.go
  cmd/homeops-cli/cmd/cluster/rehearse_node_test.go
Labels: area/homeops-cli

fix(homeops-cli): SSH command output reaches callers unredacted
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
Labels: area/homeops-cli

chore(homeops): rehearse-node deploys the test node on Fedora CoreOS
  homeops.yaml
Labels: none

chore(homeops): give the rehearsal node a production NIC set
  homeops.yaml
Labels: none

feat(homeops-cli): hypervisors.proxmox.ssh_key for PVE SSH flows
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/cmd/vm/vm_create.go
  cmd/homeops-cli/internal/config/config.go
  homeops.yaml
Labels: area/homeops-cli

fix(homeops-cli): SSH uploads skip sudo for a root login
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_client_test.go
Labels: area/homeops-cli

fix(homeops-cli): Proxmox node deploys no longer attach the retired scsi3 OpenEBS disk
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  homeops.yaml
Labels: area/homeops-cli

fix(homeops-cli): FCOS images import from a PVE volume ID, not a path
  cmd/homeops-cli/cmd/flatcar/fcos_test.go
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
Labels: area/homeops-cli

fix(homeops-cli): apply the fw_cfg Ignition args as root after an API-token create
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/cmd/flatcar/flatcar_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
Labels: area/homeops-cli

fix(homeops-cli): import boot images with PVE's size-0 syntax, then grow the disk
  cmd/homeops-cli/internal/proxmox/flatcar_vm_test.go
  cmd/homeops-cli/internal/proxmox/vm_console_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_manager_flow_test.go
  cmd/homeops-cli/internal/proxmox/vm_manager_test.go
  cmd/homeops-cli/internal/proxmox/vm_options_characterization_test.go
Labels: area/homeops-cli

chore(homeops): rehearsal node uses 192.168.122.98
  homeops.yaml
Labels: none

feat(homeops-cli): cluster.node_ssh_key for every node SSH connection
  cmd/homeops-cli/cmd/bootstrap/bootstrap_flatcar.go
  cmd/homeops-cli/cmd/config/config.go
  cmd/homeops-cli/cmd/flatcar/os_status.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/flatcar/kubeadm.go
  cmd/homeops-cli/internal/flatcar/kubeadm_test.go
  cmd/homeops-cli/internal/kubeutil/ssh.go
  cmd/homeops-cli/internal/kubeutil/ssh_key_test.go
  homeops.yaml
Labels: area/homeops-cli

fix(homeops-cli): net doctor probe no longer races its own dial goroutine
  cmd/homeops-cli/cmd/kubernetes/net_doctor.go
  cmd/homeops-cli/cmd/kubernetes/net_doctor_test.go
Labels: area/homeops-cli

fix(homeops-cli): a configured SSH key is the only identity offered
  cmd/homeops-cli/internal/ssh/ssh_client.go
  cmd/homeops-cli/internal/ssh/ssh_key_test.go
Labels: area/homeops-cli

fix(homeops-cli): FCOS nodes carry Flatcar's baselayout sysctls (ip_forward=1)
  cmd/homeops-cli/internal/fcos/ignition_test.go
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/fcos/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/templates/fcos/butane/controlplane.bu
Labels: area/homeops-cli
