Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.3 ➔ 2.2.4 )
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/spegel-org/helm-charts/spegel ( 0.4.0 ➔ 0.5.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/spegel-org/helm-charts/spegel ( 0.4.0 ➔ 0.5.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/cross-seed/cross-seed ( 6.13.5 ➔ 6.13.6 )
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed ( 6.13.5 ➔ 6.13.6 )
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.62.2 ➔ 0.63.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.62.2 ➔ 0.63.2 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(helm): update chart vector ( 0.46.0 ➔ 0.47.0 )
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart vector ( 0.46.0 ➔ 0.47.0 )
  kubernetes/apps/observability/vector-syslog/app/helmrelease.yaml
Labels: area/kubernetes

fix: update n8n Playwright image tag to latest version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: update n8n Playwright image tag to latest version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: update n8n Playwright image tag to latest version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: update n8n Playwright image tag to latest version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: update n8n Playwright image tag to latest version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix: update n8n Playwright image tag to latest version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat: add Cloudflare Worker proxy for public kromgo metrics
  scripts/cloudflare-worker/kromgo-proxy/.gitignore
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
  scripts/cloudflare-worker/kromgo-proxy/package.json
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
  scripts/cloudflare-worker/kromgo-proxy/test-deployment.sh
  scripts/cloudflare-worker/kromgo-proxy/wrangler.toml
Labels: none

feat: add Cloudflare Worker proxy for public kromgo metrics
  scripts/cloudflare-worker/kromgo-proxy/.gitignore
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
  scripts/cloudflare-worker/kromgo-proxy/package.json
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
  scripts/cloudflare-worker/kromgo-proxy/test-deployment.sh
  scripts/cloudflare-worker/kromgo-proxy/wrangler.toml
Labels: none

feat: add Cloudflare Worker proxy for public kromgo metrics
  scripts/cloudflare-worker/kromgo-proxy/.gitignore
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/badge-examples.md
  scripts/cloudflare-worker/kromgo-proxy/package.json
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
  scripts/cloudflare-worker/kromgo-proxy/test-deployment.sh
  scripts/cloudflare-worker/kromgo-proxy/wrangler.toml
Labels: none

feat(container): update image ghcr.io/home-operations/charts-mirror/silence-operator ( 0.19.0 ➔ 0.20.0 )
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/silence-operator ( 0.19.0 ➔ 0.20.0 )
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image curlimages/curl ( 8.16.0 ➔ 8.17.0 )
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

feat(container): update image curlimages/curl ( 8.16.0 ➔ 8.17.0 )
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.4 ➔ 2.2.5 )
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/stakater/charts/reloader ( 2.2.4 ➔ 2.2.5 )
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
Labels: area/kubernetes

chore: bump version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore: bump version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

chore: bump version
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

refactor: improve code readability and structure in Kromgo metrics proxy, add service auth
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

refactor: improve code readability and structure in Kromgo metrics proxy, add service auth
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

refactor: improve code readability and structure in Kromgo metrics proxy, add service auth
  scripts/cloudflare-worker/kromgo-proxy/QUICKSTART.md
  scripts/cloudflare-worker/kromgo-proxy/README.md
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: none

fix(container): update image ghcr.io/spegel-org/helm-charts/spegel ( 0.5.0 ➔ 0.5.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/spegel-org/helm-charts/spegel ( 0.5.0 ➔ 0.5.1 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

docs: update README to include additional cluster metrics badges
  README.md
Labels: area/docs

docs: update README to include additional cluster metrics badges
  README.md
Labels: area/docs

docs: update README to include additional cluster metrics badges
  README.md
Labels: area/docs

fix(README): remove power usage badge from metrics section
  README.md
Labels: area/docs

fix(README): remove power usage badge from metrics section
  README.md
Labels: area/docs

fix(README): remove power usage badge from metrics section
  README.md
Labels: area/docs

feat(deps)!: Update dependency wrangler ( 3.114.15 ➔ 4.45.4 )
  scripts/cloudflare-worker/kromgo-proxy/package.json
Labels: none

feat(deps)!: Update dependency wrangler ( 3.114.15 ➔ 4.45.4 )
  scripts/cloudflare-worker/kromgo-proxy/package.json
Labels: none
