Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(container): update image ghcr.io/qdm12/gluetun ( v3.40.4 ➔ v3.41.0 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/qdm12/gluetun ( v3.40.4 ➔ v3.41.0 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.16.2943 ➔ 4.0.16.2946 )
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/sonarr ( 4.0.16.2943 ➔ 4.0.16.2946 )
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update Flux operator manifests to v0.38.1 and add new allowed bash commands to Claude settings.
  .claude/settings.local.json
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update Flux operator manifests to v0.38.1 and add new allowed bash commands to Claude settings.
  .claude/settings.local.json
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

feat: Update Flux operator manifests to v0.38.1 and add new allowed bash commands to Claude settings.
  .claude/settings.local.json
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

fix(freshrss): expect 401 status for OIDC-protected endpoint in Gatus
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

fix(freshrss): expect 401 status for OIDC-protected endpoint in Gatus
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

fix(freshrss): expect 401 status for OIDC-protected endpoint in Gatus
  kubernetes/apps/self-hosted/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.22 ➔ 0.11.23 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.22 ➔ 0.11.23 )
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
Labels: area/kubernetes

add
  .claude/settings.local.json
Labels: none

add
  .claude/settings.local.json
Labels: none

docs: update hardware specs after RAM and CPU upgrades
  README.md
Labels: area/docs

docs: update hardware specs after RAM and CPU upgrades
  README.md
Labels: area/docs

docs: update hardware specs after RAM and CPU upgrades
  README.md
Labels: area/docs

add
  .claude/settings.local.json
Labels: none

chore: envoy gateway improvements and talos hostname config migration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

chore: envoy gateway improvements and talos hostname config migration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

chore: envoy gateway improvements and talos hostname config migration
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

feat: Increase Talos control plane network buffer sizes, add new network tuning sysctls, and allow `homeops-cli talos apply-node` command.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat: Increase Talos control plane network buffer sizes, add new network tuning sysctls, and allow `homeops-cli talos apply-node` command.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

feat: Increase Talos control plane network buffer sizes, add new network tuning sysctls, and allow `homeops-cli talos apply-node` command.
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v44.2.1 ➔ v44.2.2 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.2.1 ➔ v44.2.2 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update rook-ceph group ( v1.18.7 ➔ v1.18.8 )
  archive/kubernetes/rook-ceph/rook-ceph/app/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

fix(container): update rook-ceph group ( v1.18.7 ➔ v1.18.8 )
  archive/kubernetes/rook-ceph/rook-ceph/app/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

ci(github-action): update action ghcr.io/allenporter/flux-local ( v8.0.1 ➔ v8.1.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

ci(github-action): update action ghcr.io/allenporter/flux-local ( v8.0.1 ➔ v8.1.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

feat(container): update kubernetes group ( v1.34.3 ➔ v1.35.0 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update kubernetes group ( v1.34.3 ➔ v1.35.0 )
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

feat(deps): update kubernetes packages ( v0.34.3 ➔ v0.35.0 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(deps): update kubernetes packages ( v0.34.3 ➔ v0.35.0 )
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

feat(nzbget): add local intermediate directory for faster downloads
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(nzbget): add local intermediate directory for faster downloads
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

feat(nzbget): add local intermediate directory for faster downloads
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(nzbget): remove sizeLimit from inter emptyDir for better performance
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(nzbget): remove sizeLimit from inter emptyDir for better performance
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

fix(nzbget): remove sizeLimit from inter emptyDir for better performance
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
