Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

chore(scale-csi): bump chart to 1.2.33 (batch 15 — marker-based remnant-orphan GC) (#1423)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore(scale-csi): bump chart to 1.2.34 (batch 16 — legacy stamp adoption, drains ledger backlog)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore(scale-csi): bump chart to 1.2.34 (batch 16 — legacy stamp adoption, drains ledger backlog) (#1425)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

chore(scale-csi): bump chart to 1.2.35; enable cleanupParent, raise GC maxPerRun to 500, offset schedule to 04:20
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(homeops-cli): track Renovate fixture bumps — talos v1.13.7 / kube v1.36.3 / etcd 3.7.0 defaults and test expectations
  cmd/homeops-cli/cmd/kubernetes/etcd_restore_test.go
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/templates/talos_characterization_test.go
  cmd/homeops-cli/internal/templates/templates_test.go
Labels: area/homeops-cli

feat(scale-csi): enable tombstoneReaper.scanFallback (drain 293 pre-relocation stranded tombstones)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): chart 1.3.0 -> 1.4.0 (CHAP, capacity/volume-health opt-ins, clone latency, obs taxonomy)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): chart 1.4.0 -> 1.4.1 (iSCSI fencing deny-all genuine on TrueNAS 26.0)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): chart 1.4.1 -> 1.5.1 (GF2 data protection, GF4 block geometry, GF5 NFS parity + backend health; live-drill fixes)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): chart 1.5.1 -> 1.6.0 (GF-Sprint 1: per-volume encryption at rest)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): source the encryption passphrase from 1Password, not the cluster
  kubernetes/apps/scale-csi/scale-csi/app/externalsecret-encryption.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
Labels: area/kubernetes

feat(scale-csi): bump chart 1.6.0 -> 1.6.2
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

docs(observability): fix stale amdiag receiver comment — Hermes on varunlnx0 replaced by OpenClaw mapped hook on friday3
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(homeops-cli): unbreak Go test job from Renovate version drift
  .renovaterc.json5
  cmd/homeops-cli/cmd/kubernetes/etcd_restore_test.go
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.12.yaml
Labels: area/renovate, area/homeops-cli

fix(homeops-cli): unbreak Go test job from Renovate version drift (#1476)
  .renovaterc.json5
  cmd/homeops-cli/cmd/kubernetes/etcd_restore_test.go
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/controlplane.yaml-192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/testdata/golden/talos/worker.yaml-192.168.122.12.yaml
Labels: area/renovate, area/homeops-cli

feat(kopiur): deploy operator + adopt existing kopia repository
  kubernetes/apps/kopiur-system/kopiur/app/externalsecret.yaml
  kubernetes/apps/kopiur-system/kopiur/app/helmrelease.yaml
  kubernetes/apps/kopiur-system/kopiur/app/kustomization.yaml
  kubernetes/apps/kopiur-system/kopiur/app/ocirepository.yaml
  kubernetes/apps/kopiur-system/kopiur/ks.yaml
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
  kubernetes/apps/kopiur-system/kopiur/repository/kustomization.yaml
  kubernetes/apps/kopiur-system/kustomization.yaml
  kubernetes/apps/kopiur-system/namespace.yaml
Labels: area/kubernetes

feat(observability): alert on nas01 storage-path MTU drift
  kubernetes/apps/observability/victoria-metrics/app/vmrule-infrastructure.yaml
Labels: area/kubernetes

fix(kopiur): add cluster-secret component
  kubernetes/apps/kopiur-system/kustomization.yaml
Labels: area/kubernetes

fix(kopiur): allow credential projection into consumer namespaces
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes

fix(kopiur): enable credentialProjection feature RBAC
  kubernetes/apps/kopiur-system/kopiur/app/helmrelease.yaml
Labels: area/kubernetes

feat(kopiur): backup component + convert atuin as canary
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/components/kopiur/backup/kustomization.yaml
  kubernetes/components/kopiur/backup/pvc.yaml
  kubernetes/components/kopiur/backup/restore.yaml
  kubernetes/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/components/kopiur/backup/snapshotschedule.yaml
Labels: area/kubernetes

feat(kopiur): migrate remaining 15 apps off VolSync
  kubernetes/apps/auth/pocket-id/ks.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/downloads/autobrr/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
  kubernetes/apps/downloads/pinchflat/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/freshrss/ks.yaml
Labels: area/kubernetes

feat(kopiur): hand repository maintenance over from VolSync
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
Labels: area/kubernetes

fix(kopiur): allow kopiur-system in allowedNamespaces
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes

fix(kopiur): revert one-time Force takeover, tune epoch advance
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes

fix(freshrss): run kopiur mover as 100:33 to match data ownership
  kubernetes/apps/self-hosted/freshrss/ks.yaml
Labels: area/kubernetes

chore(volsync): decommission VolSync, keep the Kopia web UI
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/grafanadashboard.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
  kubernetes/apps/volsync-system/volsync/app/vmrule.yaml
  kubernetes/apps/volsync-system/volsync/ks.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kustomization.yaml
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

perf(kopiur): jitter schedules and persist the mover cache on nvme-oF
  kubernetes/apps/auth/pocket-id/ks.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/downloads/autobrr/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
  kubernetes/apps/downloads/pinchflat/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/freshrss/ks.yaml
  kubernetes/components/kopiur/backup/restore.yaml
  kubernetes/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/components/kopiur/backup/snapshotschedule.yaml
Labels: area/kubernetes

chore(kopiur): allow all namespaces to consume the repository
  kubernetes/apps/kopiur-system/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes

feat(kopiur): scrape metrics and replace the retired VolSync alerts
  kubernetes/apps/kopiur-system/kopiur/app/kustomization.yaml
  kubernetes/apps/kopiur-system/kopiur/app/vmrule.yaml
  kubernetes/apps/kopiur-system/kopiur/app/vmservicescrape.yaml
Labels: area/kubernetes

feat(multus): deploy Multus with an IoT VLAN 20 macvlan network
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/apps/kube-system/multus/app/kustomization.yaml
  kubernetes/apps/kube-system/multus/app/ocirepository.yaml
  kubernetes/apps/kube-system/multus/ks.yaml
  kubernetes/apps/kube-system/multus/networks/iot.yaml
  kubernetes/apps/kube-system/multus/networks/kustomization.yaml
Labels: area/kubernetes

fix(kopia): drop dangling dependsOn after VolSync decommission
  kubernetes/apps/volsync-system/kopia/ks.yaml
Labels: area/kubernetes

feat(homeops-cli): provision and pin the Multus macvlan master NICs
  cmd/homeops-cli/cmd/flatcar/flatcar.go
  cmd/homeops-cli/internal/config/config.go
  cmd/homeops-cli/internal/config/defaults.go
  cmd/homeops-cli/internal/constants/constants.go
  cmd/homeops-cli/internal/flatcar/characterization_test.go
  cmd/homeops-cli/internal/flatcar/ignition.go
  cmd/homeops-cli/internal/flatcar/ignition_test.go
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-0.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-1.ign
  cmd/homeops-cli/internal/flatcar/testdata/golden/ignition/k8s-2.ign
  cmd/homeops-cli/internal/proxmox/vm_manager.go
  cmd/homeops-cli/internal/proxmox/vm_options.go
  cmd/homeops-cli/internal/templates/flatcar/butane/controlplane.bu
  homeops.yaml
Labels: area/homeops-cli

docs(multus): record the static addressing contract on the iot NAD
  kubernetes/apps/kube-system/multus/networks/iot.yaml
Labels: area/kubernetes

feat(multus): add vpn NAD for VLAN 90 tunnel egress
  cmd/homeops-cli/internal/constants/constants.go
  kubernetes/apps/kube-system/multus/networks/kustomization.yaml
  kubernetes/apps/kube-system/multus/networks/vpn.yaml
Labels: area/kubernetes, area/homeops-cli

feat(downloads): opt-in egress kill-switch for VPN-attached pods
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/vpn-egress-killswitch.yaml
Labels: area/kubernetes

feat(qbittorrent): move VPN egress from sidecar to VLAN 90 macvlan
  kubernetes/apps/downloads/qbittorrent/app/config/Corefile
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomizeconfig.yaml
Labels: area/kubernetes

docs(downloads): generalise VPN sidecar references in comments
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/vpn-egress-killswitch.yaml
Labels: area/kubernetes

feat(home-assistant): deploy in-cluster on the IoT VLAN
  kubernetes/apps/automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/automation/home-assistant/app/kustomization.yaml
  kubernetes/apps/automation/home-assistant/app/ocirepository.yaml
  kubernetes/apps/automation/home-assistant/ks.yaml
  kubernetes/apps/automation/kustomization.yaml
Labels: area/kubernetes

fix(home-assistant): route internal VLANs over the macvlan, not the CNI
  kubernetes/apps/automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/multus/networks/iot-routed.yaml
  kubernetes/apps/kube-system/multus/networks/kustomization.yaml
Labels: area/kubernetes
