Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(system-upgrade): correct kube-proxy phase name, ignore CoreDNS preflight
  kubernetes/apps/system-upgrade/kubeadm-upgrade/app/plan.yaml
Labels: area/kubernetes

fix(homeops-cli): fail safely in Kubernetes batch commands
  cmd/homeops-cli/cmd/kubernetes/batch.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_interactive_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
Labels: area/homeops-cli

fix(homeops-cli): fail safely in Kubernetes batch commands (#1361)
  cmd/homeops-cli/cmd/kubernetes/batch.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_flow_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_interactive_test.go
  cmd/homeops-cli/cmd/kubernetes/kubernetes_test.go
Labels: area/homeops-cli

fix(homeops-cli): start maintenance rollback timeout on failure
  cmd/homeops-cli/cmd/kubernetes/node_maintenance.go
  cmd/homeops-cli/cmd/kubernetes/node_maintenance_test.go
Labels: area/homeops-cli

fix(homeops-cli): start maintenance rollback timeout on failure (#1362)
  cmd/homeops-cli/cmd/kubernetes/node_maintenance.go
  cmd/homeops-cli/cmd/kubernetes/node_maintenance_test.go
Labels: area/homeops-cli

feat(storage): add scale-csi (TrueNAS NVMe-oF/iSCSI/NFS) CSI driver
  kubernetes/apps/scale-csi/kustomization.yaml
  kubernetes/apps/scale-csi/namespace.yaml
  kubernetes/apps/scale-csi/scale-csi/app/externalsecret.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/ks.yaml
Labels: area/kubernetes

fix(scale-csi): pin image.tag to v1.2.17 (chart appVersion drops the v prefix)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(storage): add scale-csi (TrueNAS NVMe-oF/iSCSI/NFS) CSI driver (#1376)
  kubernetes/apps/scale-csi/kustomization.yaml
  kubernetes/apps/scale-csi/namespace.yaml
  kubernetes/apps/scale-csi/scale-csi/app/externalsecret.yaml
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
  kubernetes/apps/scale-csi/scale-csi/ks.yaml
Labels: area/kubernetes

migrate(pocket-id): move storage ceph-block -> scale-nvmeof (canary)
  kubernetes/apps/auth/pocket-id/ks.yaml
Labels: area/kubernetes

migrate(pocket-id): move storage ceph-block -> scale-nvmeof (canary) (#1378)
  kubernetes/apps/auth/pocket-id/ks.yaml
Labels: area/kubernetes

feat(scale-csi): v1.2.19 + enable detachedVolumesFromSnapshots
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): v1.2.19 + enable detachedVolumesFromSnapshots (#1379)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): bump to v1.2.20 (detached-copy snapshot-cleanup fix)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): bump to v1.2.20 (detached-copy snapshot-cleanup fix) (#1380)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): bump to v1.2.21 (orphan reconcile/GC — default-on detection, gated delete)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

feat(scale-csi): bump to v1.2.21 (orphan reconcile/GC — default-on detection, gated delete) (#1381)
  kubernetes/apps/scale-csi/scale-csi/app/ocirepository.yaml
Labels: area/kubernetes

migrate(batch1): freshrss, atuin, actual, recyclarr -> scale-nvmeof
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/freshrss/ks.yaml
Labels: area/kubernetes

migrate(batch1): freshrss, atuin, actual, recyclarr -> scale-nvmeof (#1382)
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/freshrss/ks.yaml
Labels: area/kubernetes

feat(scale-csi): enable gated GC delete (nightly CronJob, capped, guarded)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(scale-csi): enable gated GC delete (nightly CronJob, capped, guarded) (#1383)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
Labels: area/kubernetes

migrate(batch2): remaining 11 apps + 3 caches -> scale-nvmeof
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/downloads/autobrr/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
  kubernetes/apps/downloads/pinchflat/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/radarr/app/pvc.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/app/pvc.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/seerr/app/pvc.yaml
  kubernetes/apps/media/seerr/ks.yaml
Labels: area/kubernetes

migrate(batch2): remaining 11 apps + 3 caches -> scale-nvmeof (#1384)
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/downloads/autobrr/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
  kubernetes/apps/downloads/pinchflat/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/radarr/app/pvc.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/app/pvc.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/seerr/app/pvc.yaml
  kubernetes/apps/media/seerr/ks.yaml
Labels: area/kubernetes

migrate(phase2): observability storage -> scale-nvmeof (fresh volumes)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

migrate(phase2): observability storage -> scale-nvmeof (fresh volumes) (#1386)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

migrate(phase3): netbox-postgres storage -> scale-nvmeof (Barman recovery)
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

migrate(phase3): netbox-postgres storage -> scale-nvmeof (Barman recovery) (#1387)
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

fix(netbox-postgres): pin recovery to backup 20260721T000301
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

fix(netbox-postgres): pin recovery to backup 20260721T000301 (#1388)
  kubernetes/apps/database/netbox-postgres/app/cluster.yaml
Labels: area/kubernetes

migrate(phase4/5-prep): drop netbox RWX volsync + remove rook-ceph-cluster dependsOn fleet-wide
  kubernetes/apps/auth/pocket-id/ks.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/database/netbox-postgres/ks.yaml
  kubernetes/apps/downloads/autobrr/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
  kubernetes/apps/downloads/pinchflat/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
  kubernetes/apps/observability/victoria-metrics/ks.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/freshrss/ks.yaml
  kubernetes/apps/self-hosted/netbox/ks.yaml
Labels: area/kubernetes

migrate(phase4/5-prep): drop netbox RWX volsync + remove rook-ceph-cluster dependsOn fleet-wide (#1389)
  kubernetes/apps/auth/pocket-id/ks.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/database/netbox-postgres/ks.yaml
  kubernetes/apps/downloads/autobrr/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/nzbget/ks.yaml
  kubernetes/apps/downloads/pinchflat/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
  kubernetes/apps/observability/victoria-metrics/ks.yaml
  kubernetes/apps/self-hosted/actual/ks.yaml
  kubernetes/apps/self-hosted/atuin/ks.yaml
  kubernetes/apps/self-hosted/freshrss/ks.yaml
  kubernetes/apps/self-hosted/netbox/ks.yaml
Labels: area/kubernetes

migrate(phase5-prep): volsync defaults + default StorageClass -> scale-nvmeof
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

migrate(phase5-prep): volsync defaults + default StorageClass -> scale-nvmeof (#1390)
  kubernetes/apps/scale-csi/scale-csi/app/helmrelease.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

migrate(phase5): decommission Rook Ceph
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/mgr-failover-cronjob.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/securitypolicy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

migrate(phase5): decommission Rook Ceph (#1391)
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/mgr-failover-cronjob.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/securitypolicy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

docs(readme): reflect scale-csi + openebs-ssd storage architecture
  README.md
Labels: area/docs

docs(readme): reflect scale-csi + openebs-ssd storage architecture (#1395)
  README.md
Labels: area/docs

docs(readme): finish scale-csi storage sections + honest downloader scratch sizes
  README.md
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/docs, area/kubernetes

docs(readme): finish scale-csi storage sections + honest downloader scratch sizes (#1396)
  README.md
  kubernetes/apps/downloads/nzbget/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/docs, area/kubernetes

feat(observability): scrape scale-csi metrics + replace Ceph kromgo panels
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmrule.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/kubernetes

feat(observability): scrape scale-csi metrics + replace Ceph kromgo panels (#1397)
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/scale-csi/scale-csi/app/kustomization.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmrule.yaml
  kubernetes/apps/scale-csi/scale-csi/app/vmservicescrape.yaml
  scripts/cloudflare-worker/kromgo-proxy/src/index.js
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
