Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

chore: Enable Grafana dashboards for ES, Spegel and fluent-bit
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

chore: Enable Grafana dashboards for ES, Spegel and fluent-bit
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
Labels: area/kubernetes

fix: Enable ServiceMonitor in Rook Ceph HelmRelease
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix: Enable ServiceMonitor in Rook Ceph HelmRelease
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix: Enable ServiceMonitor in Rook Ceph HelmRelease
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/mendhak/http-https-echo ( 37 ➔ 38 )
  kubernetes/apps/network/echo/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/mendhak/http-https-echo ( 37 ➔ 38 )
  kubernetes/apps/network/echo/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): Add manual CSI metrics Service and ServiceMonitor
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-servicemonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): Add manual CSI metrics Service and ServiceMonitor
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-servicemonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): Add manual CSI metrics Service and ServiceMonitor
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-servicemonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix: correct CSI metrics service selectors to match pod labels
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
Labels: area/kubernetes

fix: correct CSI metrics service selectors to match pod labels
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
Labels: area/kubernetes

fix: correct CSI metrics service selectors to match pod labels
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
Labels: area/kubernetes

feat: enable CSI liveness metrics with explicit port configuration
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable CSI liveness metrics with explicit port configuration
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable CSI liveness metrics with explicit port configuration
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

feat: configure CSI Driver CRs with liveness metrics
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-cephfs-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-rbd-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

feat: configure CSI Driver CRs with liveness metrics
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-cephfs-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-rbd-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

feat: configure CSI Driver CRs with liveness metrics
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-cephfs-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-rbd-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

revert: remove CSI liveness metrics monitoring
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-servicemonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-cephfs-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-rbd-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

revert: remove CSI liveness metrics monitoring
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-servicemonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-cephfs-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-rbd-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

revert: remove CSI liveness metrics monitoring
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-service.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-metrics-servicemonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-cephfs-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/driver-rbd-liveness-patch.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix(rook-ceph): disable CSI metrics monitoring to prevent scrape pool alerts
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): disable CSI metrics monitoring to prevent scrape pool alerts
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): disable CSI metrics monitoring to prevent scrape pool alerts
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.28.0 ➔ v5.29.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.28.0 ➔ v5.29.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: fact correction
  README.md
Labels: area/docs

chore: fact correction
  README.md
Labels: area/docs

chore: fact correction
  README.md
Labels: area/docs

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.1.5.5213 ➔ 2.1.5.5216 )
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/prowlarr ( 2.1.5.5213 ➔ 2.1.5.5216 )
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.0.2.10271 ➔ 6.0.3.10276 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/radarr ( 6.0.2.10271 ➔ 6.0.3.10276 )
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v43.0.18 ➔ v43.0.19 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v43.0.18 ➔ v43.0.19 )
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.61.10 ➔ 0.61.11 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack ( 0.61.10 ➔ 0.61.11 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/victoria-metrics/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/n8n-io/n8n ( 1.117.1 ➔ 1.118.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.117.1 ➔ 1.118.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
