Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.52 ➔ 0.0.53 ) (#757)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.52 ➔ 0.0.53 ) (#757)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/qdm12/gluetun ( v3.41.0 ➔ v3.41.1 ) (#756)
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/qdm12/gluetun ( v3.41.0 ➔ v3.41.1 ) (#756)
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/webhook ( 2.8.2 ➔ 2.8.3 ) (#759)
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/webhook ( 2.8.2 ➔ 2.8.3 ) (#759)
  kubernetes/apps/self-hosted/webhook/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image gsoci.azurecr.io/charts/giantswarm/silence-operator ( 0.20.0 ➔ 0.20.1 ) (#758)
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image gsoci.azurecr.io/charts/giantswarm/silence-operator ( 0.20.0 ➔ 0.20.1 ) (#758)
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.5 ➔ 7.4.9 ) (#750)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/netbox-community/netbox-chart/netbox ( 7.4.5 ➔ 7.4.9 ) (#750)
  kubernetes/apps/self-hosted/netbox/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update flux-operator group (#751)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group (#751)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(downloads): replace nzbget with sabnzbd
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/apps/downloads/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/downloads/sabnzbd/app/securitypolicy.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
Labels: area/kubernetes

feat(downloads): replace nzbget with sabnzbd
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/apps/downloads/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/downloads/sabnzbd/app/securitypolicy.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
Labels: area/kubernetes

feat(downloads): replace nzbget with sabnzbd
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/nzbget/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/apps/downloads/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/downloads/sabnzbd/app/securitypolicy.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
Labels: area/kubernetes

feat: Allow additional bash commands and web fetches in Claude settings and ignore local configuration.
  .gitignore
Labels: none

feat: Allow additional bash commands and web fetches in Claude settings and ignore local configuration.
  .gitignore
Labels: none

feat: Allow additional bash commands and web fetches in Claude settings and ignore local configuration.
  .gitignore
Labels: none

chore: expand .claude/ gitignore rule to cover all files within the directory.
  .gitignore
Labels: none

chore: expand .claude/ gitignore rule to cover all files within the directory.
  .gitignore
Labels: none

chore: expand .claude/ gitignore rule to cover all files within the directory.
  .gitignore
Labels: none

perf(sabnzbd): increase CPU request and use memory-backed tmpfs
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

perf(sabnzbd): increase CPU request and use memory-backed tmpfs
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

perf(sabnzbd): increase CPU request and use memory-backed tmpfs
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore: Increase SABnzbd memory request and update .gitignore to ignore the .claude directory.
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore: Increase SABnzbd memory request and update .gitignore to ignore the .claude directory.
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore: Increase SABnzbd memory request and update .gitignore to ignore the .claude directory.
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(sabnzbd): switch to linuxserver 5.0.0-unstable for NNTP pipelining
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(sabnzbd): switch to linuxserver 5.0.0-unstable for NNTP pipelining
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(sabnzbd): switch to linuxserver 5.0.0-unstable for NNTP pipelining
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): use port 80 from existing config
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): use port 80 from existing config
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): use port 80 from existing config
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): fix startup probe to use correct port
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): fix startup probe to use correct port
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(sabnzbd): fix startup probe to use correct port
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.53 ➔ 0.0.54 ) (#763)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.53 ➔ 0.0.54 ) (#763)
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/external-dns-unifi-webhook ( v0.8.1 ➔ v0.8.2 ) (#760)
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/external-dns-unifi-webhook ( v0.8.1 ➔ v0.8.2 ) (#760)
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
