Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.7.0 ➔ 11.8.0 ) (#745)
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.7.0 ➔ 11.8.0 ) (#745)
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

Update envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

Update envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

Update envoy.yaml
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

ci(github-action): update action astral-sh/setup-uv ( v7.2.1 ➔ v7.3.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.2.1 ➔ v7.3.0 )
  .github/workflows/schemas.yaml
Labels: area/github

fix(observability): add layerSelector to prometheus-operator-crds OCIRepository
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes

fix(observability): add layerSelector to prometheus-operator-crds OCIRepository
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes

fix(observability): add layerSelector to prometheus-operator-crds OCIRepository
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes

feat: Configure Talos nodes for PTP time synchronization and expand Claude command runner allowed commands.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat: Configure Talos nodes for PTP time synchronization and expand Claude command runner allowed commands.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat: Configure Talos nodes for PTP time synchronization and expand Claude command runner allowed commands.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(container)!: Update image ghcr.io/external-secrets/charts/external-secrets ( 1.3.2 ➔ 2.0.0 ) (#747)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/external-secrets/charts/external-secrets ( 1.3.2 ➔ 2.0.0 ) (#747)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/atuinsh/atuin ( v18.11.0 ➔ v18.12.0 ) (#749)
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/atuinsh/atuin ( v18.11.0 ➔ v18.12.0 ) (#749)
  kubernetes/apps/self-hosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared ( 2026.1.2 ➔ 2026.2.0 ) (#746)
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared ( 2026.1.2 ➔ 2026.2.0 ) (#746)
  kubernetes/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): use actual ceph_health_status value in kromgo badge
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(observability): use actual ceph_health_status value in kromgo badge
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

fix(observability): use actual ceph_health_status value in kromgo badge
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

config: Update Talos node time synchronization to NTP servers and expand allowed commands in Claude settings.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

config: Update Talos node time synchronization to NTP servers and expand allowed commands in Claude settings.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

config: Update Talos node time synchronization to NTP servers and expand allowed commands in Claude settings.
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

fix(container): update talos group ( v1.12.2 ➔ v1.12.3 ) (#748)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update talos group ( v1.12.2 ➔ v1.12.3 ) (#748)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

chore: Add `.claude/settings.local.json` to `.gitignore`.
  .gitignore
Labels: none

chore: Add `.claude/settings.local.json` to `.gitignore`.
  .gitignore
Labels: none

chore: Add `.claude/settings.local.json` to `.gitignore`.
  .gitignore
Labels: none

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.12 ➔ 0.0.13 ) (#754)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.12 ➔ 0.0.13 ) (#754)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps): update dependency go ( 1.25.7 ➔ 1.26.0 ) (#753)
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

feat(deps): update dependency go ( 1.25.7 ➔ 1.26.0 ) (#753)
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(deps): update kubernetes packages ( v0.35.0 ➔ v0.35.1 ) (#755)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(deps): update kubernetes packages ( v0.35.0 ➔ v0.35.1 ) (#755)
  cmd/homeops-cli/go.mod
  cmd/homeops-cli/go.sum
Labels: area/homeops-cli

fix(container): update kubernetes group ( v1.35.0 ➔ v1.35.1 ) (#752)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update kubernetes group ( v1.35.0 ➔ v1.35.1 ) (#752)
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action renovatebot/github-action ( v46.0.2 ➔ v46.1.0 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v46.0.2 ➔ v46.1.0 )
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
