Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.11 ➔ 0.0.12 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/gatus-sidecar ( 0.0.11 ➔ 0.0.12 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/qbittorrent ( 5.1.3 ➔ 5.1.4 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/qbittorrent ( 5.1.3 ➔ 5.1.4 )
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action)!: Update action actions/checkout
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action)!: Update action actions/checkout
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
Labels: area/github

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.0.0 ➔ 1.1.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/external-secrets/charts/external-secrets ( 1.0.0 ➔ 1.1.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.4.2 ➔ 11.5.0 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.4.2 ➔ 11.5.0 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 24.0.2 ➔ 25.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container)!: Update image ghcr.io/prometheus-community/charts/prometheus-operator-crds ( 24.0.2 ➔ 25.0.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/home-operations/charts-mirror/openebs ( 4.3.3 ➔ 4.4.0 )
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-operations/charts-mirror/openebs ( 4.3.3 ➔ 4.4.0 )
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
Labels: area/kubernetes

feat: Enable socket load balancing in Cilium.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: Enable socket load balancing in Cilium.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

feat: Enable socket load balancing in Cilium.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action actions/create-github-app-token ( v2.1.4 ➔ v2.2.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
Labels: area/github

ci(github-action): update action actions/create-github-app-token ( v2.1.4 ➔ v2.2.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
Labels: area/github

feat(container): update image ghcr.io/twin/gatus ( v5.32.0 ➔ v5.33.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus ( v5.32.0 ➔ v5.33.0 )
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: Enable Cilium socketLB hostNamespaceOnly and update OpenEBS OCI repository URL.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
Labels: area/kubernetes

chore: Enable Cilium socketLB hostNamespaceOnly and update OpenEBS OCI repository URL.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
Labels: area/kubernetes

chore: Enable Cilium socketLB hostNamespaceOnly and update OpenEBS OCI repository URL.
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.19.6 ➔ 2.20.0 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx ( 2.19.6 ➔ 2.20.0 )
  kubernetes/apps/self-hosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v44.0.3 ➔ v44.0.4 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v44.0.3 ➔ v44.0.4 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.3 ➔ v7.1.4 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action astral-sh/setup-uv ( v7.1.3 ➔ v7.1.4 )
  .github/workflows/schemas.yaml
Labels: area/github

feat(container): update image docker.io/getmeili/meilisearch ( v1.26.0 ➔ v1.27.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.26.0 ➔ v1.27.0 )
  kubernetes/apps/self-hosted/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

ci(github-action): update action actions/setup-python ( v6.0.0 ➔ v6.1.0 )
  .github/workflows/schemas.yaml
Labels: area/github

ci(github-action): update action actions/setup-python ( v6.0.0 ➔ v6.1.0 )
  .github/workflows/schemas.yaml
Labels: area/github

feat: add TrueNAS CSI driver deployment with Flux Kustomization, ExternalSecret, and StorageClass definitions
  kubernetes/apps/truenas-csi/kustomization.yaml
  kubernetes/apps/truenas-csi/namespace.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/externalsecret.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/kustomization.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/ocirepository.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/storageclass-iscsi.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/storageclass-nfs.yaml
  kubernetes/apps/truenas-csi/truenas-csi/ks.yaml
Labels: area/kubernetes

feat: add TrueNAS CSI driver deployment with Flux Kustomization, ExternalSecret, and StorageClass definitions
  kubernetes/apps/truenas-csi/kustomization.yaml
  kubernetes/apps/truenas-csi/namespace.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/externalsecret.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/kustomization.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/ocirepository.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/storageclass-iscsi.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/storageclass-nfs.yaml
  kubernetes/apps/truenas-csi/truenas-csi/ks.yaml
Labels: area/kubernetes

feat: add TrueNAS CSI driver deployment with Flux Kustomization, ExternalSecret, and StorageClass definitions
  kubernetes/apps/truenas-csi/kustomization.yaml
  kubernetes/apps/truenas-csi/namespace.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/externalsecret.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/kustomization.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/ocirepository.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/storageclass-iscsi.yaml
  kubernetes/apps/truenas-csi/truenas-csi/app/storageclass-nfs.yaml
  kubernetes/apps/truenas-csi/truenas-csi/ks.yaml
Labels: area/kubernetes

fix(truenas-csi): correct external-secrets dependency name
  kubernetes/apps/truenas-csi/truenas-csi/ks.yaml
Labels: area/kubernetes
