Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(container): update image docker.io/getmeili/meilisearch ( v1.22.1 ➔ v1.22.2 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/getmeili/meilisearch ( v1.22.1 ➔ v1.22.2 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.16.9 ➔ v0.16.10 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.16.9 ➔ v0.16.10 )
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat: implement Flux 2.7.0 post-migration changes
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/common/sops/secret.sops.yaml
  kubernetes/components/defaults/kustomization.yaml
  kubernetes/components/namespace/alerts/alertmanager/alert.yaml
  kubernetes/components/namespace/alerts/alertmanager/kustomization.yaml
  kubernetes/components/namespace/alerts/alertmanager/provider.yaml
  kubernetes/components/namespace/alerts/github-status/alert.yaml
  kubernetes/components/namespace/alerts/github-status/externalsecret.yaml
  kubernetes/components/namespace/alerts/github-status/kustomization.yaml
  kubernetes/components/namespace/alerts/github-status/provider.yaml
  kubernetes/components/namespace/alerts/kustomization.yaml
  kubernetes/components/namespace/cluster-config-externalsecret.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/bootstrap, area/kubernetes, area/homeops-cli

feat: implement Flux 2.7.0 post-migration changes
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/common/sops/secret.sops.yaml
  kubernetes/components/defaults/kustomization.yaml
  kubernetes/components/namespace/alerts/alertmanager/alert.yaml
  kubernetes/components/namespace/alerts/alertmanager/kustomization.yaml
  kubernetes/components/namespace/alerts/alertmanager/provider.yaml
  kubernetes/components/namespace/alerts/github-status/alert.yaml
  kubernetes/components/namespace/alerts/github-status/externalsecret.yaml
  kubernetes/components/namespace/alerts/github-status/kustomization.yaml
  kubernetes/components/namespace/alerts/github-status/provider.yaml
  kubernetes/components/namespace/alerts/kustomization.yaml
  kubernetes/components/namespace/cluster-config-externalsecret.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/bootstrap, area/kubernetes, area/homeops-cli

feat: implement Flux 2.7.0 post-migration changes
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/resources.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/common/sops/secret.sops.yaml
  kubernetes/components/defaults/kustomization.yaml
  kubernetes/components/namespace/alerts/alertmanager/alert.yaml
  kubernetes/components/namespace/alerts/alertmanager/kustomization.yaml
  kubernetes/components/namespace/alerts/alertmanager/provider.yaml
  kubernetes/components/namespace/alerts/github-status/alert.yaml
  kubernetes/components/namespace/alerts/github-status/externalsecret.yaml
  kubernetes/components/namespace/alerts/github-status/kustomization.yaml
  kubernetes/components/namespace/alerts/github-status/provider.yaml
  kubernetes/components/namespace/alerts/kustomization.yaml
  kubernetes/components/namespace/cluster-config-externalsecret.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/bootstrap, area/kubernetes, area/homeops-cli

fix: revert namespace component back to common
  kubernetes/components/common/alerts/alertmanager/alert.yaml
  kubernetes/components/common/alerts/alertmanager/kustomization.yaml
  kubernetes/components/common/alerts/alertmanager/provider.yaml
  kubernetes/components/common/alerts/github-status/alert.yaml
  kubernetes/components/common/alerts/github-status/externalsecret.yaml
  kubernetes/components/common/alerts/github-status/kustomization.yaml
  kubernetes/components/common/alerts/github-status/provider.yaml
  kubernetes/components/common/alerts/kustomization.yaml
  kubernetes/components/common/cluster-config-externalsecret.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

fix: revert namespace component back to common
  kubernetes/components/common/alerts/alertmanager/alert.yaml
  kubernetes/components/common/alerts/alertmanager/kustomization.yaml
  kubernetes/components/common/alerts/alertmanager/provider.yaml
  kubernetes/components/common/alerts/github-status/alert.yaml
  kubernetes/components/common/alerts/github-status/externalsecret.yaml
  kubernetes/components/common/alerts/github-status/kustomization.yaml
  kubernetes/components/common/alerts/github-status/provider.yaml
  kubernetes/components/common/alerts/kustomization.yaml
  kubernetes/components/common/cluster-config-externalsecret.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

fix: revert namespace component back to common
  kubernetes/components/common/alerts/alertmanager/alert.yaml
  kubernetes/components/common/alerts/alertmanager/kustomization.yaml
  kubernetes/components/common/alerts/alertmanager/provider.yaml
  kubernetes/components/common/alerts/github-status/alert.yaml
  kubernetes/components/common/alerts/github-status/externalsecret.yaml
  kubernetes/components/common/alerts/github-status/kustomization.yaml
  kubernetes/components/common/alerts/github-status/provider.yaml
  kubernetes/components/common/alerts/kustomization.yaml
  kubernetes/components/common/cluster-config-externalsecret.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

feat: implement patchception for HelmRelease defaults
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat: implement patchception for HelmRelease defaults
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat: implement patchception for HelmRelease defaults
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix: update all kustomization files to reference components/common instead of components/namespace
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes, area/homeops-cli

fix: update all kustomization files to reference components/common instead of components/namespace
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes, area/homeops-cli

fix: update all kustomization files to reference components/common instead of components/namespace
  .claude/settings.local.json
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/openebs-system/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
Labels: area/kubernetes, area/homeops-cli

fix: remove rendered config files and add to gitignore
  .gitignore
Labels: none

fix: remove rendered config files and add to gitignore
  .gitignore
Labels: none

fix: remove rendered config files and add to gitignore
  .gitignore
Labels: none

fix: add external-secrets to bootstrap helmfile with installCRDs disabled and fix template ROOT_DIR paths
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix: add external-secrets to bootstrap helmfile with installCRDs disabled and fix template ROOT_DIR paths
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

fix: add external-secrets to bootstrap helmfile with installCRDs disabled and fix template ROOT_DIR paths
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
Labels: area/homeops-cli

feat(kubernetes): add drift detection warning mode to ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat(kubernetes): add drift detection warning mode to ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat(kubernetes): add drift detection warning mode to ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix: remove manual SOPS decryption from pinchflat ks.yaml
  kubernetes/apps/default/pinchflat/ks.yaml
Labels: area/kubernetes

fix: remove manual SOPS decryption from pinchflat ks.yaml
  kubernetes/apps/default/pinchflat/ks.yaml
Labels: area/kubernetes

fix: remove manual SOPS decryption from pinchflat ks.yaml
  kubernetes/apps/default/pinchflat/ks.yaml
Labels: area/kubernetes

fix(envoy-gateway): update envoy and flux configuration
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(envoy-gateway): update envoy and flux configuration
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(envoy-gateway): update envoy and flux configuration
  kubernetes/apps/network/envoy-gateway/app/envoy.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat(homeops-cli): add 11 new kubernetes and volsync management commands
  cmd/homeops-cli/COMMANDS_NEW.md
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/volsync/volsync.go
Labels: area/homeops-cli

feat(homeops-cli): add 11 new kubernetes and volsync management commands
  cmd/homeops-cli/COMMANDS_NEW.md
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/volsync/volsync.go
Labels: area/homeops-cli

feat(homeops-cli): add 11 new kubernetes and volsync management commands
  cmd/homeops-cli/COMMANDS_NEW.md
  cmd/homeops-cli/cmd/kubernetes/kubernetes.go
  cmd/homeops-cli/cmd/volsync/volsync.go
Labels: area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.36 ➔ 0.0.38 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.36 ➔ 0.0.38 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat(kubernetes): migrate fusion app from default to self-hosted namespace
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/kubernetes

feat(kubernetes): migrate fusion app from default to self-hosted namespace
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/kubernetes

feat(kubernetes): migrate fusion app from default to self-hosted namespace
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/kubernetes

revert: move fusion back to default namespace - VolSync uses app@namespace identity
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/helmrelease.yaml
  kubernetes/apps/self-hosted/fusion/app/kustomization.yaml
  kubernetes/apps/self-hosted/fusion/app/ocirepository.yaml
  kubernetes/apps/self-hosted/fusion/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
