Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

feat: add dnscrypt-proxy Grafana dashboard
  kubernetes/apps/observability/victoria-metrics/app/dnscrypt-proxy-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
Labels: area/kubernetes

feat: add dnscrypt-proxy Grafana dashboard
  kubernetes/apps/observability/victoria-metrics/app/dnscrypt-proxy-dashboard.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
Labels: area/kubernetes

fix: add GrafanaDashboard CRD for dnscrypt-proxy dashboard
  kubernetes/apps/observability/victoria-metrics/app/dnscrypt-proxy-dashboard.yaml
Labels: area/kubernetes

fix: add GrafanaDashboard CRD for dnscrypt-proxy dashboard
  kubernetes/apps/observability/victoria-metrics/app/dnscrypt-proxy-dashboard.yaml
Labels: area/kubernetes

fix: increase victoria-logs helm timeout to 10m, disable upgrade rollback
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

fix: increase victoria-logs helm timeout to 10m, disable upgrade rollback
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): add PG-replication and DNS/DHCP alerts
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(observability): add PG-replication and DNS/DHCP alerts
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmstaticscrape.yaml
Labels: area/kubernetes

feat(ci): gate PRs on live-cluster server-side dry-run; enable helm upgrade.force on stateful releases
  .github/workflows/flux-local.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/github, area/kubernetes

feat(ci): gate PRs on live-cluster server-side dry-run; enable helm upgrade.force on stateful releases
  .github/workflows/flux-local.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(ci): drop unsupported --enable-helm flag from flux-local build in cluster-dryrun job
  .github/workflows/flux-local.yaml
Labels: area/github

fix(ci): drop unsupported --enable-helm flag from flux-local build in cluster-dryrun job
  .github/workflows/flux-local.yaml
Labels: area/github

fix(observability): repair DNS/DHCP alerts + VictoriaLogsDown scrape
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): repair DNS/DHCP alerts + VictoriaLogsDown scrape
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(ci): substitute Flux postBuild vars before server-side dry-run
  .github/workflows/flux-local.yaml
Labels: area/github

fix(ci): substitute Flux postBuild vars before server-side dry-run
  .github/workflows/flux-local.yaml
Labels: area/github

fix(flux): drop upgrade.force from HRs; SSA+ForceConflicts now rejects it
  .github/workflows/flux-local.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(flux): drop upgrade.force from HRs; SSA+ForceConflicts now rejects it
  .github/workflows/flux-local.yaml
  kubernetes/apps/observability/victoria-logs-collector/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(observability): DNSCacheHitRatioLow — measure 3-layer effective hit ratio
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

fix(observability): DNSCacheHitRatioLow — measure 3-layer effective hit ratio
  kubernetes/apps/observability/victoria-metrics/app/vmrule-network-infra.yaml
Labels: area/kubernetes

Revert "feat(container): update kubernetes group ( v1.35.4 ➔ v1.36.0 ) (#993)"
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

Revert "feat(container): update kubernetes group ( v1.35.4 ➔ v1.36.0 ) (#993)"
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes, area/homeops-cli

feat(observability): route alerts to Friday3 diagnostics
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): route alerts to Friday3 diagnostics
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): shorten Friday3 webhook route
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): shorten Friday3 webhook route
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(observability): rename twingate0/1 blackbox probes to edge0/1
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

fix(observability): rename twingate0/1 blackbox probes to edge0/1 (#1008)
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

fix(observability): rename twingate0/1 blackbox probes to edge0/1 (#1008)
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

fix(system-upgrade): pin talosctl for kubernetes 1.36
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
Labels: area/kubernetes

fix(volsync): migrate mutating admission policy to v1
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(volsync): migrate mutating admission policy to v1
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix(talos): remove ga mutating admission policy flags
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(talos): remove ga mutating admission policy flags
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

fix(volsync): use healthChecks instead of wait: true
  kubernetes/apps/volsync-system/volsync/ks.yaml
Labels: area/kubernetes

fix(volsync): use healthChecks instead of wait: true
  kubernetes/apps/volsync-system/volsync/ks.yaml
Labels: area/kubernetes

feat(observability): adopt 4 wins from onedr0p VM stack
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/mutatingadmissionpolicy.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/resources/flux-metrics.yaml
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
Labels: area/kubernetes

feat(observability): adopt 4 wins from onedr0p VM stack (#1020)
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/mutatingadmissionpolicy.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/resources/flux-metrics.yaml
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
Labels: area/kubernetes

feat(observability): adopt 4 wins from onedr0p VM stack (#1020)
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/mutatingadmissionpolicy.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics/app/resources/flux-metrics.yaml
  kubernetes/apps/observability/vmauth/app/vmauth.yaml
Labels: area/kubernetes

feat(observability): add blackbox-exporter grafana dashboard
  kubernetes/apps/observability/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
