Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

refactor(rook-ceph): remove deprecated keepalive and tcp timeout settings
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(rook-ceph): add cpu resource request for osd
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(rook-ceph): add cpu resource request for osd
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/perfectra1n/volsync ( 0.15.41 ➔ v0.15.42 ) (#231)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts-mirror/volsync-perfectra1n ( 0.16.8 ➔ 0.16.9 ) (#230)
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/grafana/helm-charts/loki ( 6.38.0 ➔ 6.39.0 ) (#232)
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

ci(github-action)!: Update action actions/github-script ( v7.1.0 ➔ v8.0.0 ) (#233)
  .github/workflows/tag.yaml
Labels: area/github

ci(github-action): update action actions/labeler ( v6.0.0 ➔ v6.0.1 )
  .github/workflows/labeler.yaml
Labels: area/github

refactor(rook-ceph): remove gateway and dashboard route configurations
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove gateway and dashboard route configurations
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): uncomment and update dashboard route configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): uncomment and update dashboard route configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(homeops-cli): update Talos VM deployment for ESXi infrastructure changes
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, area/homeops-cli

feat(homeops-cli): update Talos VM deployment for ESXi infrastructure changes
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/go.sum
  cmd/homeops-cli/internal/config/versions.go
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, area/homeops-cli

chore(container): update image ghcr.io/home-operations/qbittorrent ( 9dd0164 ➔ 285daaa ) (#234)
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

refactor(gateway): remove pushsecret.yaml from kustomization
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
Labels: area/kubernetes

refactor(gateway): remove pushsecret.yaml from kustomization
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
Labels: area/kubernetes

fix(longhorn): add missing namespace dependencies for openebs and cert-manager
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

fix(longhorn): add missing namespace dependencies for openebs and cert-manager
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

fix(longhorn): remove non-existent cert-manager-issuers dependency
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

fix(longhorn): remove non-existent cert-manager-issuers dependency
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

fix(longhorn): correct components path for gateway
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

fix(longhorn): correct components path for gateway
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
Labels: area/kubernetes

build(longhorn-system): add common component and namespace to kustomization
  kubernetes/apps/longhorn-system/kustomization.yaml
Labels: area/kubernetes

build(longhorn-system): add common component and namespace to kustomization
  kubernetes/apps/longhorn-system/kustomization.yaml
Labels: area/kubernetes

refactor(longhorn-system): update namespace from default to longhorn-system
  kubernetes/apps/longhorn-system/kustomization.yaml
Labels: area/kubernetes

refactor(longhorn-system): update namespace from default to longhorn-system
  kubernetes/apps/longhorn-system/kustomization.yaml
Labels: area/kubernetes

fix(longhorn): switch to official Helm repository v1.9.1
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrepository.yaml
  kubernetes/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/app/ocirepository.yaml
Labels: area/kubernetes

fix(longhorn): switch to official Helm repository v1.9.1
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrepository.yaml
  kubernetes/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/app/ocirepository.yaml
Labels: area/kubernetes

feat(talos): add iscsi-tools system extension for Longhorn
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

feat(talos): add iscsi-tools system extension for Longhorn
  cmd/homeops-cli/internal/templates/talos/schematic.yaml
Labels: area/homeops-cli

fix(cli): correct template path for schematic ID updates
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(cli): correct template path for schematic ID updates
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

refactor(longhorn): reorganize storage classes and update configurations
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  kubernetes/apps/longhorn-system/longhorn/app/httproute.yaml
  kubernetes/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/app/storageclass.yaml
  kubernetes/apps/longhorn-system/longhorn/app/volumesnapshotclass.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/ks.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes, area/homeops-cli

refactor(longhorn): reorganize storage classes and update configurations
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  kubernetes/apps/longhorn-system/longhorn/app/httproute.yaml
  kubernetes/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/app/storageclass.yaml
  kubernetes/apps/longhorn-system/longhorn/app/volumesnapshotclass.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/ks.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes, area/homeops-cli

refactor(longhorn): consolidate storageclass kustomization into main ks.yaml
  kubernetes/apps/longhorn-system/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/ks.yaml
Labels: area/kubernetes

refactor(longhorn): consolidate storageclass kustomization into main ks.yaml
  kubernetes/apps/longhorn-system/kustomization.yaml
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/ks.yaml
Labels: area/kubernetes

refactor(talos): update disk selector conditions in node templates
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

refactor(talos): update disk selector conditions in node templates
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

feat(talos): add disk mounts for longhorn and local-hostpath storage
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli
