Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

refactor(kubernetes): comment out unused resources in kustomization
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): comment out unused resources in kustomization
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: enable fusion deployment in kustomization
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: enable fusion deployment in kustomization
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: disable VolSync cleanup to prevent premature destination PVC deletion
  kubernetes/components/volsync/replicationdestination.yaml
Labels: area/kubernetes

fix: disable VolSync cleanup to prevent premature destination PVC deletion
  kubernetes/components/volsync/replicationdestination.yaml
Labels: area/kubernetes

refactor(kustomization): uncomment resource entries in kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

refactor(kustomization): uncomment resource entries in kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

Update controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Update controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Update controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Update controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Update controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Update controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
Labels: area/homeops-cli

Update 192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
Labels: area/homeops-cli

Update 192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
Labels: area/homeops-cli

Update 192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
Labels: area/homeops-cli

Update 192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
Labels: area/homeops-cli

Update 192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

Update 192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

Temporarily disable Loki and Prometheus to clean up PVC issues
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

Temporarily disable Loki and Prometheus to clean up PVC issues
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

build(observability): enable kube-prometheus-stack and loki resources
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

build(observability): enable kube-prometheus-stack and loki resources
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

ci(github-action): update action ghcr.io/allenporter/flux-local ( v7.8.0 ➔ v7.9.0 )
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

refactor(k8s): remove csi-driver-nfs deployment and related files
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/ocirepository.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes
