Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

fix(kromgo): add 2 replicas with zero-unavailable rolling updates
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): add 2 replicas with zero-unavailable rolling updates
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): use PR automerge for rules that require tests
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): use PR automerge for rules that require tests
  .renovate/autoMerge.json5
Labels: area/renovate

test: revert sonarr to test automerge with status checks
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

test: revert sonarr to test automerge with status checks
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): add kubernetes components to critical infra blocklist and observability to trusted minors
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): add kubernetes components to critical infra blocklist and observability to trusted minors
  .renovate/autoMerge.json5
Labels: area/renovate

feat(flux,volsync): add DefaultToRetryOnFailure and native moverVolumes
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

feat(flux,volsync): add DefaultToRetryOnFailure and native moverVolumes
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/maintenance/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(renovate): add siderolabs/kubelet to kubernetes group and revert premature v1.35.3 bump
  .renovate/groups.json5
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/renovate, area/homeops-cli

fix(renovate): add siderolabs/kubelet to kubernetes group and revert premature v1.35.3 bump
  .renovate/groups.json5
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/testdata/fixtures/valid-talos-config.yaml
Labels: area/renovate, area/homeops-cli

feat(renovate): expand trusted minor auto-merge list
  .renovate/autoMerge.json5
Labels: area/renovate

feat(renovate): expand trusted minor auto-merge list
  .renovate/autoMerge.json5
Labels: area/renovate

feat(ci,renovate): harden auto-merge pipeline for safe unattended operation
  .github/workflows/flux-reconcile.yaml
  .renovate/autoMerge.json5
  .renovaterc.json5
Labels: area/github, area/renovate

feat(ci,renovate): harden auto-merge pipeline for safe unattended operation
  .github/workflows/flux-reconcile.yaml
  .renovate/autoMerge.json5
  .renovaterc.json5
Labels: area/github, area/renovate

fix(renovate,ci): address staff review findings
  .github/workflows/flux-reconcile.yaml
  .renovate/autoMerge.json5
Labels: area/github, area/renovate

fix(renovate,ci): address staff review findings
  .github/workflows/flux-reconcile.yaml
  .renovate/autoMerge.json5
Labels: area/github, area/renovate

fix(renovate): narrow annotated dependency regex to specific paths
  .renovate/customManagers.json5
Labels: area/renovate

fix(renovate): narrow annotated dependency regex to specific paths
  .renovate/customManagers.json5
Labels: area/renovate

revert(renovate): restore broad regex scan for annotated dependencies
  .renovate/customManagers.json5
Labels: area/renovate

revert(renovate): restore broad regex scan for annotated dependencies
  .renovate/customManagers.json5
Labels: area/renovate

feat(renovate): auto-merge non-critical major updates with 14-day soak
  .renovate/autoMerge.json5
Labels: area/renovate

feat(renovate): auto-merge non-critical major updates with 14-day soak
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): reduce major soak time from 14 to 7 days
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): reduce major soak time from 14 to 7 days
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): reduce major soak time from 7 to 3 days
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): reduce major soak time from 7 to 3 days
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): remove soak time for non-critical major updates
  .renovate/autoMerge.json5
Labels: area/renovate

fix(renovate): remove soak time for non-critical major updates
  .renovate/autoMerge.json5
Labels: area/renovate

feat(renovate): extend major auto-merge to all non-infra datasources
  .renovate/autoMerge.json5
Labels: area/renovate

feat(renovate): extend major auto-merge to all non-infra datasources
  .renovate/autoMerge.json5
Labels: area/renovate

feat(ci): add Pushover alert on post-merge Flux reconcile failure
  .github/workflows/flux-reconcile.yaml
Labels: area/github

feat(ci): add Pushover alert on post-merge Flux reconcile failure
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(ci): use --form-string for Pushover curl to handle special characters
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(ci): use --form-string for Pushover curl to handle special characters
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(ci): replace flux CLI with kubectl for reconcile workflow
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(ci): replace flux CLI with kubectl for reconcile workflow
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(ci): install flux CLI and kubectl in reconcile workflow
  .github/workflows/flux-reconcile.yaml
Labels: area/github

fix(ci): install flux CLI and kubectl in reconcile workflow
  .github/workflows/flux-reconcile.yaml
Labels: area/github

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
