Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(observability): migrate to TrueNAS iSCSI storage
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics/ks.yaml
Labels: area/kubernetes

docs: add VolSync migration checklist
  docs/volsync-migration-checklist.md
Labels: none

docs: add VolSync migration checklist
  docs/volsync-migration-checklist.md
Labels: none

docs: add VolSync migration checklist
  docs/volsync-migration-checklist.md
Labels: none

fix(volsync): add pod affinity to ensure backup pods schedule on same node as app
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

fix(volsync): add pod affinity to ensure backup pods schedule on same node as app
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

fix(volsync): add pod affinity to ensure backup pods schedule on same node as app
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

docs(volsync): add pod affinity configuration to migration checklist
  .claude/settings.local.json
  docs/volsync-migration-checklist.md
Labels: none

docs(volsync): add pod affinity configuration to migration checklist
  .claude/settings.local.json
  docs/volsync-migration-checklist.md
Labels: none

docs(volsync): add pod affinity configuration to migration checklist
  .claude/settings.local.json
  docs/volsync-migration-checklist.md
Labels: none

fix(container): update image ghcr.io/home-operations/kopia ( 0.22.0 ➔ 0.22.2 )
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/kopia ( 0.22.0 ➔ 0.22.2 )
  kubernetes/apps/volsync-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add pod affinity to VolSync replication destination mover.
  kubernetes/components/volsync-direct/replicationdestination.yaml
Labels: area/kubernetes

feat: Add pod affinity to VolSync replication destination mover.
  kubernetes/components/volsync-direct/replicationdestination.yaml
Labels: area/kubernetes

feat: Add pod affinity to VolSync replication destination mover.
  kubernetes/components/volsync-direct/replicationdestination.yaml
Labels: area/kubernetes

fix(volsync): use preferred pod affinity for backup/restore pods
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

fix(volsync): use preferred pod affinity for backup/restore pods
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

fix(volsync): use preferred pod affinity for backup/restore pods
  kubernetes/components/volsync-direct/replicationsource.yaml
Labels: area/kubernetes

fix(tqm): correct qbittorrent dependency namespace
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
Labels: area/kubernetes

fix(tqm): correct qbittorrent dependency namespace
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
Labels: area/kubernetes

fix(tqm): correct qbittorrent dependency namespace
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
Labels: area/kubernetes

refactor: archive rook-ceph and remove from Flux management
  archive/README.md
  archive/kubernetes/rook-ceph/kustomization.yaml
  archive/kubernetes/rook-ceph/namespace.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/externalsecret.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/helmrelease.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/kustomization.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/kustomization.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/ks.yaml
Labels: none

refactor: archive rook-ceph and remove from Flux management
  archive/README.md
  archive/kubernetes/rook-ceph/kustomization.yaml
  archive/kubernetes/rook-ceph/namespace.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/externalsecret.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/helmrelease.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/kustomization.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/kustomization.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/ks.yaml
Labels: none

refactor: archive rook-ceph and remove from Flux management
  archive/README.md
  archive/kubernetes/rook-ceph/kustomization.yaml
  archive/kubernetes/rook-ceph/namespace.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/externalsecret.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/grafanadashboards.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/helmrelease.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/kustomization.yaml
  archive/kubernetes/rook-ceph/rook-ceph/app/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/kustomization.yaml
  archive/kubernetes/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  archive/kubernetes/rook-ceph/rook-ceph/ks.yaml
Labels: none

fix(container): update image ghcr.io/gizmotickler/charts/truenas-csi ( 2.2.7 ➔ 2.2.8 )
  kubernetes/apps/truenas-csi/truenas-csi/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/charts/truenas-csi ( 2.2.7 ➔ 2.2.8 )
  kubernetes/apps/truenas-csi/truenas-csi/app/ocirepository.yaml
Labels: area/kubernetes

refactor: rename Longhorn to OpenEBS and update homeops-cli
  .claude/settings.local.json
  archive/components/volsync/externalsecret.yaml
  archive/components/volsync/kustomization.yaml
  archive/components/volsync/pvc.yaml
  archive/components/volsync/replicationdestination.yaml
  archive/components/volsync/replicationsource.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/internal/templates/volsync/replicationdestination.yaml.j2
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

refactor: rename Longhorn to OpenEBS and update homeops-cli
  .claude/settings.local.json
  archive/components/volsync/externalsecret.yaml
  archive/components/volsync/kustomization.yaml
  archive/components/volsync/pvc.yaml
  archive/components/volsync/replicationdestination.yaml
  archive/components/volsync/replicationsource.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/internal/templates/volsync/replicationdestination.yaml.j2
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

refactor: rename Longhorn to OpenEBS and update homeops-cli
  .claude/settings.local.json
  archive/components/volsync/externalsecret.yaml
  archive/components/volsync/kustomization.yaml
  archive/components/volsync/pvc.yaml
  archive/components/volsync/replicationdestination.yaml
  archive/components/volsync/replicationsource.yaml
  cmd/homeops-cli/cmd/bootstrap/bootstrap.go
  cmd/homeops-cli/cmd/talos/talos.go
  cmd/homeops-cli/cmd/volsync/volsync.go
  cmd/homeops-cli/internal/config/manager_test.go
  cmd/homeops-cli/internal/config/versions_test.go
  cmd/homeops-cli/internal/templates/talos/worker.yaml
  cmd/homeops-cli/internal/templates/volsync/replicationdestination.yaml.j2
  cmd/homeops-cli/internal/truenas/vm_manager.go
  cmd/homeops-cli/internal/vsphere/client.go
  cmd/homeops-cli/internal/vsphere/vm_config.go
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/gizmotickler/truenas-scale-csi ( v2.2.7 ➔ v2.2.8 )
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gizmotickler/truenas-scale-csi ( v2.2.7 ➔ v2.2.8 )
  kubernetes/apps/truenas-csi/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes

docs: update README to reflect storage migration from Rook Ceph to TrueNAS iSCSI
  README.md
Labels: area/docs

docs: update README to reflect storage migration from Rook Ceph to TrueNAS iSCSI
  README.md
Labels: area/docs

docs: update README to reflect storage migration from Rook Ceph to TrueNAS iSCSI
  README.md
Labels: area/docs

feat: Add Talos `UserVolumeConfig` for local-hostpath, remove legacy mount configurations, update worker node install details and kernel modules.
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

feat: Add Talos `UserVolumeConfig` for local-hostpath, remove legacy mount configurations, update worker node install details and kernel modules.
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

feat: Add Talos `UserVolumeConfig` for local-hostpath, remove legacy mount configurations, update worker node install details and kernel modules.
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
  cmd/homeops-cli/internal/templates/talos/worker.yaml
Labels: area/homeops-cli

docs: clarify VM storage controller layout
  README.md
Labels: area/docs

docs: clarify VM storage controller layout
  README.md
Labels: area/docs

docs: clarify VM storage controller layout
  README.md
Labels: area/docs
