Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.31 ➔ 0.0.33 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

feat(container): update flux-operator group ( 0.28.0 ➔ 0.29.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update flux-operator group ( 0.28.0 ➔ 0.29.0 )
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(qbittorrent): add missing YAML anchor for securityContext
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): add missing YAML anchor for securityContext
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): add missing YAML anchor for securityContext
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): remove incorrect anchor and define securityContext directly
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): remove incorrect anchor and define securityContext directly
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): remove incorrect anchor and define securityContext directly
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

refactor(qbittorrent): simplify securityContext capabilities syntax
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

refactor(qbittorrent): simplify securityContext capabilities syntax
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

refactor(qbittorrent): simplify securityContext capabilities syntax
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.113.2 ➔ 1.113.3 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/n8n-io/n8n ( 1.113.2 ➔ 1.113.3 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.11.1 ➔ 77.12.0 ) (#308)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

feat(container): update image ghcr.io/prometheus-community/charts/kube-prometheus-stack ( 77.11.1 ➔ 77.12.0 ) (#308)
  cmd/homeops-cli/internal/templates/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes, area/homeops-cli

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.33 ➔ 0.0.34 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.33 ➔ 0.0.34 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.34 ➔ 0.0.35 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-operations/charts/tuppr ( 0.0.34 ➔ 0.0.35 )
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
Labels: area/kubernetes

perf(network): increase ethernet ring buffer sizes to 1024
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

perf(network): increase ethernet ring buffer sizes to 1024
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

perf(network): increase ethernet ring buffer sizes to 1024
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.10.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.11.yaml
  cmd/homeops-cli/internal/templates/talos/nodes/192.168.122.12.yaml
Labels: area/homeops-cli

chore: add mcp__deepwiki__ask_question to allowed commands
  .claude/settings.local.json
Labels: none

chore: add mcp__deepwiki__ask_question to allowed commands
  .claude/settings.local.json
Labels: none

chore: add mcp__deepwiki__ask_question to allowed commands
  .claude/settings.local.json
Labels: none

fix(container): update image ghcr.io/cross-seed/cross-seed ( 6.13.4 ➔ 6.13.5 )
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed ( 6.13.4 ➔ 6.13.5 )
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana-dashboards)!: Update dashboard Node Exporter Full ( 41 ➔ 42 )
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana-dashboards)!: Update dashboard Node Exporter Full ( 41 ➔ 42 )
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v43.0.13 ➔ v43.0.14 )
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action renovatebot/github-action ( v43.0.13 ➔ v43.0.14 )
  .github/workflows/renovate.yaml
Labels: area/github

docs: add AGENTS.md with repository guidelines and disable grafana in kustomization
  AGENTS.md
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

docs: add AGENTS.md with repository guidelines and disable grafana in kustomization
  AGENTS.md
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

docs: add AGENTS.md with repository guidelines and disable grafana in kustomization
  AGENTS.md
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(observability): enable grafana deployment in kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(observability): enable grafana deployment in kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(observability): enable grafana deployment in kustomization
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

build: update go version to 1.25.1 and add claude settings
  .serena/memories/project_overview.md
  cmd/homeops-cli/.claude/settings.local.json
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli

build: update go version to 1.25.1 and add claude settings
  .serena/memories/project_overview.md
  cmd/homeops-cli/.claude/settings.local.json
  cmd/homeops-cli/go.mod
Labels: area/homeops-cli
