Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

refactor(k8s): remove csi-driver-nfs deployment and related files
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/ocirepository.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix: helmrelease
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix: helmrelease
  cmd/homeops-cli/internal/templates/talos/controlplane.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, area/homeops-cli

fix: pause to get longhorn up
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: pause to get longhorn up
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: dataengine v2 storage classes
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
Labels: area/kubernetes

fix: dataengine v2 storage classes
  kubernetes/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
Labels: area/kubernetes

fix: storage classes
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/default.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/kustomization.yaml
Labels: area/kubernetes

fix: storage classes
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/default.yaml
  kubernetes/apps/longhorn-system/longhorn/storageclass/kustomization.yaml
Labels: area/kubernetes

feat: add longhorn-v2-default storage class with dataEngine v2
  kubernetes/apps/longhorn-system/longhorn/storageclass/default.yaml
Labels: area/kubernetes

feat: add longhorn-v2-default storage class with dataEngine v2
  kubernetes/apps/longhorn-system/longhorn/storageclass/default.yaml
Labels: area/kubernetes

fix: update storageClassName
  kubernetes/apps/default/jellyseerr/app/pvc.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: update storageClassName
  kubernetes/apps/default/jellyseerr/app/pvc.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: update longhorn-v2 storage class
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: update longhorn-v2 storage class
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: deploy apps in the default ns
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: deploy apps in the default ns
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: mess up
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: mess up
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: correct the SC in volsync components
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

fix: correct the SC in volsync components
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

chore: redo the apps in default ns
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: redo the apps in default ns
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: remove to research and re-add
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: remove to research and re-add
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

ci(github-action): update action renovatebot/github-action ( v43.0.10 ➔ v43.0.11 ) (#241)
  .github/workflows/renovate.yaml
Labels: area/github

feat: enable fusion app with v2 storage and manual restore
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

feat: enable fusion app with v2 storage and manual restore
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

docs: add comprehensive VolSync v2 restore process documentation
  docs/volsync-v2-restore-process.md
Labels: none

docs: add comprehensive VolSync v2 restore process documentation
  docs/volsync-v2-restore-process.md
Labels: none

fix: disable VolSync source backups for v2 compatibility
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

fix: disable VolSync source backups for v2 compatibility
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

feat: enable sabnzbd for v2 restore
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: enable sabnzbd for v2 restore
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): disable unused monitoring and media apps
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

refactor(kubernetes): disable unused monitoring and media apps
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove gatus component from ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

refactor(rook-ceph): remove gatus component from ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore: update kubernetes schema URLs from schemas to schema
  kubernetes/apps/default/n8n/app/externalsecret.yaml
  kubernetes/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/volsync-system/kopia/app/externalsecret.yaml
  kubernetes/apps/volsync-system/kopia/ks.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

chore: update kubernetes schema URLs from schemas to schema
  kubernetes/apps/default/n8n/app/externalsecret.yaml
  kubernetes/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/volsync-system/kopia/app/externalsecret.yaml
  kubernetes/apps/volsync-system/kopia/ks.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"
