Repository GizmoTickler/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/homeops-cli, area/trunenas-deep-explorer

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/internal/templates/bootstrap/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/homeops-cli:
  - changed-files:
      - any-glob-to-any-file: "cmd/homeops-cli/**/*"
area/trunenas-deep-explorer:
  - changed-files:
      - any-glob-to-any-file: "cmd/truenas-deep-explorer/**/*"

feat(container): update image ghcr.io/n8n-io/n8n ( 1.115.1 ➔ 1.116.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/n8n-io/n8n ( 1.115.1 ➔ 1.116.0 )
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes

Remove Serena project config and internal documentation add openspec
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/homeops-cli-architecture-analysis.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  AGENTS.md
  CLAUDE.md
  openspec/AGENTS.md
  openspec/project.md
Labels: none

Remove Serena project config and internal documentation add openspec
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/homeops-cli-architecture-analysis.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  AGENTS.md
  CLAUDE.md
  openspec/AGENTS.md
  openspec/project.md
Labels: none

Remove Serena project config and internal documentation add openspec
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/homeops-cli-architecture-analysis.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  AGENTS.md
  CLAUDE.md
  openspec/AGENTS.md
  openspec/project.md
Labels: none

feat(container): update image docker.io/getmeili/meilisearch ( v1.22.3 ➔ v1.23.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/getmeili/meilisearch ( v1.22.3 ➔ v1.23.0 )
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.4.0 ➔ 11.4.1 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/prometheus-community/charts/prometheus-blackbox-exporter ( 11.4.0 ➔ 11.4.1 )
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes

Remove all permissions from allow list in settings.local.json
  .claude/settings.local.json
Labels: none

Remove all permissions from allow list in settings.local.json
  .claude/settings.local.json
Labels: none

Remove all permissions from allow list in settings.local.json
  .claude/settings.local.json
Labels: none

feat(container): update image mirror.gcr.io/coredns/coredns ( 1.12.4 ➔ 1.13.1 )
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image mirror.gcr.io/coredns/coredns ( 1.12.4 ➔ 1.13.1 )
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update dependency go ( 1.25.2 ➔ 1.25.3 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(deps): update dependency go ( 1.25.2 ➔ 1.25.3 )
  cmd/truenas-deep-explorer/go.mod
Labels: area/trunenas-deep-explorer

fix(loki): add tmp volume mount for sidecar container
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(loki): add tmp volume mount for sidecar container
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(loki): add tmp volume mount for sidecar container
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(loki): mount tmp volume to sidecar container
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(loki): mount tmp volume to sidecar container
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(loki): mount tmp volume to sidecar container
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: Enable persistent storage and ICMP checks for Gatus
  kubernetes/apps/observability/gatus/app/configmap.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: Enable persistent storage and ICMP checks for Gatus
  kubernetes/apps/observability/gatus/app/configmap.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore: Enable persistent storage and ICMP checks for Gatus
  kubernetes/apps/observability/gatus/app/configmap.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(observability): migrate from Loki to Victoria Logs
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
Labels: area/kubernetes

feat(observability): migrate from Loki to Victoria Logs
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
Labels: area/kubernetes

feat(observability): migrate from Loki to Victoria Logs
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
Labels: area/kubernetes

chore: Reduce Alertmanager groupInterval to 5m and remove schema comment
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes

chore: Reduce Alertmanager groupInterval to 5m and remove schema comment
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes

chore: Reduce Alertmanager groupInterval to 5m and remove schema comment
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes

chore: Remove Loki deployment and update Fluent Bit config
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/loki/ks.yaml
Labels: area/kubernetes

chore: Remove Loki deployment and update Fluent Bit config
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/loki/ks.yaml
Labels: area/kubernetes

chore: Remove Loki deployment and update Fluent Bit config
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/loki/ks.yaml
Labels: area/kubernetes

fix(gatus): add missing externalsecret for gatus-secret
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/kubernetes

fix(gatus): add missing externalsecret for gatus-secret
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/kubernetes

fix(gatus): add missing externalsecret for gatus-secret
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/kubernetes

fix(gatus): remove envFrom secret reference
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/kubernetes

fix(gatus): remove envFrom secret reference
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/kubernetes

fix(gatus): remove envFrom secret reference
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/kubernetes
