Repository GizmoTickler/home-ops, pull requests merged in 2025-08, with the labels that each got.

#6 Update README.md
  README.md
Labels: area/docs

#15 enable Jumbo frame support
  talos/controlplane.yaml.j2
Labels: area/talos

#23 fix: correct typo in nas01 target configuration in probes.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

#24 fix: add port to passwords target in scrapeconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

#25 feat: add Kubernetes manifests for autobrr, cross-seed, qbittorrent, …
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/kustomization.yaml
  kubernetes/apps/default/autobrr/app/lokirule.yaml
  kubernetes/apps/default/autobrr/app/prometheusrule.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/lokirule.yaml
  kubernetes/apps/default/cross-seed/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/lokirule.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/kustomization.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/tqm/app/config.sops.yaml
  kubernetes/apps/default/tqm/app/helmrelease.yaml
  kubernetes/apps/default/tqm/app/kustomization.yaml
  kubernetes/apps/default/tqm/ks.yaml
Labels: area/kubernetes

#30 feat: update memory resource values to use binary SI units in helmrel…
  kubernetes/apps/default/fusion/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

#35 feat: add Corefile, externalsecret, and kustomization configurations for qbittorrent with gluetun and coredns integration
  kubernetes/apps/default/qbittorrent/app/config/Corefile
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/kustomizeconfig.yaml
  temp-onepassword-secret.yaml
Labels: area/kubernetes

#37 fix: update persistence configuration in helmrelease.yaml for qbittor…
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

#45 fix: update secret reference name in helmrelease.yaml for qbittorrent
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

#47 fix(cross-seed): remove qbittorrent authentication for cluster IPs
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

#124 Feat/add new applications
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

#128 fix: remove runAsNonRoot from securityContext
  kubernetes/apps/default/karakeep/app/helmrelease.yaml
Labels: area/kubernetes

#140 feat(n8n): add form path to helmrelease ingress
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/kubernetes
